<footer class="footer footer-black  footer-white " (contextmenu)="__elementSelectionService.select('876406751',$event)" [ngStyle]="__elementSelectionService.getStyles('876406751')"(click)='__elementSelectionService.clear()'>
	<div class="container" (contextmenu)="__elementSelectionService.select('639922329',$event)" [ngStyle]="__elementSelectionService.getStyles('639922329')">
		<div class="row" (contextmenu)="__elementSelectionService.select('790331533',$event)" [ngStyle]="__elementSelectionService.getStyles('790331533')">
			<nav class="footer-nav" (contextmenu)="__elementSelectionService.select('2085259438',$event)" [ngStyle]="__elementSelectionService.getStyles('2085259438')">
				<ul (contextmenu)="__elementSelectionService.select('77510245',$event)" [ngStyle]="__elementSelectionService.getStyles('77510245')">
					<li (contextmenu)="__elementSelectionService.select('20688599',$event)" [ngStyle]="__elementSelectionService.getStyles('20688599')">
						<a href="https://www.slicksales.co.ke" target="_blank" (contextmenu)="__elementSelectionService.select('1918327189',$event)" [ngStyle]="__elementSelectionService.getStyles('1918327189')">
							Creative Team
						</a>
					</li>
					<li (contextmenu)="__elementSelectionService.select('1525719177',$event)" [ngStyle]="__elementSelectionService.getStyles('1525719177')">
						<a href="http://blog.slicksales.co.ke/" target="_blank" (contextmenu)="__elementSelectionService.select('724305964',$event)" [ngStyle]="__elementSelectionService.getStyles('724305964')">Blog</a>
					</li>
					<li (contextmenu)="__elementSelectionService.select('2008897160',$event)" [ngStyle]="__elementSelectionService.getStyles('2008897160')">
						<a href="https://www.slicksales.co.ke/license" target="_blank" (contextmenu)="__elementSelectionService.select('1072570907',$event)" [ngStyle]="__elementSelectionService.getStyles('1072570907')">
							Licenses
						</a>
					</li>
				</ul>
			</nav>
			<div class="credits ml-auto" (contextmenu)="__elementSelectionService.select('1615149447',$event)" [ngStyle]="__elementSelectionService.getStyles('1615149447')">
				<span class="copyright" (contextmenu)="__elementSelectionService.select('727920843',$event)" [ngStyle]="__elementSelectionService.getStyles('727920843')"> 2021 &#169; CGA, made with <i class="fa fa-heart heart" (contextmenu)="__elementSelectionService.select('913779257',$event)" [ngStyle]="__elementSelectionService.getStyles('913779257')"></i> by Indy Limited
				</span>
			</div>
		</div>
	</div>
</footer>