<div class="row" (contextmenu)="__elementSelectionService.select('503133575',$event)" [ngStyle]="__elementSelectionService.getStyles('503133575')"(click)='__elementSelectionService.clear()'>
  <div class="col-lg-4 col-md-6 col-sm-6" (contextmenu)="__elementSelectionService.select('148364285',$event)" [ngStyle]="__elementSelectionService.getStyles('148364285')">
    <div class="card card-stats" (contextmenu)="__elementSelectionService.select('1258758924',$event)" [ngStyle]="__elementSelectionService.getStyles('1258758924')">
      <div class="card-body " (contextmenu)="__elementSelectionService.select('1452330378',$event)" [ngStyle]="__elementSelectionService.getStyles('1452330378')">
        <div class="row" (contextmenu)="__elementSelectionService.select('1488842308',$event)" [ngStyle]="__elementSelectionService.getStyles('1488842308')">
          <div class="col-5 col-md-4" (contextmenu)="__elementSelectionService.select('1854131869',$event)" [ngStyle]="__elementSelectionService.getStyles('1854131869')">
            <div class="icon-big text-center icon-warning" (contextmenu)="__elementSelectionService.select('485396226',$event)" [ngStyle]="__elementSelectionService.getStyles('485396226')">
              <i class="nc-icon nc-single-02 text-warning" (contextmenu)="__elementSelectionService.select('1287847304',$event)" [ngStyle]="__elementSelectionService.getStyles('1287847304')"></i>
            </div>
          </div>
          <div class="col-7 col-md-8" (contextmenu)="__elementSelectionService.select('2067461530',$event)" [ngStyle]="__elementSelectionService.getStyles('2067461530')">
            <div class="numbers" (contextmenu)="__elementSelectionService.select('188558150',$event)" [ngStyle]="__elementSelectionService.getStyles('188558150')">
              <p class="card-category" (contextmenu)="__elementSelectionService.select('1665348540',$event)" [ngStyle]="__elementSelectionService.getStyles('1665348540')">Members</p>
              <p class="card-title" (contextmenu)="__elementSelectionService.select('943107297',$event)" [ngStyle]="__elementSelectionService.getStyles('943107297')">+{{topStats?.memberCount || 0}}
                </p><p (contextmenu)="__elementSelectionService.select('336336984',$event)" [ngStyle]="__elementSelectionService.getStyles('336336984')">
            </p></div>
          </div>
        </div>
      </div>
      <div class="card-footer " (contextmenu)="__elementSelectionService.select('1980331652',$event)" [ngStyle]="__elementSelectionService.getStyles('1980331652')">
        <hr (contextmenu)="__elementSelectionService.select('212690218',$event)" [ngStyle]="__elementSelectionService.getStyles('212690218')">
        <div class="stats" (contextmenu)="__elementSelectionService.select('24216058',$event)" [ngStyle]="__elementSelectionService.getStyles('24216058')">
          <i class="fa fa-refresh" (contextmenu)="__elementSelectionService.select('1967888212',$event)" [ngStyle]="__elementSelectionService.getStyles('1967888212')"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6" (contextmenu)="__elementSelectionService.select('1212899887',$event)" [ngStyle]="__elementSelectionService.getStyles('1212899887')">
    <div class="card card-stats" (contextmenu)="__elementSelectionService.select('791206457',$event)" [ngStyle]="__elementSelectionService.getStyles('791206457')">
      <div class="card-body " (contextmenu)="__elementSelectionService.select('584835191',$event)" [ngStyle]="__elementSelectionService.getStyles('584835191')">
        <div class="row" (contextmenu)="__elementSelectionService.select('193143375',$event)" [ngStyle]="__elementSelectionService.getStyles('193143375')">
          <div class="col-5 col-md-4" (contextmenu)="__elementSelectionService.select('415920906',$event)" [ngStyle]="__elementSelectionService.getStyles('415920906')">
            <div class="icon-big text-center icon-warning" (contextmenu)="__elementSelectionService.select('1910147896',$event)" [ngStyle]="__elementSelectionService.getStyles('1910147896')">
              <i class="nc-icon nc-money-coins text-success" (contextmenu)="__elementSelectionService.select('218039596',$event)" [ngStyle]="__elementSelectionService.getStyles('218039596')"></i>
            </div>
          </div>
          <div class="col-7 col-md-8" (contextmenu)="__elementSelectionService.select('519888806',$event)" [ngStyle]="__elementSelectionService.getStyles('519888806')">
            <div class="numbers" (contextmenu)="__elementSelectionService.select('1432726864',$event)" [ngStyle]="__elementSelectionService.getStyles('1432726864')">
              <p class="card-category" (contextmenu)="__elementSelectionService.select('1883471759',$event)" [ngStyle]="__elementSelectionService.getStyles('1883471759')">Registration Fees</p>
              <p class="card-title" (contextmenu)="__elementSelectionService.select('81904334',$event)" [ngStyle]="__elementSelectionService.getStyles('81904334')">Kes {{topStats?.registrationFees || 0}}
                </p><p (contextmenu)="__elementSelectionService.select('2081958939',$event)" [ngStyle]="__elementSelectionService.getStyles('2081958939')">
            </p></div>
          </div>
        </div>
      </div>
      <div class="card-footer " (contextmenu)="__elementSelectionService.select('82776549',$event)" [ngStyle]="__elementSelectionService.getStyles('82776549')">
        <hr (contextmenu)="__elementSelectionService.select('1866181104',$event)" [ngStyle]="__elementSelectionService.getStyles('1866181104')">
        <div class="stats" (contextmenu)="__elementSelectionService.select('1707532651',$event)" [ngStyle]="__elementSelectionService.getStyles('1707532651')">
          <i class="fa fa-calendar-o" (contextmenu)="__elementSelectionService.select('1485005116',$event)" [ngStyle]="__elementSelectionService.getStyles('1485005116')"></i> Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6" (contextmenu)="__elementSelectionService.select('614413296',$event)" [ngStyle]="__elementSelectionService.getStyles('614413296')">
    <div class="card card-stats" (contextmenu)="__elementSelectionService.select('374958778',$event)" [ngStyle]="__elementSelectionService.getStyles('374958778')">
      <div class="card-body " (contextmenu)="__elementSelectionService.select('1153830051',$event)" [ngStyle]="__elementSelectionService.getStyles('1153830051')">
        <div class="row" (contextmenu)="__elementSelectionService.select('118431622',$event)" [ngStyle]="__elementSelectionService.getStyles('118431622')">
          <div class="col-5 col-md-4" (contextmenu)="__elementSelectionService.select('1523760164',$event)" [ngStyle]="__elementSelectionService.getStyles('1523760164')">
            <div class="icon-big text-center icon-warning" (contextmenu)="__elementSelectionService.select('126026110',$event)" [ngStyle]="__elementSelectionService.getStyles('126026110')">
              <i class="nc-icon nc-favourite-28 text-primary" (contextmenu)="__elementSelectionService.select('1943320121',$event)" [ngStyle]="__elementSelectionService.getStyles('1943320121')"></i>
            </div>
          </div>
          <div class="col-7 col-md-8" (contextmenu)="__elementSelectionService.select('215512298',$event)" [ngStyle]="__elementSelectionService.getStyles('215512298')">
            <div class="numbers" (contextmenu)="__elementSelectionService.select('1126488777',$event)" [ngStyle]="__elementSelectionService.getStyles('1126488777')">
              <p class="card-category" (contextmenu)="__elementSelectionService.select('1555282722',$event)" [ngStyle]="__elementSelectionService.getStyles('1555282722')">Agripreneurs</p>
              <p class="card-title" (contextmenu)="__elementSelectionService.select('176208883',$event)" [ngStyle]="__elementSelectionService.getStyles('176208883')">+ {{topStats?.agriprenuerCount || 0}}
                </p><p (contextmenu)="__elementSelectionService.select('1160835437',$event)" [ngStyle]="__elementSelectionService.getStyles('1160835437')">
            </p></div>
          </div>
        </div>
      </div>
      <div class="card-footer " (contextmenu)="__elementSelectionService.select('539466128',$event)" [ngStyle]="__elementSelectionService.getStyles('539466128')">
        <hr (contextmenu)="__elementSelectionService.select('1628195869',$event)" [ngStyle]="__elementSelectionService.getStyles('1628195869')">
        <div class="stats" (contextmenu)="__elementSelectionService.select('1859923180',$event)" [ngStyle]="__elementSelectionService.getStyles('1859923180')">
          <i class="fa fa-refresh" (contextmenu)="__elementSelectionService.select('749011907',$event)" [ngStyle]="__elementSelectionService.getStyles('749011907')"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" (contextmenu)="__elementSelectionService.select('1604063357',$event)" [ngStyle]="__elementSelectionService.getStyles('1604063357')"(click)='__elementSelectionService.clear()'>
  <div class="col-md-12" (contextmenu)="__elementSelectionService.select('819127518',$event)" [ngStyle]="__elementSelectionService.getStyles('819127518')">
    <div class="card " (contextmenu)="__elementSelectionService.select('859646589',$event)" [ngStyle]="__elementSelectionService.getStyles('859646589')">
      <div class="card-header " (contextmenu)="__elementSelectionService.select('1007274938',$event)" [ngStyle]="__elementSelectionService.getStyles('1007274938')">
        <h5 class="card-title" (contextmenu)="__elementSelectionService.select('943090915',$event)" [ngStyle]="__elementSelectionService.getStyles('943090915')">Paid up members by numbers</h5>
        <p class="card-category" (contextmenu)="__elementSelectionService.select('526752559',$event)" [ngStyle]="__elementSelectionService.getStyles('526752559')">Yearly performance</p>
      </div>
      <div class="card-body " (contextmenu)="__elementSelectionService.select('1162949756',$event)" [ngStyle]="__elementSelectionService.getStyles('1162949756')">
        <canvas id="chartMemberCategoryCount" width="400" height="100" (contextmenu)="__elementSelectionService.select('930575223',$event)" [ngStyle]="__elementSelectionService.getStyles('930575223')"></canvas>
      </div>
      <div class="card-footer " (contextmenu)="__elementSelectionService.select('1009602574',$event)" [ngStyle]="__elementSelectionService.getStyles('1009602574')">
        <hr (contextmenu)="__elementSelectionService.select('262277191',$event)" [ngStyle]="__elementSelectionService.getStyles('262277191')">
        <div class="stats" (contextmenu)="__elementSelectionService.select('1134309147',$event)" [ngStyle]="__elementSelectionService.getStyles('1134309147')">
          <i class="fa fa-history" (contextmenu)="__elementSelectionService.select('1341919444',$event)" [ngStyle]="__elementSelectionService.getStyles('1341919444')"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" (contextmenu)="__elementSelectionService.select('740701579',$event)" [ngStyle]="__elementSelectionService.getStyles('740701579')"(click)='__elementSelectionService.clear()'>
  <div class="col-md-12" (contextmenu)="__elementSelectionService.select('419927045',$event)" [ngStyle]="__elementSelectionService.getStyles('419927045')">
    <div class="card " (contextmenu)="__elementSelectionService.select('116934482',$event)" [ngStyle]="__elementSelectionService.getStyles('116934482')">
      <div class="card-header" (contextmenu)="__elementSelectionService.select('608064609',$event)" [ngStyle]="__elementSelectionService.getStyles('608064609')">
        <h5 class="card-title" (contextmenu)="__elementSelectionService.select('199989890',$event)" [ngStyle]="__elementSelectionService.getStyles('199989890')">No of members recruited per agent</h5>
        <p class="card-category" (contextmenu)="__elementSelectionService.select('778670150',$event)" [ngStyle]="__elementSelectionService.getStyles('778670150')">Yearly performance</p>
      </div>
      <div class="card-body " (contextmenu)="__elementSelectionService.select('1785696270',$event)" [ngStyle]="__elementSelectionService.getStyles('1785696270')">
        <canvas id="chartMembersByAgents" width="400" height="100" (contextmenu)="__elementSelectionService.select('1009015934',$event)" [ngStyle]="__elementSelectionService.getStyles('1009015934')"></canvas>
      </div>
      <div class="card-footer " (contextmenu)="__elementSelectionService.select('1808596722',$event)" [ngStyle]="__elementSelectionService.getStyles('1808596722')">
        <hr (contextmenu)="__elementSelectionService.select('163952749',$event)" [ngStyle]="__elementSelectionService.getStyles('163952749')">
        <div class="stats" (contextmenu)="__elementSelectionService.select('524068539',$event)" [ngStyle]="__elementSelectionService.getStyles('524068539')">
          <i class="fa fa-history" (contextmenu)="__elementSelectionService.select('23453326',$event)" [ngStyle]="__elementSelectionService.getStyles('23453326')"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>