<h3 class="pt-3" (contextmenu)="__elementSelectionService.select('1385883876',$event)" [ngStyle]="__elementSelectionService.getStyles('1385883876')"(click)='__elementSelectionService.clear()'>{{title}}</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (contextmenu)="__elementSelectionService.select('1733800253',$event)" [ngStyle]="__elementSelectionService.getStyles('1733800253')"(click)='__elementSelectionService.clear()'>
    <div class="form-row" (contextmenu)="__elementSelectionService.select('1605841334',$event)" [ngStyle]="__elementSelectionService.getStyles('1605841334')">
        <div class="form-group col" (contextmenu)="__elementSelectionService.select('1502790628',$event)" [ngStyle]="__elementSelectionService.getStyles('1502790628')">
            <label (contextmenu)="__elementSelectionService.select('60182450',$event)" [ngStyle]="__elementSelectionService.getStyles('60182450')">Title</label>
            <select formControlName="Title" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.Title.errors }" (contextmenu)="__elementSelectionService.select('547637648',$event)" [ngStyle]="__elementSelectionService.getStyles('547637648')">
                <option value (contextmenu)="__elementSelectionService.select('1190721203',$event)" [ngStyle]="__elementSelectionService.getStyles('1190721203')"></option>
                <option value="Mr" (contextmenu)="__elementSelectionService.select('163221611',$event)" [ngStyle]="__elementSelectionService.getStyles('163221611')">Mr</option>
                <option value="Mrs" (contextmenu)="__elementSelectionService.select('945861937',$event)" [ngStyle]="__elementSelectionService.getStyles('945861937')">Mrs</option>
                <option value="Miss" (contextmenu)="__elementSelectionService.select('982156132',$event)" [ngStyle]="__elementSelectionService.getStyles('982156132')">Miss</option>
                <option value="Ms" (contextmenu)="__elementSelectionService.select('994490344',$event)" [ngStyle]="__elementSelectionService.getStyles('994490344')">Ms</option>
            </select>
            <div *ngIf="submitted &#38;&#38; f.Title.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1713520931',$event)" [ngStyle]="__elementSelectionService.getStyles('1713520931')">
                <div *ngIf="f.Title.errors.required" (contextmenu)="__elementSelectionService.select('1532410347',$event)" [ngStyle]="__elementSelectionService.getStyles('1532410347')">Title is required</div>
            </div>
        </div>
        <div class="form-group col-5" (contextmenu)="__elementSelectionService.select('891916358',$event)" [ngStyle]="__elementSelectionService.getStyles('891916358')">
            <label (contextmenu)="__elementSelectionService.select('1004443900',$event)" [ngStyle]="__elementSelectionService.getStyles('1004443900')">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.username.errors }" (contextmenu)="__elementSelectionService.select('1333915133',$event)" [ngStyle]="__elementSelectionService.getStyles('1333915133')">
            <div *ngIf="submitted &#38;&#38; f.username.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('561421319',$event)" [ngStyle]="__elementSelectionService.getStyles('561421319')">
                <div *ngIf="f.username.errors.required" (contextmenu)="__elementSelectionService.select('1487180751',$event)" [ngStyle]="__elementSelectionService.getStyles('1487180751')">Username is required</div>
            </div>
        </div>
        <div class="form-group col-5" (contextmenu)="__elementSelectionService.select('393410911',$event)" [ngStyle]="__elementSelectionService.getStyles('393410911')">
            <label (contextmenu)="__elementSelectionService.select('1474035785',$event)" [ngStyle]="__elementSelectionService.getStyles('1474035785')">Full Name</label>
            <input type="text" formControlName="FullName" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.FullName.errors }" uppercase (contextmenu)="__elementSelectionService.select('1121921041',$event)" [ngStyle]="__elementSelectionService.getStyles('1121921041')">
            <div *ngIf="submitted &#38;&#38; f.FullName.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1050276206',$event)" [ngStyle]="__elementSelectionService.getStyles('1050276206')">
                <div *ngIf="f.FullName.errors.required" (contextmenu)="__elementSelectionService.select('1042370531',$event)" [ngStyle]="__elementSelectionService.getStyles('1042370531')">Full Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row" (contextmenu)="__elementSelectionService.select('164159014',$event)" [ngStyle]="__elementSelectionService.getStyles('164159014')">
        <div class="form-group col-4" (contextmenu)="__elementSelectionService.select('854384814',$event)" [ngStyle]="__elementSelectionService.getStyles('854384814')">
            <label (contextmenu)="__elementSelectionService.select('1125082396',$event)" [ngStyle]="__elementSelectionService.getStyles('1125082396')">Email Address</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.email.errors }" (contextmenu)="__elementSelectionService.select('2003133641',$event)" [ngStyle]="__elementSelectionService.getStyles('2003133641')">
            <div *ngIf="submitted &#38;&#38; f.email.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('940817901',$event)" [ngStyle]="__elementSelectionService.getStyles('940817901')">
                <div *ngIf="f.email.errors.required" (contextmenu)="__elementSelectionService.select('1831846865',$event)" [ngStyle]="__elementSelectionService.getStyles('1831846865')">Email is required</div>
                <div *ngIf="f.email.errors.email" (contextmenu)="__elementSelectionService.select('1429241069',$event)" [ngStyle]="__elementSelectionService.getStyles('1429241069')">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group col-4" (contextmenu)="__elementSelectionService.select('154077614',$event)" [ngStyle]="__elementSelectionService.getStyles('154077614')">
            <label (contextmenu)="__elementSelectionService.select('745943475',$event)" [ngStyle]="__elementSelectionService.getStyles('745943475')">Phone Number</label>
            <input class="form-control" placeholder="e.g. +254 000 000 000" formControlName="PhoneNo" type="text" [ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}" mask="(+000) 000-000000" (contextmenu)="__elementSelectionService.select('1070878375',$event)" [ngStyle]="__elementSelectionService.getStyles('1070878375')">
            <div *ngIf="submitted &#38;&#38; f.PhoneNo.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1767217828',$event)" [ngStyle]="__elementSelectionService.getStyles('1767217828')">
                <div *ngIf="f.PhoneNo.errors.required" (contextmenu)="__elementSelectionService.select('415669337',$event)" [ngStyle]="__elementSelectionService.getStyles('415669337')">Phone number is required</div>
                <div *ngIf="f.PhoneNo.errors.minlength" (contextmenu)="__elementSelectionService.select('94424411',$event)" [ngStyle]="__elementSelectionService.getStyles('94424411')">Must be equal to 12 character(s)</div>
                <div *ngIf="f.PhoneNo.errors.maxlength" (contextmenu)="__elementSelectionService.select('404490814',$event)" [ngStyle]="__elementSelectionService.getStyles('404490814')">Must be equal to 12 character(s)</div>
				<div *ngIf="f.PhoneNo.errors.pattern" (contextmenu)="__elementSelectionService.select('1574511395',$event)" [ngStyle]="__elementSelectionService.getStyles('1574511395')">Incorrect! use format e.g. (+000) 000-000000</div>
            </div>
        </div>
        <div class="form-group col" (contextmenu)="__elementSelectionService.select('1909541013',$event)" [ngStyle]="__elementSelectionService.getStyles('1909541013')">
            <label (contextmenu)="__elementSelectionService.select('1922599393',$event)" [ngStyle]="__elementSelectionService.getStyles('1922599393')">User Type</label>
            <select formControlName="UserType" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.UserType.errors }" (contextmenu)="__elementSelectionService.select('179122294',$event)" [ngStyle]="__elementSelectionService.getStyles('179122294')">
                <option value (contextmenu)="__elementSelectionService.select('511298107',$event)" [ngStyle]="__elementSelectionService.getStyles('511298107')">Select Type</option>
                <option value="manager" (contextmenu)="__elementSelectionService.select('1704443009',$event)" [ngStyle]="__elementSelectionService.getStyles('1704443009')">{{constants.userTypes.manager.singular}}</option>
                <option value="agricoordinator" (contextmenu)="__elementSelectionService.select('1408689747',$event)" [ngStyle]="__elementSelectionService.getStyles('1408689747')">{{constants.userTypes.agricoordinator.singular}}</option>                
                <option value="board" (contextmenu)="__elementSelectionService.select('817582811',$event)" [ngStyle]="__elementSelectionService.getStyles('817582811')">{{constants.userTypes.board.singular}}</option>
                <option value="admin" (contextmenu)="__elementSelectionService.select('1615036133',$event)" [ngStyle]="__elementSelectionService.getStyles('1615036133')">{{constants.userTypes.admin.singular}}</option>
            </select>
            <div *ngIf="submitted &#38;&#38; f.UserType.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('954775000',$event)" [ngStyle]="__elementSelectionService.getStyles('954775000')">
                <div *ngIf="f.UserType.errors.required" (contextmenu)="__elementSelectionService.select('1548228840',$event)" [ngStyle]="__elementSelectionService.getStyles('1548228840')">User Type is required</div>
            </div>
        </div>
    </div>
    <div *ngIf="!isAddMode" (contextmenu)="__elementSelectionService.select('906994736',$event)" [ngStyle]="__elementSelectionService.getStyles('906994736')">
        <h3 class="pt-3" (contextmenu)="__elementSelectionService.select('1304449090',$event)" [ngStyle]="__elementSelectionService.getStyles('1304449090')">Change Password</h3>
        <p (contextmenu)="__elementSelectionService.select('813398615',$event)" [ngStyle]="__elementSelectionService.getStyles('813398615')">(Leave blank to keep the same password)</p>
    </div>
    <div *ngIf="isAddMode" (contextmenu)="__elementSelectionService.select('745057256',$event)" [ngStyle]="__elementSelectionService.getStyles('745057256')">
        <h3 class="pt-3" (contextmenu)="__elementSelectionService.select('1737340017',$event)" [ngStyle]="__elementSelectionService.getStyles('1737340017')">Set Password</h3>
        <p (contextmenu)="__elementSelectionService.select('671136386',$event)" [ngStyle]="__elementSelectionService.getStyles('671136386')">(Leave blank to autogenerate password)</p>
    </div>
    <div class="form-row" (contextmenu)="__elementSelectionService.select('1128449047',$event)" [ngStyle]="__elementSelectionService.getStyles('1128449047')">
        <div class="form-group col" (contextmenu)="__elementSelectionService.select('714870908',$event)" [ngStyle]="__elementSelectionService.getStyles('714870908')">
            <label (contextmenu)="__elementSelectionService.select('548935522',$event)" [ngStyle]="__elementSelectionService.getStyles('548935522')">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.password.errors }" (contextmenu)="__elementSelectionService.select('230784349',$event)" [ngStyle]="__elementSelectionService.getStyles('230784349')">
            <div *ngIf="submitted &#38;&#38; f.password.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1492542094',$event)" [ngStyle]="__elementSelectionService.getStyles('1492542094')">
                <div *ngIf="f.password.errors.required" (contextmenu)="__elementSelectionService.select('312706588',$event)" [ngStyle]="__elementSelectionService.getStyles('312706588')">Password is required</div>
                <div *ngIf="f.password.errors.minlength" (contextmenu)="__elementSelectionService.select('1925218349',$event)" [ngStyle]="__elementSelectionService.getStyles('1925218349')">Password must be at least 8 characters</div>
            </div>
        </div>
        <div class="form-group col" (contextmenu)="__elementSelectionService.select('1961701565',$event)" [ngStyle]="__elementSelectionService.getStyles('1961701565')">
            <label (contextmenu)="__elementSelectionService.select('535088828',$event)" [ngStyle]="__elementSelectionService.getStyles('535088828')">Confirm Password</label>
            <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.ConfirmPassword.errors }" (contextmenu)="__elementSelectionService.select('293152826',$event)" [ngStyle]="__elementSelectionService.getStyles('293152826')">
            <div *ngIf="submitted &#38;&#38; f.ConfirmPassword.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1741558736',$event)" [ngStyle]="__elementSelectionService.getStyles('1741558736')">
                <div *ngIf="f.ConfirmPassword.errors.required" (contextmenu)="__elementSelectionService.select('2059124556',$event)" [ngStyle]="__elementSelectionService.getStyles('2059124556')">Confirm Password is required</div>
                <div *ngIf="f.ConfirmPassword.errors.mustMatch" (contextmenu)="__elementSelectionService.select('1133715337',$event)" [ngStyle]="__elementSelectionService.getStyles('1133715337')">Passwords must match</div>
            </div>
        </div>
    </div>
    <div class="form-group" (contextmenu)="__elementSelectionService.select('468965177',$event)" [ngStyle]="__elementSelectionService.getStyles('468965177')">
        <button [disabled]="loading" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('204740356',$event)" [ngStyle]="__elementSelectionService.getStyles('204740356')">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" (contextmenu)="__elementSelectionService.select('726833169',$event)" [ngStyle]="__elementSelectionService.getStyles('726833169')"></span>
            Save
        </button>
        <a routerLink="{{parentUrl}}" class="btn btn-link" (contextmenu)="__elementSelectionService.select('1894167973',$event)" [ngStyle]="__elementSelectionService.getStyles('1894167973')">Cancel</a>
    </div>
</form>