<div class="row"
	(contextmenu)="__elementSelectionService.select('1071522681',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1071522681')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-12"
		(contextmenu)="__elementSelectionService.select('1619675769',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1619675769')">
		<div class="card"
			(contextmenu)="__elementSelectionService.select('771844346',$event)"
			[ngStyle]="__elementSelectionService.getStyles('771844346')">
			<div class="card-header"
				(contextmenu)="__elementSelectionService.select('845959829',$event)"
				[ngStyle]="__elementSelectionService.getStyles('845959829')">
				<h5 class="title"
					(contextmenu)="__elementSelectionService.select('1009696105',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1009696105')">Paper
					Table Heading</h5>
				<p class="category"
					(contextmenu)="__elementSelectionService.select('247853335',$event)"
					[ngStyle]="__elementSelectionService.getStyles('247853335')">Created
					using Montserrat Font Family</p>
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('732307085',$event)"
				[ngStyle]="__elementSelectionService.getStyles('732307085')">
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('2064517526',$event)"
					[ngStyle]="__elementSelectionService.getStyles('2064517526')">
					<h1
						(contextmenu)="__elementSelectionService.select('839001707',$event)"
						[ngStyle]="__elementSelectionService.getStyles('839001707')">
						<span
							(contextmenu)="__elementSelectionService.select('334374005',$event)"
							[ngStyle]="__elementSelectionService.getStyles('334374005')">Header
							1</span>The Life of Paper Dashboard
					</h1>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('136778483',$event)"
					[ngStyle]="__elementSelectionService.getStyles('136778483')">
					<h2
						(contextmenu)="__elementSelectionService.select('65988824',$event)"
						[ngStyle]="__elementSelectionService.getStyles('65988824')">
						<span
							(contextmenu)="__elementSelectionService.select('553433008',$event)"
							[ngStyle]="__elementSelectionService.getStyles('553433008')">Header
							2</span>The Life of Paper Dashboard
					</h2>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('1121182294',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1121182294')">
					<h3
						(contextmenu)="__elementSelectionService.select('1918095477',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1918095477')">
						<span
							(contextmenu)="__elementSelectionService.select('101670607',$event)"
							[ngStyle]="__elementSelectionService.getStyles('101670607')">Header
							3</span>The Life of Paper Dashboard
					</h3>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('1124808841',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1124808841')">
					<h4
						(contextmenu)="__elementSelectionService.select('504869868',$event)"
						[ngStyle]="__elementSelectionService.getStyles('504869868')">
						<span
							(contextmenu)="__elementSelectionService.select('1915426851',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1915426851')">Header
							4</span>The Life of Paper Dashboard
					</h4>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('237951375',$event)"
					[ngStyle]="__elementSelectionService.getStyles('237951375')">
					<h5
						(contextmenu)="__elementSelectionService.select('343631795',$event)"
						[ngStyle]="__elementSelectionService.getStyles('343631795')">
						<span
							(contextmenu)="__elementSelectionService.select('928001539',$event)"
							[ngStyle]="__elementSelectionService.getStyles('928001539')">Header
							5</span>The Life of Paper Dashboard
					</h5>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('487637706',$event)"
					[ngStyle]="__elementSelectionService.getStyles('487637706')">
					<h6
						(contextmenu)="__elementSelectionService.select('1703580230',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1703580230')">
						<span
							(contextmenu)="__elementSelectionService.select('713242555',$event)"
							[ngStyle]="__elementSelectionService.getStyles('713242555')">Header
							6</span>The Life of Paper Dashboard
					</h6>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('471151838',$event)"
					[ngStyle]="__elementSelectionService.getStyles('471151838')">
					<p
						(contextmenu)="__elementSelectionService.select('118006532',$event)"
						[ngStyle]="__elementSelectionService.getStyles('118006532')">
						<span
							(contextmenu)="__elementSelectionService.select('916527361',$event)"
							[ngStyle]="__elementSelectionService.getStyles('916527361')">Paragraph</span>
						I will be the leader of a company that ends up being worth
						billions of dollars, because I got the answers. I understand
						culture. I am the nucleus. I think that&#226;&#8364;&#8482;s a
						responsibility that I have, to push possibilities, to show people,
						this is the level that things could be at.
					</p>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('86826625',$event)"
					[ngStyle]="__elementSelectionService.getStyles('86826625')">
					<span
						(contextmenu)="__elementSelectionService.select('808102206',$event)"
						[ngStyle]="__elementSelectionService.getStyles('808102206')">Quote</span>
					<blockquote
						(contextmenu)="__elementSelectionService.select('1920478396',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1920478396')">
						<p class="blockquote blockquote-primary"
							(contextmenu)="__elementSelectionService.select('1286556387',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1286556387')">
							&#34;I will be the leader of a company that ends up being worth
							billions of dollars, because I got the answers. I understand
							culture. I am the nucleus. I think that&#226;&#8364;&#8482;s a
							responsibility that I have, to push possibilities, to show
							people, this is the level that things could be at.&#34; <br
								(contextmenu)="__elementSelectionService.select('789859617',$event)"
								[ngStyle]="__elementSelectionService.getStyles('789859617')">
							<br
								(contextmenu)="__elementSelectionService.select('1251111588',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1251111588')">
							<small
								(contextmenu)="__elementSelectionService.select('2042411654',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2042411654')">
								- Noaa </small>
						</p>
					</blockquote>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('1332875008',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1332875008')">
					<span
						(contextmenu)="__elementSelectionService.select('1115827850',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1115827850')">Muted
						Text</span>
					<p class="text-muted"
						(contextmenu)="__elementSelectionService.select('467432236',$event)"
						[ngStyle]="__elementSelectionService.getStyles('467432236')">
						I will be the leader of a company that ends up being worth
						billions of dollars, because I got the answers...</p>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('128488027',$event)"
					[ngStyle]="__elementSelectionService.getStyles('128488027')">
					<span
						(contextmenu)="__elementSelectionService.select('1493014433',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1493014433')">Primary
						Text</span>
					<p class="text-primary"
						(contextmenu)="__elementSelectionService.select('190321738',$event)"
						[ngStyle]="__elementSelectionService.getStyles('190321738')">
						I will be the leader of a company that ends up being worth
						billions of dollars, because I got the answers...</p>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('1944404766',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1944404766')">
					<span
						(contextmenu)="__elementSelectionService.select('815541619',$event)"
						[ngStyle]="__elementSelectionService.getStyles('815541619')">Info
						Text</span>
					<p class="text-info"
						(contextmenu)="__elementSelectionService.select('73983070',$event)"
						[ngStyle]="__elementSelectionService.getStyles('73983070')">I
						will be the leader of a company that ends up being worth billions
						of dollars, because I got the answers...</p>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('1331256029',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1331256029')">
					<span
						(contextmenu)="__elementSelectionService.select('377294235',$event)"
						[ngStyle]="__elementSelectionService.getStyles('377294235')">Success
						Text</span>
					<p class="text-success"
						(contextmenu)="__elementSelectionService.select('1205554578',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1205554578')">
						I will be the leader of a company that ends up being worth
						billions of dollars, because I got the answers...</p>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('80878371',$event)"
					[ngStyle]="__elementSelectionService.getStyles('80878371')">
					<span
						(contextmenu)="__elementSelectionService.select('22554326',$event)"
						[ngStyle]="__elementSelectionService.getStyles('22554326')">Warning
						Text</span>
					<p class="text-warning"
						(contextmenu)="__elementSelectionService.select('2142757555',$event)"
						[ngStyle]="__elementSelectionService.getStyles('2142757555')">
						I will be the leader of a company that ends up being worth
						billions of dollars, because I got the answers...</p>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('1654494986',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1654494986')">
					<span
						(contextmenu)="__elementSelectionService.select('1979880313',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1979880313')">Danger
						Text</span>
					<p class="text-danger"
						(contextmenu)="__elementSelectionService.select('917272057',$event)"
						[ngStyle]="__elementSelectionService.getStyles('917272057')">
						I will be the leader of a company that ends up being worth
						billions of dollars, because I got the answers...</p>
				</div>
				<div class="typography-line"
					(contextmenu)="__elementSelectionService.select('1984867301',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1984867301')">
					<h2
						(contextmenu)="__elementSelectionService.select('2028292065',$event)"
						[ngStyle]="__elementSelectionService.getStyles('2028292065')">
						<span
							(contextmenu)="__elementSelectionService.select('446601951',$event)"
							[ngStyle]="__elementSelectionService.getStyles('446601951')">Small
							Tag</span> Header with small subtitle <br
							(contextmenu)="__elementSelectionService.select('1338517448',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1338517448')">
						<small
							(contextmenu)="__elementSelectionService.select('1289403479',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1289403479')">Use
							&#34;small&#34; tag for the headers</small>
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>
