<app-auth-header
	(contextmenu)="__elementSelectionService.select('844609310',$event)"
	[ngStyle]="__elementSelectionService.getStyles('844609310')"
	(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page "
	(contextmenu)="__elementSelectionService.select('2002785702',$event)"
	[ngStyle]="__elementSelectionService.getStyles('2002785702')"
	(click)='__elementSelectionService.clear()'>
	<div class="full-page register-page section-image"
		data-image="../assets/img/bg/jan-sendereks.jpg" filter-color="black"
		(contextmenu)="__elementSelectionService.select('1106267995',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1106267995')">
		<div class="content"
			(contextmenu)="__elementSelectionService.select('148491384',$event)"
			[ngStyle]="__elementSelectionService.getStyles('148491384')">
			<div class="container mt-0"
				(contextmenu)="__elementSelectionService.select('2137204192',$event)"
				[ngStyle]="__elementSelectionService.getStyles('2137204192')">
				<div class="row"
					(contextmenu)="__elementSelectionService.select('910963362',$event)"
					[ngStyle]="__elementSelectionService.getStyles('910963362')">
					<div class="col-lg-5 col-md-5 ml-auto"
						(contextmenu)="__elementSelectionService.select('1963272615',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1963272615')">
						<div class="info-area info-horizontal mt-3"
							(contextmenu)="__elementSelectionService.select('863601011',$event)"
							[ngStyle]="__elementSelectionService.getStyles('863601011')">
							<div class="icon icon-primary"
								(contextmenu)="__elementSelectionService.select('1431563993',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1431563993')">
								<i class="nc-icon nc-key-25"
									(contextmenu)="__elementSelectionService.select('48046067',$event)"
									[ngStyle]="__elementSelectionService.getStyles('48046067')"></i>
							</div>
							<div class="description"
								(contextmenu)="__elementSelectionService.select('1581860382',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1581860382')">
								<h5 class="info-title"
									(contextmenu)="__elementSelectionService.select('566507197',$event)"
									[ngStyle]="__elementSelectionService.getStyles('566507197')">Forgot
									Your Password?</h5>
								<p class="description"
									(contextmenu)="__elementSelectionService.select('1797992826',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1797992826')">
									Do not worry. Choose your preferred password reset method on
									the right. Then hit on send reset button.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mr-auto mt-6"
						(contextmenu)="__elementSelectionService.select('31689067',$event)"
						[ngStyle]="__elementSelectionService.getStyles('31689067')">
						<div class="card card-signup text-center"
							(contextmenu)="__elementSelectionService.select('353257215',$event)"
							[ngStyle]="__elementSelectionService.getStyles('353257215')">
							<div class="card-header "
								(contextmenu)="__elementSelectionService.select('360708925',$event)"
								[ngStyle]="__elementSelectionService.getStyles('360708925')">
								<h4 class="card-title"
									(contextmenu)="__elementSelectionService.select('661497865',$event)"
									[ngStyle]="__elementSelectionService.getStyles('661497865')">Forgot
									Password</h4>
								<div class="social"
									(contextmenu)="__elementSelectionService.select('987288926',$event)"
									[ngStyle]="__elementSelectionService.getStyles('987288926')">
									<p class="card-description"
										(contextmenu)="__elementSelectionService.select('1560696132',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1560696132')">Enter
										details below to reset your password</p>
								</div>
							</div>
							<div class="card-body "
								(contextmenu)="__elementSelectionService.select('936049610',$event)"
								[ngStyle]="__elementSelectionService.getStyles('936049610')">
								<form class="form" name="form" [formGroup]="form" novalidate
									(contextmenu)="__elementSelectionService.select('2108498138',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2108498138')">
									<div style="display: none"
										(contextmenu)="__elementSelectionService.select('19097620',$event)"
										[ngStyle]="__elementSelectionService.getStyles('19097620')">
										<input type="password" tabindex="-1"
											(contextmenu)="__elementSelectionService.select('1851830529',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1851830529')">
									</div>
									<div class="input-group"
										(contextmenu)="__elementSelectionService.select('244585388',$event)"
										[ngStyle]="__elementSelectionService.getStyles('244585388')">
										<label class="form-checkbox"
											(contextmenu)="__elementSelectionService.select('447433044',$event)"
											[ngStyle]="__elementSelectionService.getStyles('447433044')">
											<input id="ChannelSms" name="Channel" value="sms"
											type="radio" formControlName="Channel"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.Channel.errors}"
											(contextmenu)="__elementSelectionService.select('13824477',$event)"
											[ngStyle]="__elementSelectionService.getStyles('13824477')">
											Sms
										</label> <label class="form-checkbox"
											(contextmenu)="__elementSelectionService.select('1808904319',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1808904319')">
											<input id="ChannelEmail" name="Channel" value="email"
											type="radio" formControlName="Channel"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.Channel.errors}"
											(contextmenu)="__elementSelectionService.select('1165412314',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1165412314')">
											Email
										</label>
									</div>
									<div *ngIf="submitted &#38;&#38; f.Channel.errors"
										class="invalid-feedback"
										(contextmenu)="__elementSelectionService.select('89642953',$event)"
										[ngStyle]="__elementSelectionService.getStyles('89642953')">
										<div *ngIf="f.Channel.errors.required"
											(contextmenu)="__elementSelectionService.select('303862439',$event)"
											[ngStyle]="__elementSelectionService.getStyles('303862439')">Choose
											your password reset method</div>
									</div>
									<div class="input-group"
										*ngIf="form.get('Channel').value=='sms'"
										(contextmenu)="__elementSelectionService.select('1957202643',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1957202643')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('127126411',$event)"
											[ngStyle]="__elementSelectionService.getStyles('127126411')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('1019325743',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1019325743')"><i
												class="nc-icon nc-circle-10"
												(contextmenu)="__elementSelectionService.select('1254001082',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1254001082')"></i></span>
										</div>
										<input class="form-control"
											placeholder="Enter phone number..." formControlName="PhoneNo"
											type="text"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}"
											mask="(+000) 000-000000"
											(contextmenu)="__elementSelectionService.select('2062580780',$event)"
											[ngStyle]="__elementSelectionService.getStyles('2062580780')">
										<div *ngIf="submitted &#38;&#38; f.PhoneNo.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('1663446890',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1663446890')">
											<div *ngIf="f.PhoneNo.errors.required"
												(contextmenu)="__elementSelectionService.select('1388273396',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1388273396')">Phone
												number is required {{f.PhoneNo.errors | json}}</div>
											<div *ngIf="f.PhoneNo.errors.pattern"
												(contextmenu)="__elementSelectionService.select('1819475520',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1819475520')">Incorrect!
												use format e.g. (+000) 000-000000</div>
										</div>
									</div>
									<div class="input-group"
										*ngIf="form.get('Channel').value=='email'"
										(contextmenu)="__elementSelectionService.select('362479358',$event)"
										[ngStyle]="__elementSelectionService.getStyles('362479358')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('1201000024',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1201000024')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('1869963424',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1869963424')"><i
												class="nc-icon nc-email-85"
												(contextmenu)="__elementSelectionService.select('336466928',$event)"
												[ngStyle]="__elementSelectionService.getStyles('336466928')"></i></span>
										</div>
										<input class="form-control"
											placeholder="Enter email address..." formControlName="email"
											type="email"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.email.errors}"
											(contextmenu)="__elementSelectionService.select('1445028481',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1445028481')">
										<div *ngIf="submitted &#38;&#38; f.email.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('1068470547',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1068470547')">
											<div *ngIf="f.email.errors.required"
												(contextmenu)="__elementSelectionService.select('2065405478',$event)"
												[ngStyle]="__elementSelectionService.getStyles('2065405478')">Email
												address is required</div>
											<div *ngIf="f.email.errors.pattern"
												(contextmenu)="__elementSelectionService.select('527342374',$event)"
												[ngStyle]="__elementSelectionService.getStyles('527342374')">Incorrect!
												use format e.g. aa@abc.com</div>
										</div>
									</div>
								</form>
							</div>
							<div class="card-footer"
								(contextmenu)="__elementSelectionService.select('1116133152',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1116133152')">
								<button class="btn btn-success btn-round" (click)="onSubmit()"
									(contextmenu)="__elementSelectionService.select('23261546',$event)"
									[ngStyle]="__elementSelectionService.getStyles('23261546')">
									Send Reset</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-auth-footer
			(contextmenu)="__elementSelectionService.select('644869574',$event)"
			[ngStyle]="__elementSelectionService.getStyles('644869574')"></app-auth-footer>
		<div class="full-page-background"
			style="background-image: url(./assets/img/bg/jan-sendereks.jpg)"
			(contextmenu)="__elementSelectionService.select('1295250822',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1295250822')"></div>
	</div>
</div>