
<div class="row"
	(contextmenu)="__elementSelectionService.select('1033080112',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1033080112')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-12"
		(contextmenu)="__elementSelectionService.select('1473950447',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1473950447')">
		<div class="card "
			(contextmenu)="__elementSelectionService.select('1979801385',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1979801385')">
			<div class="card-header "
				(contextmenu)="__elementSelectionService.select('905824485',$event)"
				[ngStyle]="__elementSelectionService.getStyles('905824485')">
				Google Maps</div>
			<div class="card-body "
				(contextmenu)="__elementSelectionService.select('490559321',$event)"
				[ngStyle]="__elementSelectionService.getStyles('490559321')">
				<div id="map" class="map"
					(contextmenu)="__elementSelectionService.select('527614939',$event)"
					[ngStyle]="__elementSelectionService.getStyles('527614939')"></div>
			</div>
		</div>
	</div>
</div>
