<footer class="footer footer-black  footer-white " (contextmenu)="__elementSelectionService.select('1494285908',$event)" [ngStyle]="__elementSelectionService.getStyles('1494285908')"(click)='__elementSelectionService.clear()'>
	<div class="container" (contextmenu)="__elementSelectionService.select('1832531502',$event)" [ngStyle]="__elementSelectionService.getStyles('1832531502')">
		<div class="row" (contextmenu)="__elementSelectionService.select('1370843903',$event)" [ngStyle]="__elementSelectionService.getStyles('1370843903')">
			<nav class="footer-nav" (contextmenu)="__elementSelectionService.select('260693187',$event)" [ngStyle]="__elementSelectionService.getStyles('260693187')">
				<ul (contextmenu)="__elementSelectionService.select('1353536010',$event)" [ngStyle]="__elementSelectionService.getStyles('1353536010')">
					<li (contextmenu)="__elementSelectionService.select('1822066039',$event)" [ngStyle]="__elementSelectionService.getStyles('1822066039')">
						<a href="https://www.slicksales.co.ke" target="_blank" (contextmenu)="__elementSelectionService.select('377682057',$event)" [ngStyle]="__elementSelectionService.getStyles('377682057')">Creative Team</a>
					</li>
					<li (contextmenu)="__elementSelectionService.select('1462518110',$event)" [ngStyle]="__elementSelectionService.getStyles('1462518110')">
						<a href="http://blog.slicksales.co.ke/" target="_blank" (contextmenu)="__elementSelectionService.select('1839953075',$event)" [ngStyle]="__elementSelectionService.getStyles('1839953075')">Blog</a>
					</li>
					<li (contextmenu)="__elementSelectionService.select('1436738892',$event)" [ngStyle]="__elementSelectionService.getStyles('1436738892')">
						<a href="https://www.slicksales.co.ke/license" target="_blank" (contextmenu)="__elementSelectionService.select('1415911873',$event)" [ngStyle]="__elementSelectionService.getStyles('1415911873')">License</a>
					</li>
				</ul>
			</nav>
			<div class="credits ml-auto" (contextmenu)="__elementSelectionService.select('1635161250',$event)" [ngStyle]="__elementSelectionService.getStyles('1635161250')">
				<span class="copyright" (contextmenu)="__elementSelectionService.select('1473145555',$event)" [ngStyle]="__elementSelectionService.getStyles('1473145555')"> 2021 &#169; CGA, made with <i class="fa fa-heart heart" (contextmenu)="__elementSelectionService.select('352611811',$event)" [ngStyle]="__elementSelectionService.getStyles('352611811')"></i> by Slicksales Limited
				</span>
			</div>
		</div>
	</div>
</footer>