<div class="row"
	(contextmenu)="__elementSelectionService.select('1514623951',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1514623951')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-4"
		(contextmenu)="__elementSelectionService.select('1336992080',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1336992080')">
		<div class="card card-user"
			(contextmenu)="__elementSelectionService.select('797514306',$event)"
			[ngStyle]="__elementSelectionService.getStyles('797514306')">
			<div class="image"
				(contextmenu)="__elementSelectionService.select('1824847560',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1824847560')">
				<img src="assets/img/damir-bosnjak.jpg" alt="..."
					(contextmenu)="__elementSelectionService.select('1910211897',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1910211897')">
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('967393331',$event)"
				[ngStyle]="__elementSelectionService.getStyles('967393331')">
				<div class="author"
					(contextmenu)="__elementSelectionService.select('1578440270',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1578440270')">
					<a href="#"
						(contextmenu)="__elementSelectionService.select('355256818',$event)"
						[ngStyle]="__elementSelectionService.getStyles('355256818')">
						<img class="avatar border-gray" src="assets/img/mike.jpg"
						alt="..."
						(contextmenu)="__elementSelectionService.select('955474979',$event)"
						[ngStyle]="__elementSelectionService.getStyles('955474979')">
						<h5 class="title"
							(contextmenu)="__elementSelectionService.select('1260913622',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1260913622')">Chet
							Faker</h5>
					</a>
					<p class="description"
						(contextmenu)="__elementSelectionService.select('1039784859',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1039784859')">
						@chetfaker</p>
				</div>
				<p class="description text-center"
					(contextmenu)="__elementSelectionService.select('1315567247',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1315567247')">
					&#34;I like the way you work it <br
						(contextmenu)="__elementSelectionService.select('1838698781',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1838698781')">
					No diggity <br
						(contextmenu)="__elementSelectionService.select('1713756619',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1713756619')">
					I wanna bag it up&#34;
				</p>
			</div>
			<div class="card-footer"
				(contextmenu)="__elementSelectionService.select('359916439',$event)"
				[ngStyle]="__elementSelectionService.getStyles('359916439')">
				<hr
					(contextmenu)="__elementSelectionService.select('347054648',$event)"
					[ngStyle]="__elementSelectionService.getStyles('347054648')">
				<div class="button-container"
					(contextmenu)="__elementSelectionService.select('990910729',$event)"
					[ngStyle]="__elementSelectionService.getStyles('990910729')">
					<div class="row"
						(contextmenu)="__elementSelectionService.select('1932751905',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1932751905')">
						<div class="col-lg-3 col-md-6 col-6 ml-auto"
							(contextmenu)="__elementSelectionService.select('2035703435',$event)"
							[ngStyle]="__elementSelectionService.getStyles('2035703435')">
							<h5
								(contextmenu)="__elementSelectionService.select('268541435',$event)"
								[ngStyle]="__elementSelectionService.getStyles('268541435')">
								12 <br
									(contextmenu)="__elementSelectionService.select('727848611',$event)"
									[ngStyle]="__elementSelectionService.getStyles('727848611')">
								<small
									(contextmenu)="__elementSelectionService.select('1134095762',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1134095762')">Files</small>
							</h5>
						</div>
						<div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto"
							(contextmenu)="__elementSelectionService.select('141644140',$event)"
							[ngStyle]="__elementSelectionService.getStyles('141644140')">
							<h5
								(contextmenu)="__elementSelectionService.select('344189916',$event)"
								[ngStyle]="__elementSelectionService.getStyles('344189916')">
								2GB <br
									(contextmenu)="__elementSelectionService.select('804200673',$event)"
									[ngStyle]="__elementSelectionService.getStyles('804200673')">
								<small
									(contextmenu)="__elementSelectionService.select('723496179',$event)"
									[ngStyle]="__elementSelectionService.getStyles('723496179')">Used</small>
							</h5>
						</div>
						<div class="col-lg-3 mr-auto"
							(contextmenu)="__elementSelectionService.select('703029965',$event)"
							[ngStyle]="__elementSelectionService.getStyles('703029965')">
							<h5
								(contextmenu)="__elementSelectionService.select('582070566',$event)"
								[ngStyle]="__elementSelectionService.getStyles('582070566')">
								24,6$ <br
									(contextmenu)="__elementSelectionService.select('1947166137',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1947166137')">
								<small
									(contextmenu)="__elementSelectionService.select('580990975',$event)"
									[ngStyle]="__elementSelectionService.getStyles('580990975')">Spent</small>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card"
			(contextmenu)="__elementSelectionService.select('809683052',$event)"
			[ngStyle]="__elementSelectionService.getStyles('809683052')">
			<div class="card-header"
				(contextmenu)="__elementSelectionService.select('525694915',$event)"
				[ngStyle]="__elementSelectionService.getStyles('525694915')">
				<h4 class="card-title"
					(contextmenu)="__elementSelectionService.select('284752701',$event)"
					[ngStyle]="__elementSelectionService.getStyles('284752701')">Team
					Members</h4>
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('1003304978',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1003304978')">
				<ul class="list-unstyled team-members"
					(contextmenu)="__elementSelectionService.select('501909167',$event)"
					[ngStyle]="__elementSelectionService.getStyles('501909167')">
					<li
						(contextmenu)="__elementSelectionService.select('699732414',$event)"
						[ngStyle]="__elementSelectionService.getStyles('699732414')">
						<div class="row"
							(contextmenu)="__elementSelectionService.select('2126718630',$event)"
							[ngStyle]="__elementSelectionService.getStyles('2126718630')">
							<div class="col-md-2 col-2"
								(contextmenu)="__elementSelectionService.select('740068548',$event)"
								[ngStyle]="__elementSelectionService.getStyles('740068548')">
								<div class="avatar"
									(contextmenu)="__elementSelectionService.select('1695201302',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1695201302')">
									<img src="assets/img/faces/ayo-ogunseinde-2.jpg"
										alt="Circle Image"
										class="img-circle img-no-padding img-responsive"
										(contextmenu)="__elementSelectionService.select('1689480680',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1689480680')">
								</div>
							</div>
							<div class="col-md-7 col-7"
								(contextmenu)="__elementSelectionService.select('52597198',$event)"
								[ngStyle]="__elementSelectionService.getStyles('52597198')">
								DJ Khaled <br
									(contextmenu)="__elementSelectionService.select('1259362242',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1259362242')">
								<span class="text-muted"
									(contextmenu)="__elementSelectionService.select('2078969022',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2078969022')">
									<small
									(contextmenu)="__elementSelectionService.select('71918086',$event)"
									[ngStyle]="__elementSelectionService.getStyles('71918086')">Offline</small>
								</span>
							</div>
							<div class="col-md-3 col-3 text-right"
								(contextmenu)="__elementSelectionService.select('326254496',$event)"
								[ngStyle]="__elementSelectionService.getStyles('326254496')">
								<button
									class="btn btn-sm btn-outline-success btn-round btn-icon"
									(contextmenu)="__elementSelectionService.select('1519768651',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1519768651')">
									<i class="fa fa-envelope"
										(contextmenu)="__elementSelectionService.select('1974807771',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1974807771')"></i>
								</button>
							</div>
						</div>
					</li>
					<li
						(contextmenu)="__elementSelectionService.select('975386937',$event)"
						[ngStyle]="__elementSelectionService.getStyles('975386937')">
						<div class="row"
							(contextmenu)="__elementSelectionService.select('942575330',$event)"
							[ngStyle]="__elementSelectionService.getStyles('942575330')">
							<div class="col-md-2 col-2"
								(contextmenu)="__elementSelectionService.select('1290609184',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1290609184')">
								<div class="avatar"
									(contextmenu)="__elementSelectionService.select('274861202',$event)"
									[ngStyle]="__elementSelectionService.getStyles('274861202')">
									<img src="assets/img/faces/joe-gardner-2.jpg"
										alt="Circle Image"
										class="img-circle img-no-padding img-responsive"
										(contextmenu)="__elementSelectionService.select('866850134',$event)"
										[ngStyle]="__elementSelectionService.getStyles('866850134')">
								</div>
							</div>
							<div class="col-md-7 col-7"
								(contextmenu)="__elementSelectionService.select('2134824031',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2134824031')">
								Creative Tim <br
									(contextmenu)="__elementSelectionService.select('1525093818',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1525093818')">
								<span class="text-success"
									(contextmenu)="__elementSelectionService.select('1524733160',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1524733160')">
									<small
									(contextmenu)="__elementSelectionService.select('831204167',$event)"
									[ngStyle]="__elementSelectionService.getStyles('831204167')">Available</small>
								</span>
							</div>
							<div class="col-md-3 col-3 text-right"
								(contextmenu)="__elementSelectionService.select('941526277',$event)"
								[ngStyle]="__elementSelectionService.getStyles('941526277')">
								<button
									class="btn btn-sm btn-outline-success btn-round btn-icon"
									(contextmenu)="__elementSelectionService.select('1521882489',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1521882489')">
									<i class="fa fa-envelope"
										(contextmenu)="__elementSelectionService.select('203852819',$event)"
										[ngStyle]="__elementSelectionService.getStyles('203852819')"></i>
								</button>
							</div>
						</div>
					</li>
					<li
						(contextmenu)="__elementSelectionService.select('1679777731',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1679777731')">
						<div class="row"
							(contextmenu)="__elementSelectionService.select('673546464',$event)"
							[ngStyle]="__elementSelectionService.getStyles('673546464')">
							<div class="col-md-2 col-2"
								(contextmenu)="__elementSelectionService.select('1121076544',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1121076544')">
								<div class="avatar"
									(contextmenu)="__elementSelectionService.select('2049707805',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2049707805')">
									<img src="assets/img/faces/clem-onojeghuo-2.jpg"
										alt="Circle Image"
										class="img-circle img-no-padding img-responsive"
										(contextmenu)="__elementSelectionService.select('1683203804',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1683203804')">
								</div>
							</div>
							<div class="col-ms-7 col-7"
								(contextmenu)="__elementSelectionService.select('1618286646',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1618286646')">
								Flume <br
									(contextmenu)="__elementSelectionService.select('819837245',$event)"
									[ngStyle]="__elementSelectionService.getStyles('819837245')">
								<span class="text-danger"
									(contextmenu)="__elementSelectionService.select('714284252',$event)"
									[ngStyle]="__elementSelectionService.getStyles('714284252')">
									<small
									(contextmenu)="__elementSelectionService.select('1401891348',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1401891348')">Busy</small>
								</span>
							</div>
							<div class="col-md-3 col-3 text-right"
								(contextmenu)="__elementSelectionService.select('460532987',$event)"
								[ngStyle]="__elementSelectionService.getStyles('460532987')">
								<button
									class="btn btn-sm btn-outline-success btn-round btn-icon"
									(contextmenu)="__elementSelectionService.select('1178237689',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1178237689')">
									<i class="fa fa-envelope"
										(contextmenu)="__elementSelectionService.select('1954409246',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1954409246')"></i>
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-8"
		(contextmenu)="__elementSelectionService.select('1577623567',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1577623567')">
		<div class="card card-user"
			(contextmenu)="__elementSelectionService.select('1545489345',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1545489345')">
			<div class="card-header"
				(contextmenu)="__elementSelectionService.select('1239817993',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1239817993')">
				<h5 class="card-title"
					(contextmenu)="__elementSelectionService.select('1389897776',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1389897776')">Edit
					Profile</h5>
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('1238102716',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1238102716')">
				<form
					(contextmenu)="__elementSelectionService.select('1730541575',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1730541575')">
					<div class="row"
						(contextmenu)="__elementSelectionService.select('507686333',$event)"
						[ngStyle]="__elementSelectionService.getStyles('507686333')">
						<div class="col-md-5 pr-1"
							(contextmenu)="__elementSelectionService.select('222859245',$event)"
							[ngStyle]="__elementSelectionService.getStyles('222859245')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('453034730',$event)"
								[ngStyle]="__elementSelectionService.getStyles('453034730')">
								<label
									(contextmenu)="__elementSelectionService.select('1395516493',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1395516493')">Company
									(disabled)</label> <input type="text" class="form-control" disabled
									placeholder="Company" value="Creative Code Inc."
									(contextmenu)="__elementSelectionService.select('1485411536',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1485411536')">
							</div>
						</div>
						<div class="col-md-3 px-1"
							(contextmenu)="__elementSelectionService.select('301420491',$event)"
							[ngStyle]="__elementSelectionService.getStyles('301420491')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('217958541',$event)"
								[ngStyle]="__elementSelectionService.getStyles('217958541')">
								<label
									(contextmenu)="__elementSelectionService.select('810437331',$event)"
									[ngStyle]="__elementSelectionService.getStyles('810437331')">Username</label>
								<input type="text" class="form-control" placeholder="Username"
									value="michael23"
									(contextmenu)="__elementSelectionService.select('611673886',$event)"
									[ngStyle]="__elementSelectionService.getStyles('611673886')">
							</div>
						</div>
						<div class="col-md-4 pl-1"
							(contextmenu)="__elementSelectionService.select('257420620',$event)"
							[ngStyle]="__elementSelectionService.getStyles('257420620')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('1829565835',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1829565835')">
								<label for="exampleInputEmail1"
									(contextmenu)="__elementSelectionService.select('802562603',$event)"
									[ngStyle]="__elementSelectionService.getStyles('802562603')">Email
									address</label> <input type="email" class="form-control"
									placeholder="Email"
									(contextmenu)="__elementSelectionService.select('546635096',$event)"
									[ngStyle]="__elementSelectionService.getStyles('546635096')">
							</div>
						</div>
					</div>
					<div class="row"
						(contextmenu)="__elementSelectionService.select('270092683',$event)"
						[ngStyle]="__elementSelectionService.getStyles('270092683')">
						<div class="col-md-6 pr-1"
							(contextmenu)="__elementSelectionService.select('439572142',$event)"
							[ngStyle]="__elementSelectionService.getStyles('439572142')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('74115257',$event)"
								[ngStyle]="__elementSelectionService.getStyles('74115257')">
								<label
									(contextmenu)="__elementSelectionService.select('60013393',$event)"
									[ngStyle]="__elementSelectionService.getStyles('60013393')">First
									Name</label> <input type="text" class="form-control"
									placeholder="Company" value="Chet"
									(contextmenu)="__elementSelectionService.select('1503461305',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1503461305')">
							</div>
						</div>
						<div class="col-md-6 pl-1"
							(contextmenu)="__elementSelectionService.select('1503286274',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1503286274')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('174473384',$event)"
								[ngStyle]="__elementSelectionService.getStyles('174473384')">
								<label
									(contextmenu)="__elementSelectionService.select('347159430',$event)"
									[ngStyle]="__elementSelectionService.getStyles('347159430')">Last
									Name</label> <input type="text" class="form-control"
									placeholder="Last Name" value="Faker"
									(contextmenu)="__elementSelectionService.select('711884702',$event)"
									[ngStyle]="__elementSelectionService.getStyles('711884702')">
							</div>
						</div>
					</div>
					<div class="row"
						(contextmenu)="__elementSelectionService.select('559875221',$event)"
						[ngStyle]="__elementSelectionService.getStyles('559875221')">
						<div class="col-md-12"
							(contextmenu)="__elementSelectionService.select('419717910',$event)"
							[ngStyle]="__elementSelectionService.getStyles('419717910')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('74712763',$event)"
								[ngStyle]="__elementSelectionService.getStyles('74712763')">
								<label
									(contextmenu)="__elementSelectionService.select('1572805412',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1572805412')">Address</label>
								<input type="text" class="form-control"
									placeholder="Home Address" value="Melbourne, Australia"
									(contextmenu)="__elementSelectionService.select('69060522',$event)"
									[ngStyle]="__elementSelectionService.getStyles('69060522')">
							</div>
						</div>
					</div>
					<div class="row"
						(contextmenu)="__elementSelectionService.select('1044060396',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1044060396')">
						<div class="col-md-4 pr-1"
							(contextmenu)="__elementSelectionService.select('450793550',$event)"
							[ngStyle]="__elementSelectionService.getStyles('450793550')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('1058917898',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1058917898')">
								<label
									(contextmenu)="__elementSelectionService.select('1431793364',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1431793364')">City</label>
								<input type="text" class="form-control" placeholder="City"
									value="Melbourne"
									(contextmenu)="__elementSelectionService.select('869134570',$event)"
									[ngStyle]="__elementSelectionService.getStyles('869134570')">
							</div>
						</div>
						<div class="col-md-4 px-1"
							(contextmenu)="__elementSelectionService.select('1568627261',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1568627261')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('205758982',$event)"
								[ngStyle]="__elementSelectionService.getStyles('205758982')">
								<label
									(contextmenu)="__elementSelectionService.select('1644973204',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1644973204')">Country</label>
								<input type="text" class="form-control" placeholder="Country"
									value="Australia"
									(contextmenu)="__elementSelectionService.select('1050323615',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1050323615')">
							</div>
						</div>
						<div class="col-md-4 pl-1"
							(contextmenu)="__elementSelectionService.select('429105603',$event)"
							[ngStyle]="__elementSelectionService.getStyles('429105603')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('147940197',$event)"
								[ngStyle]="__elementSelectionService.getStyles('147940197')">
								<label
									(contextmenu)="__elementSelectionService.select('146400775',$event)"
									[ngStyle]="__elementSelectionService.getStyles('146400775')">Postal
									Code</label> <input type="number" class="form-control"
									placeholder="ZIP Code"
									(contextmenu)="__elementSelectionService.select('1662811101',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1662811101')">
							</div>
						</div>
					</div>
					<div class="row"
						(contextmenu)="__elementSelectionService.select('1728402372',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1728402372')">
						<div class="col-md-12"
							(contextmenu)="__elementSelectionService.select('1682755082',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1682755082')">
							<div class="form-group"
								(contextmenu)="__elementSelectionService.select('587371866',$event)"
								[ngStyle]="__elementSelectionService.getStyles('587371866')">
								<label
									(contextmenu)="__elementSelectionService.select('591450228',$event)"
									[ngStyle]="__elementSelectionService.getStyles('591450228')">About
									Me</label>
								<textarea class="form-control textarea"
									(contextmenu)="__elementSelectionService.select('1846951083',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1846951083')">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
							</div>
						</div>
					</div>
					<div class="row"
						(contextmenu)="__elementSelectionService.select('1814594557',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1814594557')">
						<div class="update ml-auto mr-auto"
							(contextmenu)="__elementSelectionService.select('1530360679',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1530360679')">
							<button type="submit" class="btn btn-primary btn-round"
								(contextmenu)="__elementSelectionService.select('2127678213',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2127678213')">Update
								Profile</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
