<app-auth-header
	(contextmenu)="__elementSelectionService.select('1121170779',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1121170779')"
	(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page "
	(contextmenu)="__elementSelectionService.select('1101567991',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1101567991')"
	(click)='__elementSelectionService.clear()'>
	<div class="full-page section-image"
		data-image="./assets/img/bg/fabio-mangione.jpg" filter-color="black"
		(contextmenu)="__elementSelectionService.select('2145356825',$event)"
		[ngStyle]="__elementSelectionService.getStyles('2145356825')">
		<div class="content"
			(contextmenu)="__elementSelectionService.select('923523849',$event)"
			[ngStyle]="__elementSelectionService.getStyles('923523849')">
			<div class="container"
				(contextmenu)="__elementSelectionService.select('848946480',$event)"
				[ngStyle]="__elementSelectionService.getStyles('848946480')">
				<div class="col-lg-4 col-md-6 ml-auto mr-auto"
					(contextmenu)="__elementSelectionService.select('1584228191',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1584228191')">
					<form (submit)="onSubmit()" class="form" name="form"
						[formGroup]="form" novalidate
						(contextmenu)="__elementSelectionService.select('1574012879',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1574012879')">
						<div class="card card-login"
							(contextmenu)="__elementSelectionService.select('879484143',$event)"
							[ngStyle]="__elementSelectionService.getStyles('879484143')">
							<div class="card-header "
								(contextmenu)="__elementSelectionService.select('1235623735',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1235623735')">
								<div class="card-header "
									(contextmenu)="__elementSelectionService.select('2084884163',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2084884163')">
									<h3 class="header text-center"
										(contextmenu)="__elementSelectionService.select('771412347',$event)"
										[ngStyle]="__elementSelectionService.getStyles('771412347')">Login</h3>
								</div>
							</div>
							<div class="card-body "
								(contextmenu)="__elementSelectionService.select('1201470607',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1201470607')">
								<div style="display: none"
									(contextmenu)="__elementSelectionService.select('1043995884',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1043995884')">
									<input type="password" tabindex="-1"
										(contextmenu)="__elementSelectionService.select('1683160894',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1683160894')">
								</div>
								<div class="input-group"
									(contextmenu)="__elementSelectionService.select('534285254',$event)"
									[ngStyle]="__elementSelectionService.getStyles('534285254')">
									<div class="input-group-prepend"
										(contextmenu)="__elementSelectionService.select('1065378870',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1065378870')">
										<span class="input-group-text"
											(contextmenu)="__elementSelectionService.select('1370739286',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1370739286')"><i
											class="nc-icon nc-single-02"
											(contextmenu)="__elementSelectionService.select('585858129',$event)"
											[ngStyle]="__elementSelectionService.getStyles('585858129')"></i></span>
									</div>
									<input class="form-control" placeholder="Phone or Email"
										formControlName="Username" type="text"
										[ngClass]="{'is-invalid': submitted &#38;&#38; f.Username.errors}"
										autocomplete="off"
										(contextmenu)="__elementSelectionService.select('2033603953',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2033603953')">
									<div *ngIf="submitted &#38;&#38; f.Username.errors"
										class="invalid-feedback"
										(contextmenu)="__elementSelectionService.select('1160462261',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1160462261')">
										<div *ngIf="f.Username.errors.required"
											(contextmenu)="__elementSelectionService.select('180712484',$event)"
											[ngStyle]="__elementSelectionService.getStyles('180712484')">Enter
											your phone or email</div>
									</div>
								</div>
								<div class="input-group"
									(contextmenu)="__elementSelectionService.select('1932892377',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1932892377')">
									<div class="input-group-prepend"
										(contextmenu)="__elementSelectionService.select('954455571',$event)"
										[ngStyle]="__elementSelectionService.getStyles('954455571')">
										<span class="input-group-text"
											(contextmenu)="__elementSelectionService.select('606703661',$event)"
											[ngStyle]="__elementSelectionService.getStyles('606703661')"><i
											class="nc-icon nc-key-25"
											(contextmenu)="__elementSelectionService.select('99394776',$event)"
											[ngStyle]="__elementSelectionService.getStyles('99394776')"></i></span>
									</div>
									<input class="form-control" placeholder="Your Password"
										formControlName="Password" type="password"
										[ngClass]="{'is-invalid': submitted &#38;&#38; f.Password.errors}"
										autocomplete="off"
										(contextmenu)="__elementSelectionService.select('1522538476',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1522538476')">
									<div *ngIf="submitted &#38;&#38; f.Password.errors"
										class="invalid-feedback"
										(contextmenu)="__elementSelectionService.select('2092237289',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2092237289')">
										<div *ngIf="f.Password.errors.required"
											(contextmenu)="__elementSelectionService.select('343236266',$event)"
											[ngStyle]="__elementSelectionService.getStyles('343236266')">Enter
											your password here</div>
									</div>
								</div>
								<br
									(contextmenu)="__elementSelectionService.select('1952445080',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1952445080')">
								<div class="form-group"
									(contextmenu)="__elementSelectionService.select('779805832',$event)"
									[ngStyle]="__elementSelectionService.getStyles('779805832')">
									<div class="form-check"
										(contextmenu)="__elementSelectionService.select('2048131815',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2048131815')">
										<label class="form-check-label"
											(contextmenu)="__elementSelectionService.select('1143636737',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1143636737')"><input
											checked class="form-check-input" type="checkbox" value
											(contextmenu)="__elementSelectionService.select('1340760622',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1340760622')"><span
											class="form-check-sign"
											(contextmenu)="__elementSelectionService.select('919437823',$event)"
											[ngStyle]="__elementSelectionService.getStyles('919437823')"></span>
											Subscribe to newsletter </label>
									</div>
								</div>
							</div>
							<div class="card-footer "
								(contextmenu)="__elementSelectionService.select('1813294843',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1813294843')">
								<button class="btn btn-warning btn-round btn-block mb-3"
									(contextmenu)="__elementSelectionService.select('2092309235',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2092309235')">
									Login</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<app-auth-footer
			(contextmenu)="__elementSelectionService.select('1624370265',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1624370265')"></app-auth-footer>
		<div class="full-page-background"
			style="background-image: url(./assets/img/bg/fabio-mangione.jpg)"
			(contextmenu)="__elementSelectionService.select('986274757',$event)"
			[ngStyle]="__elementSelectionService.getStyles('986274757')"></div>
	</div>
</div>