<app-auth-header></app-auth-header>
<div class="wrapper wrapper-full-page ">
	<div class="full-page register-page section-image"
		data-image="../assets/img/bg/jan-sendereks.jpg" filter-color="black">
		<div class="content">
			<div class="container mt-0">
				<div class="row">
					<div class="col-lg-5 col-md-5 ml-auto">
						<div class="info-area info-horizontal mt-3">
							<div class="icon icon-primary">
								<i class="nc-icon nc-key-25"></i>
							</div>
							<div class="description">
								<h5 class="info-title">Forgot Your Password? </h5>
								<p class="description">
									Do not worry. Choose your preferred password reset method on the right.
									Then hit on send reset button.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mr-auto mt-6">
						<form (submit)="(codeSent? changePassword() : resetCode())" class="form" name="form" [formGroup]="form" novalidate>
							<div class="card card-signup text-center">
								<div class="card-header ">
									<h4 class="card-title">Forgot Password</h4>			
								</div>
								<div class="card-body ">
									<div style="display:none">
									    <input type="password" tabindex="-1"/>
									</div>
									<div class="input-group pt-3">Choose your password reset method</div>
									<div class="input-group">
										<label class="form-checkbox">
											<input id="ChannelSms" name="Channel" value="sms"
												type="radio" formControlName="Channel" (change)="codeSent=false"
												[ngClass]="{'is-invalid': submitted && f.Channel.errors}">
											 Sms
										</label>
										<label class="form-checkbox">
											<input id="ChannelEmail" name="Channel" (change)="codeSent=false"
												value="email" type="radio" formControlName="Channel"
												[ngClass]="{'is-invalid': submitted && f.Channel.errors}">
											 Email
										</label>
									</div>
									<div *ngIf="submitted && f.Channel.errors" class="invalid-feedback text-left">
			                            <div *ngIf="f.Channel.errors.required">Choose your password reset method</div>
			                        </div>
									<div class="input-group" *ngIf="form.get('Channel').value=='sms'">
										<div class="input-group-prepend">
											<span class="input-group-text"><i
												class="nc-icon nc-circle-10"></i></span>
										</div>
										<input class="form-control" placeholder="Enter phone number..." formControlName="PhoneNo" 
											type="text" [ngClass]="{'is-invalid': submitted && f.PhoneNo.errors}"
											mask="(+000) 000-000000">
										<div *ngIf="submitted && f.PhoneNo.errors" class="invalid-feedback text-left">
				                            <div *ngIf="f.PhoneNo.errors.required">Phone number is required {{f.PhoneNo.errors | json}} </div>
				                            <div *ngIf="f.PhoneNo.errors.pattern">Incorrect! use format e.g. (+000) 000-000000</div>
				                        </div>
									</div>
									<div class="input-group" *ngIf="form.get('Channel').value=='email'">
										<div class="input-group-prepend">
											<span class="input-group-text"><i
												class="nc-icon nc-email-85"></i></span>
										</div>
										<input class="form-control" placeholder="Enter email address..." formControlName="email" 
											type="email" [ngClass]="{'is-invalid': submitted && f.email.errors}">
										<div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
				                            <div *ngIf="f.email.errors.required">Email address is required</div>
				                            <div *ngIf="f.email.errors.pattern">Incorrect! use format e.g. aa@abc.com</div>				                            
				                        </div>
									</div>									
								    <div class="form-row pt-3" *ngIf="codeSent">
								    	<div class="form-group col-12">
								            <input type="text" placeholder="Enter reset code received on {{form.get('Channel').value}}" formControlName="ResetCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ResetCode.errors }" />
								            <div *ngIf="submitted && f.ResetCode.errors" class="invalid-feedback text-left">
								                <div *ngIf="f.ResetCode.errors.required">Enter code received on {{form.get('Channel').value}}</div>
								            </div>
								        </div>
								        <div class="form-group col">
								            <input type="password" placeholder="New Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
								            <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left">
								                <div *ngIf="f.password.errors.required">Enter new password</div>
								                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
								            </div>
								        </div>
								        <div class="form-group col">
								            <input type="password" placeholder="Confirm Password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
								            <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback text-left">
								                <div *ngIf="f.ConfirmPassword.errors.required">Re-enter your password</div>
								                <div *ngIf="f.ConfirmPassword.errors.mustMatch">Passwords must match</div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="card-footer">
									<button type="submit" class="btn btn-success btn-round">
										{{codeSent? 'Submit' : 'Send Code'}}
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<app-auth-footer></app-auth-footer>
		<div class="full-page-background"
			style="background-image: url(./assets/img/bg/jan-sendereks.jpg)"></div>
	</div>
</div>