<div class="main-content" (contextmenu)="__elementSelectionService.select('422732522',$event)" [ngStyle]="__elementSelectionService.getStyles('422732522')"(click)='__elementSelectionService.clear()'>
  <div class="row" (contextmenu)="__elementSelectionService.select('2062137290',$event)" [ngStyle]="__elementSelectionService.getStyles('2062137290')">
    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1892073295',$event)" [ngStyle]="__elementSelectionService.getStyles('1892073295')">
      <div class="card card-user" (contextmenu)="__elementSelectionService.select('1785724420',$event)" [ngStyle]="__elementSelectionService.getStyles('1785724420')">
        <div class="image" (contextmenu)="__elementSelectionService.select('1073583321',$event)" [ngStyle]="__elementSelectionService.getStyles('1073583321')">
          <img alt="..." src="./assets/img/bg/damir-bosnjak.jpg" (contextmenu)="__elementSelectionService.select('136131339',$event)" [ngStyle]="__elementSelectionService.getStyles('136131339')">
        </div>
        <div class="card-body" (contextmenu)="__elementSelectionService.select('1306839424',$event)" [ngStyle]="__elementSelectionService.getStyles('1306839424')">
          <div class="author" (contextmenu)="__elementSelectionService.select('1483641318',$event)" [ngStyle]="__elementSelectionService.getStyles('1483641318')">
            <a href="javascript:void(0)" (contextmenu)="__elementSelectionService.select('191270254',$event)" [ngStyle]="__elementSelectionService.getStyles('191270254')">
              <img alt="..." class="avatar border-gray" src="./assets/img/mike.jpg" (contextmenu)="__elementSelectionService.select('1778545250',$event)" [ngStyle]="__elementSelectionService.getStyles('1778545250')">
              <h5 class="title" (contextmenu)="__elementSelectionService.select('21044843',$event)" [ngStyle]="__elementSelectionService.getStyles('21044843')">{{form.get('FullName').value}}</h5>
            </a>
            <p class="description" (contextmenu)="__elementSelectionService.select('755781124',$event)" [ngStyle]="__elementSelectionService.getStyles('755781124')">{{form.get('email').value}}</p>
          </div>
          <p class="description text-center" (contextmenu)="__elementSelectionService.select('314489654',$event)" [ngStyle]="__elementSelectionService.getStyles('314489654')">
            &#34;I like the way you work it <br (contextmenu)="__elementSelectionService.select('1800821345',$event)" [ngStyle]="__elementSelectionService.getStyles('1800821345')"> No diggity <br (contextmenu)="__elementSelectionService.select('1651356454',$event)" [ngStyle]="__elementSelectionService.getStyles('1651356454')"> I wanna
            bag it up&#34;
          </p>
        </div>
        <div class="card-footer" (contextmenu)="__elementSelectionService.select('761179393',$event)" [ngStyle]="__elementSelectionService.getStyles('761179393')">
          <hr (contextmenu)="__elementSelectionService.select('1247724695',$event)" [ngStyle]="__elementSelectionService.getStyles('1247724695')">
          <div class="button-container" (contextmenu)="__elementSelectionService.select('327293679',$event)" [ngStyle]="__elementSelectionService.getStyles('327293679')">
            <div class="row" (contextmenu)="__elementSelectionService.select('477720378',$event)" [ngStyle]="__elementSelectionService.getStyles('477720378')">
              <div class="col-lg-12 col-md-12 col-12 ml-auto mr-auto" (contextmenu)="__elementSelectionService.select('1150811921',$event)" [ngStyle]="__elementSelectionService.getStyles('1150811921')">
                <h5 (contextmenu)="__elementSelectionService.select('2018632040',$event)" [ngStyle]="__elementSelectionService.getStyles('2018632040')">
                  1,200 <br (contextmenu)="__elementSelectionService.select('2064112111',$event)" [ngStyle]="__elementSelectionService.getStyles('2064112111')">
                  <small (contextmenu)="__elementSelectionService.select('751855882',$event)" [ngStyle]="__elementSelectionService.getStyles('751855882')">No. of Farmers</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1472488694',$event)" [ngStyle]="__elementSelectionService.getStyles('1472488694')">
      <div class="card" (contextmenu)="__elementSelectionService.select('543786439',$event)" [ngStyle]="__elementSelectionService.getStyles('543786439')">
        <div class="card-header" (contextmenu)="__elementSelectionService.select('1709500548',$event)" [ngStyle]="__elementSelectionService.getStyles('1709500548')">
          <h5 class="title" (contextmenu)="__elementSelectionService.select('1246971147',$event)" [ngStyle]="__elementSelectionService.getStyles('1246971147')">Profile</h5>
        </div>
        <div class="card-body" (contextmenu)="__elementSelectionService.select('1044675427',$event)" [ngStyle]="__elementSelectionService.getStyles('1044675427')">
          <form [formGroup]="form" (contextmenu)="__elementSelectionService.select('1383044817',$event)" [ngStyle]="__elementSelectionService.getStyles('1383044817')">
            <div class="row" (contextmenu)="__elementSelectionService.select('277734608',$event)" [ngStyle]="__elementSelectionService.getStyles('277734608')">
              <div class="col-md-12 " (contextmenu)="__elementSelectionService.select('1076269271',$event)" [ngStyle]="__elementSelectionService.getStyles('1076269271')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1562666195',$event)" [ngStyle]="__elementSelectionService.getStyles('1562666195')">
                  <label (contextmenu)="__elementSelectionService.select('1934866616',$event)" [ngStyle]="__elementSelectionService.getStyles('1934866616')">Company</label>
                  <input class="form-control" placeholder="Company" type="text" formControlName="Company" (contextmenu)="__elementSelectionService.select('201816422',$event)" [ngStyle]="__elementSelectionService.getStyles('201816422')">
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('2027151385',$event)" [ngStyle]="__elementSelectionService.getStyles('2027151385')">
              <div class="col-md-6 pr-1" (contextmenu)="__elementSelectionService.select('103743788',$event)" [ngStyle]="__elementSelectionService.getStyles('103743788')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1750593321',$event)" [ngStyle]="__elementSelectionService.getStyles('1750593321')">
                  <label (contextmenu)="__elementSelectionService.select('1596749580',$event)" [ngStyle]="__elementSelectionService.getStyles('1596749580')">Username</label>
                  <input formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.username.errors }" (contextmenu)="__elementSelectionService.select('949520344',$event)" [ngStyle]="__elementSelectionService.getStyles('949520344')">
                  <div *ngIf="submitted &#38;&#38; f.username.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1187039110',$event)" [ngStyle]="__elementSelectionService.getStyles('1187039110')">
                    <div *ngIf="f.username.errors.required" (contextmenu)="__elementSelectionService.select('297354960',$event)" [ngStyle]="__elementSelectionService.getStyles('297354960')">Username is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1" (contextmenu)="__elementSelectionService.select('756140028',$event)" [ngStyle]="__elementSelectionService.getStyles('756140028')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1363878849',$event)" [ngStyle]="__elementSelectionService.getStyles('1363878849')">
                  <label for="exampleInputEmail1" (contextmenu)="__elementSelectionService.select('301413017',$event)" [ngStyle]="__elementSelectionService.getStyles('301413017')">Email address</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.email.errors }" (contextmenu)="__elementSelectionService.select('1252223409',$event)" [ngStyle]="__elementSelectionService.getStyles('1252223409')">
                  <div *ngIf="submitted &#38;&#38; f.email.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1764649278',$event)" [ngStyle]="__elementSelectionService.getStyles('1764649278')">
                    <div *ngIf="f.email.errors.required" (contextmenu)="__elementSelectionService.select('1643318001',$event)" [ngStyle]="__elementSelectionService.getStyles('1643318001')">Email is required</div>
                    <div *ngIf="f.email.errors.email" (contextmenu)="__elementSelectionService.select('1236836268',$event)" [ngStyle]="__elementSelectionService.getStyles('1236836268')">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('403151307',$event)" [ngStyle]="__elementSelectionService.getStyles('403151307')">
              <div class="col-md-6 pr-1" (contextmenu)="__elementSelectionService.select('49964140',$event)" [ngStyle]="__elementSelectionService.getStyles('49964140')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('2074563136',$event)" [ngStyle]="__elementSelectionService.getStyles('2074563136')">
                  <label (contextmenu)="__elementSelectionService.select('1987045223',$event)" [ngStyle]="__elementSelectionService.getStyles('1987045223')">Full Name</label>
                  <input type="text" formControlName="FullName" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.FullName.errors }" (contextmenu)="__elementSelectionService.select('1384313248',$event)" [ngStyle]="__elementSelectionService.getStyles('1384313248')">
                  <div *ngIf="submitted &#38;&#38; f.FullName.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('51000984',$event)" [ngStyle]="__elementSelectionService.getStyles('51000984')">
                    <div *ngIf="f.FullName.errors.required" (contextmenu)="__elementSelectionService.select('1115570667',$event)" [ngStyle]="__elementSelectionService.getStyles('1115570667')">Full Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1" (contextmenu)="__elementSelectionService.select('1269027356',$event)" [ngStyle]="__elementSelectionService.getStyles('1269027356')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('241771833',$event)" [ngStyle]="__elementSelectionService.getStyles('241771833')">
                  <label (contextmenu)="__elementSelectionService.select('1543863450',$event)" [ngStyle]="__elementSelectionService.getStyles('1543863450')">Phone Number</label>
                  <input class="form-control" placeholder="e.g. +254 000 000 000" formControlName="PhoneNo" type="text" [ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}" mask="(+000) 000-000000" (contextmenu)="__elementSelectionService.select('1816403944',$event)" [ngStyle]="__elementSelectionService.getStyles('1816403944')">
                  <div *ngIf="submitted &#38;&#38; f.PhoneNo.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('958534478',$event)" [ngStyle]="__elementSelectionService.getStyles('958534478')">
                    <div *ngIf="f.PhoneNo.errors.required" (contextmenu)="__elementSelectionService.select('2124790206',$event)" [ngStyle]="__elementSelectionService.getStyles('2124790206')">Phone number is required</div>
                    <div *ngIf="f.PhoneNo.errors.pattern" (contextmenu)="__elementSelectionService.select('154397532',$event)" [ngStyle]="__elementSelectionService.getStyles('154397532')">Incorrect! use format e.g. (+000) 000-000000</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('1170480845',$event)" [ngStyle]="__elementSelectionService.getStyles('1170480845')">
              <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1817566552',$event)" [ngStyle]="__elementSelectionService.getStyles('1817566552')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1072619813',$event)" [ngStyle]="__elementSelectionService.getStyles('1072619813')">
                  <label (contextmenu)="__elementSelectionService.select('697402511',$event)" [ngStyle]="__elementSelectionService.getStyles('697402511')">Physical Address</label>
                  <input class="form-control" placeholder="Home Address" type="text" value="Nairobi, Kenya" (contextmenu)="__elementSelectionService.select('1279706374',$event)" [ngStyle]="__elementSelectionService.getStyles('1279706374')">
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('247168715',$event)" [ngStyle]="__elementSelectionService.getStyles('247168715')">
              <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1175732720',$event)" [ngStyle]="__elementSelectionService.getStyles('1175732720')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1661210689',$event)" [ngStyle]="__elementSelectionService.getStyles('1661210689')">
                  <label (contextmenu)="__elementSelectionService.select('428902354',$event)" [ngStyle]="__elementSelectionService.getStyles('428902354')">About Me</label>
                  <textarea class="form-control textarea" cols="80" rows="2" (contextmenu)="__elementSelectionService.select('1284046605',$event)" [ngStyle]="__elementSelectionService.getStyles('1284046605')">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
