<app-auth-header
	(contextmenu)="__elementSelectionService.select('1501334972',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1501334972')"
	(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page "
	(contextmenu)="__elementSelectionService.select('1635655837',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1635655837')"
	(click)='__elementSelectionService.clear()'>
	<div class="full-page register-page section-image"
		data-image="../assets/img/bg/jan-sendereks.jpg" filter-color="black"
		(contextmenu)="__elementSelectionService.select('1193427330',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1193427330')">
		<div class="content"
			(contextmenu)="__elementSelectionService.select('605739728',$event)"
			[ngStyle]="__elementSelectionService.getStyles('605739728')">
			<div class="container mt-0"
				(contextmenu)="__elementSelectionService.select('879782918',$event)"
				[ngStyle]="__elementSelectionService.getStyles('879782918')">
				<div class="row"
					(contextmenu)="__elementSelectionService.select('1071994424',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1071994424')">
					<div class="col-lg-5 col-md-5 ml-auto"
						(contextmenu)="__elementSelectionService.select('1788751383',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1788751383')">
						<div class="info-area info-horizontal mt-0"
							(contextmenu)="__elementSelectionService.select('413185486',$event)"
							[ngStyle]="__elementSelectionService.getStyles('413185486')">
							<div class="icon icon-primary"
								(contextmenu)="__elementSelectionService.select('789047936',$event)"
								[ngStyle]="__elementSelectionService.getStyles('789047936')">
								<i class="nc-icon nc-circle-10"
									(contextmenu)="__elementSelectionService.select('977677774',$event)"
									[ngStyle]="__elementSelectionService.getStyles('977677774')"></i>
							</div>
							<div class="description"
								(contextmenu)="__elementSelectionService.select('557011463',$event)"
								[ngStyle]="__elementSelectionService.getStyles('557011463')">
								<h5 class="info-title"
									(contextmenu)="__elementSelectionService.select('1017154858',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1017154858')">Farmer
									Representation</h5>
								<p class="description"
									(contextmenu)="__elementSelectionService.select('753087444',$event)"
									[ngStyle]="__elementSelectionService.getStyles('753087444')">We
									engage the Government on behalf of its farmer members in a bid
									to ensure that we have favorable and sustainable agricultural
									policies.</p>
							</div>
						</div>
						<div class="info-area info-horizontal"
							(contextmenu)="__elementSelectionService.select('666911707',$event)"
							[ngStyle]="__elementSelectionService.getStyles('666911707')">
							<div class="icon icon-primary"
								(contextmenu)="__elementSelectionService.select('475565646',$event)"
								[ngStyle]="__elementSelectionService.getStyles('475565646')">
								<i class="nc-icon nc-html5"
									(contextmenu)="__elementSelectionService.select('615094578',$event)"
									[ngStyle]="__elementSelectionService.getStyles('615094578')"></i>
							</div>
							<div class="description"
								(contextmenu)="__elementSelectionService.select('299987936',$event)"
								[ngStyle]="__elementSelectionService.getStyles('299987936')">
								<h5 class="info-title"
									(contextmenu)="__elementSelectionService.select('874132636',$event)"
									[ngStyle]="__elementSelectionService.getStyles('874132636')">Training,
									Research &#38; Advisory</h5>
								<p class="description"
									(contextmenu)="__elementSelectionService.select('1827202735',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1827202735')">We
									offer extension and advisory services to farmers through the
									establishment of learning centers and demo farms.</p>
							</div>
						</div>
						<div class="info-area info-horizontal"
							(contextmenu)="__elementSelectionService.select('81826313',$event)"
							[ngStyle]="__elementSelectionService.getStyles('81826313')">
							<div class="icon icon-info"
								(contextmenu)="__elementSelectionService.select('512003846',$event)"
								[ngStyle]="__elementSelectionService.getStyles('512003846')">
								<i class="nc-icon nc-atom"
									(contextmenu)="__elementSelectionService.select('2078275230',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2078275230')"></i>
							</div>
							<div class="description"
								(contextmenu)="__elementSelectionService.select('1353300692',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1353300692')">
								<h5 class="info-title"
									(contextmenu)="__elementSelectionService.select('1348012562',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1348012562')">Farmer
									Linkage Services</h5>
								<p class="description"
									(contextmenu)="__elementSelectionService.select('1780433824',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1780433824')">
									We play the critical role of linking farmers with the following
									services.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mr-auto"
						(contextmenu)="__elementSelectionService.select('1861235579',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1861235579')">
						<div class="card card-signup text-center"
							(contextmenu)="__elementSelectionService.select('1930582891',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1930582891')">
							<div class="card-header "
								(contextmenu)="__elementSelectionService.select('1803802241',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1803802241')">
								<h4 class="card-title"
									(contextmenu)="__elementSelectionService.select('2073139730',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2073139730')">Account
									Signup</h4>
								<div class="social"
									(contextmenu)="__elementSelectionService.select('336926192',$event)"
									[ngStyle]="__elementSelectionService.getStyles('336926192')">
									<p class="card-description"
										(contextmenu)="__elementSelectionService.select('1975373082',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1975373082')">Enter
										details below to register as a member</p>
								</div>
							</div>
							<div class="card-body "
								(contextmenu)="__elementSelectionService.select('16726770',$event)"
								[ngStyle]="__elementSelectionService.getStyles('16726770')">
								<form class="form" name="form" [formGroup]="form" novalidate
									(contextmenu)="__elementSelectionService.select('2001297909',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2001297909')">
									<div class="input-group"
										(contextmenu)="__elementSelectionService.select('1271873657',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1271873657')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('1342275847',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1342275847')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('693111135',$event)"
												[ngStyle]="__elementSelectionService.getStyles('693111135')"><i
												class="nc-icon nc-single-02"
												(contextmenu)="__elementSelectionService.select('355107657',$event)"
												[ngStyle]="__elementSelectionService.getStyles('355107657')"></i></span>
										</div>
										<input class="form-control" placeholder="Name..."
											formControlName="FullName" type="text"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.FullName.errors}"
											(contextmenu)="__elementSelectionService.select('618120477',$event)"
											[ngStyle]="__elementSelectionService.getStyles('618120477')">
										<div *ngIf="submitted &#38;&#38; f.FullName.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('2021814585',$event)"
											[ngStyle]="__elementSelectionService.getStyles('2021814585')">
											<div *ngIf="f.FullName.errors.required"
												(contextmenu)="__elementSelectionService.select('1362204039',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1362204039')">Enter
												your full name is required</div>
										</div>
									</div>
									<div class="input-group"
										(contextmenu)="__elementSelectionService.select('272659491',$event)"
										[ngStyle]="__elementSelectionService.getStyles('272659491')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('170243099',$event)"
											[ngStyle]="__elementSelectionService.getStyles('170243099')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('1631913951',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1631913951')"><i
												class="nc-icon nc-circle-10"
												(contextmenu)="__elementSelectionService.select('1015364573',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1015364573')"></i></span>
										</div>
										<input class="form-control" placeholder="Phone..."
											formControlName="PhoneNo" type="text"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}"
											mask="(+000) 000-000000"
											(contextmenu)="__elementSelectionService.select('804761858',$event)"
											[ngStyle]="__elementSelectionService.getStyles('804761858')">
										<div *ngIf="submitted &#38;&#38; f.PhoneNo.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('139808139',$event)"
											[ngStyle]="__elementSelectionService.getStyles('139808139')">
											<div *ngIf="f.PhoneNo.errors.required"
												(contextmenu)="__elementSelectionService.select('1097324705',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1097324705')">Phone
												number is required {{f.PhoneNo.errors | json}}</div>
											<div *ngIf="f.PhoneNo.errors.pattern"
												(contextmenu)="__elementSelectionService.select('1411991683',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1411991683')">Incorrect!
												use format e.g. (+000) 000-000000</div>
										</div>
									</div>
									<div class="input-group"
										(contextmenu)="__elementSelectionService.select('1178897573',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1178897573')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('1683994867',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1683994867')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('453170697',$event)"
												[ngStyle]="__elementSelectionService.getStyles('453170697')"><i
												class="nc-icon nc-email-85"
												(contextmenu)="__elementSelectionService.select('99739834',$event)"
												[ngStyle]="__elementSelectionService.getStyles('99739834')"></i></span>
										</div>
										<input class="form-control" placeholder="Email..."
											formControlName="email" type="email"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.email.errors}"
											(contextmenu)="__elementSelectionService.select('1731362053',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1731362053')">
										<div *ngIf="submitted &#38;&#38; f.email.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('2125711664',$event)"
											[ngStyle]="__elementSelectionService.getStyles('2125711664')">
											<div *ngIf="f.email.errors.required"
												(contextmenu)="__elementSelectionService.select('1930226289',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1930226289')">Email
												address is required</div>
											<div *ngIf="f.email.errors.pattern"
												(contextmenu)="__elementSelectionService.select('2041735314',$event)"
												[ngStyle]="__elementSelectionService.getStyles('2041735314')">Incorrect!
												use format e.g. aa@abc.com</div>
										</div>
									</div>
									<div class="form-check text-left"
										(contextmenu)="__elementSelectionService.select('228387060',$event)"
										[ngStyle]="__elementSelectionService.getStyles('228387060')">
										<label class="form-check-label"
											(contextmenu)="__elementSelectionService.select('1837517374',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1837517374')">
											<input checked class="form-check-input" type="checkbox"
											(contextmenu)="__elementSelectionService.select('2043509405',$event)"
											[ngStyle]="__elementSelectionService.getStyles('2043509405')">
											<span class="form-check-sign"
											(contextmenu)="__elementSelectionService.select('332495822',$event)"
											[ngStyle]="__elementSelectionService.getStyles('332495822')"></span>
											I agree to the <a href="#/"
											(contextmenu)="__elementSelectionService.select('2036398600',$event)"
											[ngStyle]="__elementSelectionService.getStyles('2036398600')">terms
												and conditions</a>.
										</label>
									</div>
								</form>
							</div>
							<div class="card-footer"
								(contextmenu)="__elementSelectionService.select('652773536',$event)"
								[ngStyle]="__elementSelectionService.getStyles('652773536')">
								<button class="btn btn-info btn-round" (click)="onSubmit()"
									(contextmenu)="__elementSelectionService.select('887297906',$event)"
									[ngStyle]="__elementSelectionService.getStyles('887297906')">
									Register</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-auth-footer
			(contextmenu)="__elementSelectionService.select('754189611',$event)"
			[ngStyle]="__elementSelectionService.getStyles('754189611')"></app-auth-footer>
		<div class="full-page-background"
			style="background-image: url(./assets/img/bg/jan-sendereks.jpg)"
			(contextmenu)="__elementSelectionService.select('1387928071',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1387928071')"></div>
	</div>
</div>