<footer class="footer" (contextmenu)="__elementSelectionService.select('437991548',$event)" [ngStyle]="__elementSelectionService.getStyles('437991548')"(click)='__elementSelectionService.clear()'>
    <div class="container-fluid" (contextmenu)="__elementSelectionService.select('1981443442',$event)" [ngStyle]="__elementSelectionService.getStyles('1981443442')">
        <nav class="pull-left" (contextmenu)="__elementSelectionService.select('889283349',$event)" [ngStyle]="__elementSelectionService.getStyles('889283349')">
            <ul (contextmenu)="__elementSelectionService.select('622774781',$event)" [ngStyle]="__elementSelectionService.getStyles('622774781')">
                <li (contextmenu)="__elementSelectionService.select('734728477',$event)" [ngStyle]="__elementSelectionService.getStyles('734728477')">
                    <a href="https://www.slicksales.co.ke" target="_blank" (contextmenu)="__elementSelectionService.select('236947691',$event)" [ngStyle]="__elementSelectionService.getStyles('236947691')">Creative Team</a>
                </li>
                <li (contextmenu)="__elementSelectionService.select('817388534',$event)" [ngStyle]="__elementSelectionService.getStyles('817388534')">
                    <a href="http://blog.slicksales.co.ke/" target="_blank" (contextmenu)="__elementSelectionService.select('1664761149',$event)" [ngStyle]="__elementSelectionService.getStyles('1664761149')">Blog</a>
                </li>
                <li (contextmenu)="__elementSelectionService.select('277515198',$event)" [ngStyle]="__elementSelectionService.getStyles('277515198')">
                    <a href="https://www.slicksales.co.ke/license" target="_blank" (contextmenu)="__elementSelectionService.select('1646268820',$event)" [ngStyle]="__elementSelectionService.getStyles('1646268820')">License</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right" (contextmenu)="__elementSelectionService.select('271946189',$event)" [ngStyle]="__elementSelectionService.getStyles('271946189')">
            &#169; {{test | date: 'yyyy'}}, made with 
            <i class="fa fa-heart heart" (contextmenu)="__elementSelectionService.select('575968547',$event)" [ngStyle]="__elementSelectionService.getStyles('575968547')"></i> by 
            <a href="https://www.slicksales.co.ke" target="_blank" (contextmenu)="__elementSelectionService.select('1715940780',$event)" [ngStyle]="__elementSelectionService.getStyles('1715940780')">Slicksales Limited</a>
        </div>
    </div>
</footer>
