<div class="fixed-plugin" (contextmenu)="__elementSelectionService.select('974150045',$event)" [ngStyle]="__elementSelectionService.getStyles('974150045')"(click)='__elementSelectionService.clear()'>
    <div class="show-dropdown" ngbDropdown (contextmenu)="__elementSelectionService.select('542961721',$event)" [ngStyle]="__elementSelectionService.getStyles('542961721')">
        <a href="javascript:void(0)" ngbDropdownToggle id="dropdownConfig" (contextmenu)="__elementSelectionService.select('414751006',$event)" [ngStyle]="__elementSelectionService.getStyles('414751006')">
          <i class="fa fa-cog fa-2x" (contextmenu)="__elementSelectionService.select('1434199597',$event)" [ngStyle]="__elementSelectionService.getStyles('1434199597')"> </i>
        </a>
        <ul class ngbDropdownMenu aria-labelledby="dropdownConfig" (contextmenu)="__elementSelectionService.select('528500978',$event)" [ngStyle]="__elementSelectionService.getStyles('528500978')">
            <li class="header-title" (contextmenu)="__elementSelectionService.select('1486532099',$event)" [ngStyle]="__elementSelectionService.getStyles('1486532099')">Sidebar Background</li>
            <li class="adjustments-line text-center" (contextmenu)="__elementSelectionService.select('70691943',$event)" [ngStyle]="__elementSelectionService.getStyles('70691943')">
                <a href="javascript:void(0)" class="switch-trigger background-color" (contextmenu)="__elementSelectionService.select('818917250',$event)" [ngStyle]="__elementSelectionService.getStyles('818917250')">
                    <span class="badge filter badge-light active" [ngClass]="{'active':sidebarColor==='white'}" (click)="changeSidebarColor('white')" (contextmenu)="__elementSelectionService.select('756393649',$event)" [ngStyle]="__elementSelectionService.getStyles('756393649')"></span>
                    <span class="badge filter badge-dark" [ngClass]="{'active':sidebarColor==='black'}" (click)="changeSidebarColor('black')" (contextmenu)="__elementSelectionService.select('552791974',$event)" [ngStyle]="__elementSelectionService.getStyles('552791974')"></span>
                </a>
            </li>

	          <li class="header-title" (contextmenu)="__elementSelectionService.select('286669387',$event)" [ngStyle]="__elementSelectionService.getStyles('286669387')">Sidebar Active Color</li>
            <li class="adjustments-line text-center" (contextmenu)="__elementSelectionService.select('1550333012',$event)" [ngStyle]="__elementSelectionService.getStyles('1550333012')">
                <a href="javascript:void(0)" class="switch-trigger active-color" (contextmenu)="__elementSelectionService.select('1548230982',$event)" [ngStyle]="__elementSelectionService.getStyles('1548230982')">
                    <span class="badge filter badge-primary" [ngClass]="{'active':sidebarActiveColor==='primary'}" (click)="changeSidebarActiveColor('primary')" (contextmenu)="__elementSelectionService.select('1810918070',$event)" [ngStyle]="__elementSelectionService.getStyles('1810918070')"></span>
                    <span class="badge filter badge-info" [ngClass]="{'active':sidebarActiveColor==='info'}" (click)="changeSidebarActiveColor('info')" (contextmenu)="__elementSelectionService.select('1268044257',$event)" [ngStyle]="__elementSelectionService.getStyles('1268044257')"></span>
                    <span class="badge filter badge-success" [ngClass]="{'active':sidebarActiveColor==='success'}" (click)="changeSidebarActiveColor('success')" (contextmenu)="__elementSelectionService.select('1455654483',$event)" [ngStyle]="__elementSelectionService.getStyles('1455654483')"></span>
                    <span class="badge filter badge-warning" [ngClass]="{'active':sidebarActiveColor==='warning'}" (click)="changeSidebarActiveColor('warning')" (contextmenu)="__elementSelectionService.select('1260179420',$event)" [ngStyle]="__elementSelectionService.getStyles('1260179420')"></span>
                    <span class="badge filter badge-danger active" [ngClass]="{'active':sidebarActiveColor==='danger'}" (click)="changeSidebarActiveColor('danger')" (contextmenu)="__elementSelectionService.select('600947155',$event)" [ngStyle]="__elementSelectionService.getStyles('600947155')"></span>
                </a>
            </li>

        </ul>
    </div>
</div>
