<app-auth-header
	(contextmenu)="__elementSelectionService.select('1112380125',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1112380125')"
	(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page "
	(contextmenu)="__elementSelectionService.select('23302755',$event)"
	[ngStyle]="__elementSelectionService.getStyles('23302755')"
	(click)='__elementSelectionService.clear()'>
	<div class="full-page section-image"
		data-image="./assets/img/bg/fabio-mangione.jpg" filter-color="black"
		(contextmenu)="__elementSelectionService.select('1980995874',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1980995874')">
		<div class="content"
			(contextmenu)="__elementSelectionService.select('1082959225',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1082959225')">
			<div class="container"
				(contextmenu)="__elementSelectionService.select('1575077761',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1575077761')">
				<div class="col-lg-4 col-md-6 ml-auto mr-auto"
					(contextmenu)="__elementSelectionService.select('888294751',$event)"
					[ngStyle]="__elementSelectionService.getStyles('888294751')">
					<form (submit)="onSubmit()" class="form" name="form"
						[formGroup]="form" novalidate
						(contextmenu)="__elementSelectionService.select('1589778538',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1589778538')">
						<div class="card card-login"
							(contextmenu)="__elementSelectionService.select('2076232102',$event)"
							[ngStyle]="__elementSelectionService.getStyles('2076232102')">
							<div class="card-header "
								(contextmenu)="__elementSelectionService.select('676254864',$event)"
								[ngStyle]="__elementSelectionService.getStyles('676254864')">
								<div class="card-header "
									(contextmenu)="__elementSelectionService.select('242285683',$event)"
									[ngStyle]="__elementSelectionService.getStyles('242285683')">
									<h3 class="header text-center"
										(contextmenu)="__elementSelectionService.select('1086301343',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1086301343')">Login</h3>
								</div>
							</div>
							<div class="card-body "
								(contextmenu)="__elementSelectionService.select('1028643031',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1028643031')">
								<div style="display: none"
									(contextmenu)="__elementSelectionService.select('1677418938',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1677418938')">
									<input type="password" tabindex="-1"
										(contextmenu)="__elementSelectionService.select('1784781522',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1784781522')">
								</div>
								<div class="input-group"
									(contextmenu)="__elementSelectionService.select('1464291421',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1464291421')">
									<div class="input-group-prepend"
										(contextmenu)="__elementSelectionService.select('344826626',$event)"
										[ngStyle]="__elementSelectionService.getStyles('344826626')">
										<span class="input-group-text"
											(contextmenu)="__elementSelectionService.select('751040152',$event)"
											[ngStyle]="__elementSelectionService.getStyles('751040152')"><i
											class="nc-icon nc-single-02"
											(contextmenu)="__elementSelectionService.select('1242713816',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1242713816')"></i></span>
									</div>
									<input class="form-control" placeholder="Phone or Email"
										formControlName="Username" type="text"
										[ngClass]="{'is-invalid': submitted &#38;&#38; f.Username.errors}"
										autocomplete="off"
										(contextmenu)="__elementSelectionService.select('658127487',$event)"
										[ngStyle]="__elementSelectionService.getStyles('658127487')">
									<div *ngIf="submitted &#38;&#38; f.Username.errors"
										class="invalid-feedback"
										(contextmenu)="__elementSelectionService.select('1582696489',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1582696489')">
										<div *ngIf="f.Username.errors.required"
											(contextmenu)="__elementSelectionService.select('1829913165',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1829913165')">Enter
											your phone or email</div>
									</div>
								</div>
								<div class="input-group"
									(contextmenu)="__elementSelectionService.select('900638137',$event)"
									[ngStyle]="__elementSelectionService.getStyles('900638137')">
									<div class="input-group-prepend"
										(contextmenu)="__elementSelectionService.select('1127323825',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1127323825')">
										<span class="input-group-text"
											(contextmenu)="__elementSelectionService.select('768137150',$event)"
											[ngStyle]="__elementSelectionService.getStyles('768137150')"><i
											class="nc-icon nc-key-25"
											(contextmenu)="__elementSelectionService.select('1379399776',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1379399776')"></i></span>
									</div>
									<input class="form-control" placeholder="Your Password"
										formControlName="Password" type="password"
										[ngClass]="{'is-invalid': submitted &#38;&#38; f.Password.errors}"
										autocomplete="off"
										(contextmenu)="__elementSelectionService.select('309595378',$event)"
										[ngStyle]="__elementSelectionService.getStyles('309595378')">
									<div *ngIf="submitted &#38;&#38; f.Password.errors"
										class="invalid-feedback"
										(contextmenu)="__elementSelectionService.select('1573906973',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1573906973')">
										<div *ngIf="f.Password.errors.required"
											(contextmenu)="__elementSelectionService.select('919712573',$event)"
											[ngStyle]="__elementSelectionService.getStyles('919712573')">Enter
											your password here</div>
									</div>
								</div>
								<br
									(contextmenu)="__elementSelectionService.select('1531492735',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1531492735')">
								<div class="form-group"
									(contextmenu)="__elementSelectionService.select('1776893304',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1776893304')">
									<div class="form-check"
										(contextmenu)="__elementSelectionService.select('1263844698',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1263844698')">
										<label class="form-check-label"
											(contextmenu)="__elementSelectionService.select('1890039638',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1890039638')"><input
											checked class="form-check-input" type="checkbox" value
											(contextmenu)="__elementSelectionService.select('1849326460',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1849326460')"><span
											class="form-check-sign"
											(contextmenu)="__elementSelectionService.select('1318619454',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1318619454')"></span>
											Subscribe to newsletter </label>
									</div>
								</div>
							</div>
							<div class="card-footer "
								(contextmenu)="__elementSelectionService.select('541606874',$event)"
								[ngStyle]="__elementSelectionService.getStyles('541606874')">
								<button class="btn btn-warning btn-round btn-block mb-3"
									(contextmenu)="__elementSelectionService.select('1830309250',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1830309250')">
									Login</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<app-auth-footer
			(contextmenu)="__elementSelectionService.select('1346644678',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1346644678')"></app-auth-footer>
		<div class="full-page-background"
			style="background-image: url(./assets/img/bg/fabio-mangione.jpg)"
			(contextmenu)="__elementSelectionService.select('1520404617',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1520404617')"></div>
	</div>
</div>