<div class="row"
	(contextmenu)="__elementSelectionService.select('435636682',$event)"
	[ngStyle]="__elementSelectionService.getStyles('435636682')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-8 ml-auto mr-auto"
		(contextmenu)="__elementSelectionService.select('235593837',$event)"
		[ngStyle]="__elementSelectionService.getStyles('235593837')">
		<div class="card card-upgrade"
			(contextmenu)="__elementSelectionService.select('764432767',$event)"
			[ngStyle]="__elementSelectionService.getStyles('764432767')">
			<div class="card-header text-center"
				(contextmenu)="__elementSelectionService.select('1250711227',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1250711227')">
				<h4 class="card-title"
					(contextmenu)="__elementSelectionService.select('848288632',$event)"
					[ngStyle]="__elementSelectionService.getStyles('848288632')">Paper
					Dashboard PRO Angular</h4>
				<p class="card-category"
					(contextmenu)="__elementSelectionService.select('1801407692',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1801407692')">Are
					you looking for more components? Please check our Premium Version
					of Paper Dashboard PRO.</p>
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('1147925361',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1147925361')">
				<div class="table-responsive table-upgrade"
					(contextmenu)="__elementSelectionService.select('1819954377',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1819954377')">
					<table class="table"
						(contextmenu)="__elementSelectionService.select('551685669',$event)"
						[ngStyle]="__elementSelectionService.getStyles('551685669')">
						<thead
							(contextmenu)="__elementSelectionService.select('826937305',$event)"
							[ngStyle]="__elementSelectionService.getStyles('826937305')">
							<th
								(contextmenu)="__elementSelectionService.select('715227898',$event)"
								[ngStyle]="__elementSelectionService.getStyles('715227898')"></th>
							<th class="text-center"
								(contextmenu)="__elementSelectionService.select('335781731',$event)"
								[ngStyle]="__elementSelectionService.getStyles('335781731')">Free</th>
							<th class="text-center"
								(contextmenu)="__elementSelectionService.select('606091488',$event)"
								[ngStyle]="__elementSelectionService.getStyles('606091488')">PRO</th>
						</thead>
						<tbody
							(contextmenu)="__elementSelectionService.select('1165348730',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1165348730')">
							<tr
								(contextmenu)="__elementSelectionService.select('1675961212',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1675961212')">
								<td
									(contextmenu)="__elementSelectionService.select('1804947684',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1804947684')">Components</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('1314361934',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1314361934')">16</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('632462049',$event)"
									[ngStyle]="__elementSelectionService.getStyles('632462049')">160</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1862706152',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1862706152')">
								<td
									(contextmenu)="__elementSelectionService.select('777374876',$event)"
									[ngStyle]="__elementSelectionService.getStyles('777374876')">Plugins</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('1558376186',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1558376186')">4</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('1832260117',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1832260117')">15</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('930477496',$event)"
								[ngStyle]="__elementSelectionService.getStyles('930477496')">
								<td
									(contextmenu)="__elementSelectionService.select('935657190',$event)"
									[ngStyle]="__elementSelectionService.getStyles('935657190')">Example
									Pages</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('2082100186',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2082100186')">7</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('568410358',$event)"
									[ngStyle]="__elementSelectionService.getStyles('568410358')">27</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('958507335',$event)"
								[ngStyle]="__elementSelectionService.getStyles('958507335')">
								<td
									(contextmenu)="__elementSelectionService.select('688018251',$event)"
									[ngStyle]="__elementSelectionService.getStyles('688018251')">Login,
									Register, Pricing, Lock Pages</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('120082738',$event)"
									[ngStyle]="__elementSelectionService.getStyles('120082738')"><i
									class="nc-icon nc-simple-remove text-danger"
									(contextmenu)="__elementSelectionService.select('753227729',$event)"
									[ngStyle]="__elementSelectionService.getStyles('753227729')"></i></td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('414890139',$event)"
									[ngStyle]="__elementSelectionService.getStyles('414890139')"><i
									class="nc-icon nc-check-2 text-success"
									(contextmenu)="__elementSelectionService.select('588855500',$event)"
									[ngStyle]="__elementSelectionService.getStyles('588855500')"></i></td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1719487580',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1719487580')">
								<td
									(contextmenu)="__elementSelectionService.select('1621148829',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1621148829')">DataTables,
									VectorMap, SweetAlert, Wizard, FullCalendar etc...</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('764659314',$event)"
									[ngStyle]="__elementSelectionService.getStyles('764659314')"><i
									class="nc-icon nc-simple-remove text-danger"
									(contextmenu)="__elementSelectionService.select('1193694292',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1193694292')"></i></td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('1270218560',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1270218560')"><i
									class="nc-icon nc-check-2 text-success"
									(contextmenu)="__elementSelectionService.select('769089159',$event)"
									[ngStyle]="__elementSelectionService.getStyles('769089159')"></i></td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('507821337',$event)"
								[ngStyle]="__elementSelectionService.getStyles('507821337')">
								<td
									(contextmenu)="__elementSelectionService.select('1798692465',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1798692465')">Mini
									Sidebar</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('262038440',$event)"
									[ngStyle]="__elementSelectionService.getStyles('262038440')"><i
									class="nc-icon nc-simple-remove text-danger"
									(contextmenu)="__elementSelectionService.select('413808570',$event)"
									[ngStyle]="__elementSelectionService.getStyles('413808570')"></i></td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('599653827',$event)"
									[ngStyle]="__elementSelectionService.getStyles('599653827')"><i
									class="nc-icon nc-check-2 text-success"
									(contextmenu)="__elementSelectionService.select('1723754899',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1723754899')"></i></td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('440522191',$event)"
								[ngStyle]="__elementSelectionService.getStyles('440522191')">
								<td
									(contextmenu)="__elementSelectionService.select('1402943194',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1402943194')">Premium
									Support</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('520129167',$event)"
									[ngStyle]="__elementSelectionService.getStyles('520129167')"><i
									class="nc-icon nc-simple-remove text-danger"
									(contextmenu)="__elementSelectionService.select('182950413',$event)"
									[ngStyle]="__elementSelectionService.getStyles('182950413')"></i></td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('513591603',$event)"
									[ngStyle]="__elementSelectionService.getStyles('513591603')"><i
									class="nc-icon nc-check-2 text-success"
									(contextmenu)="__elementSelectionService.select('874448348',$event)"
									[ngStyle]="__elementSelectionService.getStyles('874448348')"></i></td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('802207010',$event)"
								[ngStyle]="__elementSelectionService.getStyles('802207010')">
								<td
									(contextmenu)="__elementSelectionService.select('424768807',$event)"
									[ngStyle]="__elementSelectionService.getStyles('424768807')"></td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('1635574383',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1635574383')">Free</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('755055225',$event)"
									[ngStyle]="__elementSelectionService.getStyles('755055225')">Just
									$49</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('131261278',$event)"
								[ngStyle]="__elementSelectionService.getStyles('131261278')">
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('356009678',$event)"
									[ngStyle]="__elementSelectionService.getStyles('356009678')"></td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('332505500',$event)"
									[ngStyle]="__elementSelectionService.getStyles('332505500')">
									<a href="#" class="btn btn-round btn-default disabled"
									(contextmenu)="__elementSelectionService.select('925336429',$event)"
									[ngStyle]="__elementSelectionService.getStyles('925336429')">Current
										Version</a>
								</td>
								<td class="text-center"
									(contextmenu)="__elementSelectionService.select('671047364',$event)"
									[ngStyle]="__elementSelectionService.getStyles('671047364')">
									<a target="_blank"
									href="https://www.creative-tim.com/product/paper-dashboard-pro-angular?ref=pd-free-angular-upgrade-live"
									class="btn btn-round btn-primary"
									(contextmenu)="__elementSelectionService.select('1889952451',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1889952451')">Upgrade
										to PRO</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
