<app-auth-header (contextmenu)="__elementSelectionService.select('8356300',$event)" [ngStyle]="__elementSelectionService.getStyles('8356300')"(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page " (contextmenu)="__elementSelectionService.select('367963187',$event)" [ngStyle]="__elementSelectionService.getStyles('367963187')"(click)='__elementSelectionService.clear()'>
	<div class="full-page register-page section-image" data-image="../assets/img/bg/jan-sendereks.jpg" filter-color="black" (contextmenu)="__elementSelectionService.select('2133140381',$event)" [ngStyle]="__elementSelectionService.getStyles('2133140381')">
		<div class="content" (contextmenu)="__elementSelectionService.select('2094540547',$event)" [ngStyle]="__elementSelectionService.getStyles('2094540547')">
			<div class="container mt-0" (contextmenu)="__elementSelectionService.select('473404319',$event)" [ngStyle]="__elementSelectionService.getStyles('473404319')">
				<div class="row" (contextmenu)="__elementSelectionService.select('1523035591',$event)" [ngStyle]="__elementSelectionService.getStyles('1523035591')">
					<div class="col-lg-5 col-md-5 ml-auto" (contextmenu)="__elementSelectionService.select('203965641',$event)" [ngStyle]="__elementSelectionService.getStyles('203965641')">
						<div class="info-area info-horizontal mt-0" (contextmenu)="__elementSelectionService.select('829790832',$event)" [ngStyle]="__elementSelectionService.getStyles('829790832')">
							<div class="icon icon-primary" (contextmenu)="__elementSelectionService.select('293489834',$event)" [ngStyle]="__elementSelectionService.getStyles('293489834')">
								<i class="nc-icon nc-circle-10" (contextmenu)="__elementSelectionService.select('1982886615',$event)" [ngStyle]="__elementSelectionService.getStyles('1982886615')"></i>
							</div>
							<div class="description" (contextmenu)="__elementSelectionService.select('946892500',$event)" [ngStyle]="__elementSelectionService.getStyles('946892500')">
								<h5 class="info-title" (contextmenu)="__elementSelectionService.select('634111408',$event)" [ngStyle]="__elementSelectionService.getStyles('634111408')">Farmer Representation</h5>
								<p class="description" (contextmenu)="__elementSelectionService.select('1177802431',$event)" [ngStyle]="__elementSelectionService.getStyles('1177802431')">We engage the Government on behalf of its farmer members in a bid to ensure that we have favorable and sustainable agricultural policies.</p>
							</div>
						</div>
						<div class="info-area info-horizontal" (contextmenu)="__elementSelectionService.select('870363748',$event)" [ngStyle]="__elementSelectionService.getStyles('870363748')">
							<div class="icon icon-primary" (contextmenu)="__elementSelectionService.select('148732930',$event)" [ngStyle]="__elementSelectionService.getStyles('148732930')">
								<i class="nc-icon nc-html5" (contextmenu)="__elementSelectionService.select('1942019820',$event)" [ngStyle]="__elementSelectionService.getStyles('1942019820')"></i>
							</div>
							<div class="description" (contextmenu)="__elementSelectionService.select('731801605',$event)" [ngStyle]="__elementSelectionService.getStyles('731801605')">
								<h5 class="info-title" (contextmenu)="__elementSelectionService.select('500927616',$event)" [ngStyle]="__elementSelectionService.getStyles('500927616')">Training, Research &#38; Advisory</h5>
								<p class="description" (contextmenu)="__elementSelectionService.select('2114313813',$event)" [ngStyle]="__elementSelectionService.getStyles('2114313813')">We offer extension and advisory services to farmers through the establishment of learning centers and demo farms.
								</p>
							</div>
						</div>
						<div class="info-area info-horizontal" (contextmenu)="__elementSelectionService.select('197609671',$event)" [ngStyle]="__elementSelectionService.getStyles('197609671')">
							<div class="icon icon-info" (contextmenu)="__elementSelectionService.select('1405212666',$event)" [ngStyle]="__elementSelectionService.getStyles('1405212666')">
								<i class="nc-icon nc-atom" (contextmenu)="__elementSelectionService.select('314572430',$event)" [ngStyle]="__elementSelectionService.getStyles('314572430')"></i>
							</div>
							<div class="description" (contextmenu)="__elementSelectionService.select('1117289978',$event)" [ngStyle]="__elementSelectionService.getStyles('1117289978')">
								<h5 class="info-title" (contextmenu)="__elementSelectionService.select('1932039198',$event)" [ngStyle]="__elementSelectionService.getStyles('1932039198')">Farmer Linkage Services</h5>
								<p class="description" (contextmenu)="__elementSelectionService.select('780923782',$event)" [ngStyle]="__elementSelectionService.getStyles('780923782')">
									We play the critical role of linking farmers with the following services.									
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mr-auto" (contextmenu)="__elementSelectionService.select('1127035735',$event)" [ngStyle]="__elementSelectionService.getStyles('1127035735')">
						<form (submit)="onSubmit()" class="form" name="form" [formGroup]="form" novalidate (contextmenu)="__elementSelectionService.select('1113321829',$event)" [ngStyle]="__elementSelectionService.getStyles('1113321829')">
							<div class="card card-signup text-center" (contextmenu)="__elementSelectionService.select('1969489236',$event)" [ngStyle]="__elementSelectionService.getStyles('1969489236')">
								<div class="card-header pt-0" (contextmenu)="__elementSelectionService.select('67297213',$event)" [ngStyle]="__elementSelectionService.getStyles('67297213')">
									<h4 class="card-title" (contextmenu)="__elementSelectionService.select('773841889',$event)" [ngStyle]="__elementSelectionService.getStyles('773841889')">Account Signup</h4>
									<div class="social" (contextmenu)="__elementSelectionService.select('869466014',$event)" [ngStyle]="__elementSelectionService.getStyles('869466014')">
										<p class="card-description" (contextmenu)="__elementSelectionService.select('1724449301',$event)" [ngStyle]="__elementSelectionService.getStyles('1724449301')">Enter details below to register as a member</p>
									</div>							
								</div>
								<div class="card-body pt-0" (contextmenu)="__elementSelectionService.select('1948571206',$event)" [ngStyle]="__elementSelectionService.getStyles('1948571206')">								
									<div class="input-group" (contextmenu)="__elementSelectionService.select('628433864',$event)" [ngStyle]="__elementSelectionService.getStyles('628433864')">
										<div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('25106167',$event)" [ngStyle]="__elementSelectionService.getStyles('25106167')">
											<span class="input-group-text" (contextmenu)="__elementSelectionService.select('789083495',$event)" [ngStyle]="__elementSelectionService.getStyles('789083495')"><i class="nc-icon nc-single-02" (contextmenu)="__elementSelectionService.select('2102132774',$event)" [ngStyle]="__elementSelectionService.getStyles('2102132774')"></i></span>
										</div>
										<input class="form-control" placeholder="Name..." formControlName="FullName" type="text" [ngClass]="{'is-invalid': submitted &#38;&#38; f.FullName.errors}" (contextmenu)="__elementSelectionService.select('1898649380',$event)" [ngStyle]="__elementSelectionService.getStyles('1898649380')">
										<div *ngIf="submitted &#38;&#38; f.FullName.errors" class="invalid-feedback text-left" (contextmenu)="__elementSelectionService.select('144338776',$event)" [ngStyle]="__elementSelectionService.getStyles('144338776')">
				                            <div *ngIf="f.FullName.errors.required" (contextmenu)="__elementSelectionService.select('1683329121',$event)" [ngStyle]="__elementSelectionService.getStyles('1683329121')">Enter your full name is required</div>
				                        </div>
									</div>
									<div class="input-group" (contextmenu)="__elementSelectionService.select('2038821373',$event)" [ngStyle]="__elementSelectionService.getStyles('2038821373')">
										<div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1354652638',$event)" [ngStyle]="__elementSelectionService.getStyles('1354652638')">
											<span class="input-group-text" (contextmenu)="__elementSelectionService.select('184880702',$event)" [ngStyle]="__elementSelectionService.getStyles('184880702')"><i class="nc-icon nc-circle-10" (contextmenu)="__elementSelectionService.select('1134252455',$event)" [ngStyle]="__elementSelectionService.getStyles('1134252455')"></i></span>
										</div>
										<input class="form-control" placeholder="Phone..." formControlName="PhoneNo" type="text" [ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}" mask="(+000) 000-000000" (contextmenu)="__elementSelectionService.select('365386288',$event)" [ngStyle]="__elementSelectionService.getStyles('365386288')">
										<div *ngIf="submitted &#38;&#38; f.PhoneNo.errors" class="invalid-feedback text-left" (contextmenu)="__elementSelectionService.select('931496957',$event)" [ngStyle]="__elementSelectionService.getStyles('931496957')">
				                            <div *ngIf="f.PhoneNo.errors.required" (contextmenu)="__elementSelectionService.select('340926413',$event)" [ngStyle]="__elementSelectionService.getStyles('340926413')">Phone number is required</div>
				                            <div *ngIf="f.PhoneNo.errors.minlength" (contextmenu)="__elementSelectionService.select('224223881',$event)" [ngStyle]="__elementSelectionService.getStyles('224223881')">Must be equal to 12 character(s)</div>
                							<div *ngIf="f.PhoneNo.errors.maxlength" (contextmenu)="__elementSelectionService.select('585412552',$event)" [ngStyle]="__elementSelectionService.getStyles('585412552')">Must be equal to 12 character(s)</div>
				                            <div *ngIf="f.PhoneNo.errors.pattern" (contextmenu)="__elementSelectionService.select('971328002',$event)" [ngStyle]="__elementSelectionService.getStyles('971328002')">Incorrect! use format e.g. (+000) 000-000000</div>
				                        </div>
									</div>
									<div class="input-group" (contextmenu)="__elementSelectionService.select('1036883588',$event)" [ngStyle]="__elementSelectionService.getStyles('1036883588')">
										<div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1533207198',$event)" [ngStyle]="__elementSelectionService.getStyles('1533207198')">
											<span class="input-group-text" (contextmenu)="__elementSelectionService.select('1551867093',$event)" [ngStyle]="__elementSelectionService.getStyles('1551867093')"><i class="nc-icon nc-email-85" (contextmenu)="__elementSelectionService.select('1339648002',$event)" [ngStyle]="__elementSelectionService.getStyles('1339648002')"></i></span>
										</div>
										<input class="form-control" placeholder="Email..." formControlName="email" type="email" [ngClass]="{'is-invalid': submitted &#38;&#38; f.email.errors}" (contextmenu)="__elementSelectionService.select('510770891',$event)" [ngStyle]="__elementSelectionService.getStyles('510770891')">
										<div *ngIf="submitted &#38;&#38; f.email.errors" class="invalid-feedback text-left" (contextmenu)="__elementSelectionService.select('1380702601',$event)" [ngStyle]="__elementSelectionService.getStyles('1380702601')">
				                            <div *ngIf="f.email.errors.required" (contextmenu)="__elementSelectionService.select('1928494625',$event)" [ngStyle]="__elementSelectionService.getStyles('1928494625')">Email address is required</div>
				                            <div *ngIf="f.email.errors.pattern" (contextmenu)="__elementSelectionService.select('1987023109',$event)" [ngStyle]="__elementSelectionService.getStyles('1987023109')">Incorrect! use format e.g. aa@abc.com</div>				                            
				                        </div>
									</div>									
									<div class="input-group" (contextmenu)="__elementSelectionService.select('1702624997',$event)" [ngStyle]="__elementSelectionService.getStyles('1702624997')">Choose where to receive credentials</div>
									<div class="input-group" (contextmenu)="__elementSelectionService.select('1777398866',$event)" [ngStyle]="__elementSelectionService.getStyles('1777398866')">
										<label class="form-checkbox" (contextmenu)="__elementSelectionService.select('135437371',$event)" [ngStyle]="__elementSelectionService.getStyles('135437371')">
											<input id="ChannelSms" name="Channel" value="sms" type="radio" formControlName="Channel" [ngClass]="{'is-invalid': submitted &#38;&#38; f.Channel.errors}" (contextmenu)="__elementSelectionService.select('50316165',$event)" [ngStyle]="__elementSelectionService.getStyles('50316165')">
											 Sms
										</label>
										<label class="form-checkbox" (contextmenu)="__elementSelectionService.select('944347625',$event)" [ngStyle]="__elementSelectionService.getStyles('944347625')">
											<input id="ChannelEmail" name="Channel" value="email" type="radio" formControlName="Channel" [ngClass]="{'is-invalid': submitted &#38;&#38; f.Channel.errors}" (contextmenu)="__elementSelectionService.select('1450551510',$event)" [ngStyle]="__elementSelectionService.getStyles('1450551510')">
											 Email
										</label>
									</div>
									<div *ngIf="submitted &#38;&#38; f.Channel.errors" class="invalid-option-check text-left" (contextmenu)="__elementSelectionService.select('1243223399',$event)" [ngStyle]="__elementSelectionService.getStyles('1243223399')">
			                            <div *ngIf="f.Channel.errors.required" (contextmenu)="__elementSelectionService.select('906298442',$event)" [ngStyle]="__elementSelectionService.getStyles('906298442')">Choose your password reset method</div>
			                        </div>
									<div class="form-check text-left" (contextmenu)="__elementSelectionService.select('1123505586',$event)" [ngStyle]="__elementSelectionService.getStyles('1123505586')">
										<label class="form-check-label" (contextmenu)="__elementSelectionService.select('960460322',$event)" [ngStyle]="__elementSelectionService.getStyles('960460322')">
											<input checked class="form-check-input" type="checkbox" (contextmenu)="__elementSelectionService.select('596966735',$event)" [ngStyle]="__elementSelectionService.getStyles('596966735')">
											<span class="form-check-sign" (contextmenu)="__elementSelectionService.select('1034787363',$event)" [ngStyle]="__elementSelectionService.getStyles('1034787363')"></span> 
											I agree to the <a href="#/" (contextmenu)="__elementSelectionService.select('1158615777',$event)" [ngStyle]="__elementSelectionService.getStyles('1158615777')">terms and conditions</a>. 
										</label>
									</div>
								</div>
								<div class="card-footer mt-0" (contextmenu)="__elementSelectionService.select('130281988',$event)" [ngStyle]="__elementSelectionService.getStyles('130281988')">
									<button type="submit" class="btn btn-info btn-round" (contextmenu)="__elementSelectionService.select('62458166',$event)" [ngStyle]="__elementSelectionService.getStyles('62458166')">
										Register
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<app-auth-footer (contextmenu)="__elementSelectionService.select('1377105888',$event)" [ngStyle]="__elementSelectionService.getStyles('1377105888')"></app-auth-footer>
		<div class="full-page-background" style="background-image: url(./assets/img/bg/jan-sendereks.jpg)" (contextmenu)="__elementSelectionService.select('1873899353',$event)" [ngStyle]="__elementSelectionService.getStyles('1873899353')"></div>
	</div>
</div>