<div class="main-content" (contextmenu)="__elementSelectionService.select('564796690',$event)" [ngStyle]="__elementSelectionService.getStyles('564796690')"(click)='__elementSelectionService.clear()'>
  <div class="row" (contextmenu)="__elementSelectionService.select('58677079',$event)" [ngStyle]="__elementSelectionService.getStyles('58677079')">
    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1926006951',$event)" [ngStyle]="__elementSelectionService.getStyles('1926006951')">
      <div class="card card-user" (contextmenu)="__elementSelectionService.select('936918190',$event)" [ngStyle]="__elementSelectionService.getStyles('936918190')">
        <div class="image" (contextmenu)="__elementSelectionService.select('531242517',$event)" [ngStyle]="__elementSelectionService.getStyles('531242517')">
          <img alt="..." src="./assets/img/bg/damir-bosnjak.jpg" (contextmenu)="__elementSelectionService.select('1712731992',$event)" [ngStyle]="__elementSelectionService.getStyles('1712731992')">
        </div>
        <div class="card-body" (contextmenu)="__elementSelectionService.select('1888027277',$event)" [ngStyle]="__elementSelectionService.getStyles('1888027277')">
          <div class="author" (contextmenu)="__elementSelectionService.select('113409406',$event)" [ngStyle]="__elementSelectionService.getStyles('113409406')">
            <a href="javascript:void(0)" (contextmenu)="__elementSelectionService.select('1238864133',$event)" [ngStyle]="__elementSelectionService.getStyles('1238864133')">
              <img alt="..." class="avatar border-gray" src="./assets/img/mike.jpg" (contextmenu)="__elementSelectionService.select('514638736',$event)" [ngStyle]="__elementSelectionService.getStyles('514638736')">
              <h5 class="title" (contextmenu)="__elementSelectionService.select('638134178',$event)" [ngStyle]="__elementSelectionService.getStyles('638134178')">{{form.get('FullName').value}}</h5>
            </a>
            <p class="description" (contextmenu)="__elementSelectionService.select('859150224',$event)" [ngStyle]="__elementSelectionService.getStyles('859150224')">{{form.get('email').value}}</p>
          </div>
          <p class="description text-center" (contextmenu)="__elementSelectionService.select('1184851786',$event)" [ngStyle]="__elementSelectionService.getStyles('1184851786')">
            &#34;I like the way you work it <br (contextmenu)="__elementSelectionService.select('1054317642',$event)" [ngStyle]="__elementSelectionService.getStyles('1054317642')"> No diggity <br (contextmenu)="__elementSelectionService.select('1359775749',$event)" [ngStyle]="__elementSelectionService.getStyles('1359775749')"> I wanna
            bag it up&#34;
          </p>
        </div>
        <div class="card-footer" (contextmenu)="__elementSelectionService.select('1318722723',$event)" [ngStyle]="__elementSelectionService.getStyles('1318722723')">
          <hr (contextmenu)="__elementSelectionService.select('1937934093',$event)" [ngStyle]="__elementSelectionService.getStyles('1937934093')">
          <div class="button-container" (contextmenu)="__elementSelectionService.select('1907712251',$event)" [ngStyle]="__elementSelectionService.getStyles('1907712251')">
            <div class="row" (contextmenu)="__elementSelectionService.select('1154257512',$event)" [ngStyle]="__elementSelectionService.getStyles('1154257512')">
              <div class="col-lg-12 col-md-12 col-12 ml-auto mr-auto" (contextmenu)="__elementSelectionService.select('1512960342',$event)" [ngStyle]="__elementSelectionService.getStyles('1512960342')">
                <h5 (contextmenu)="__elementSelectionService.select('1030795249',$event)" [ngStyle]="__elementSelectionService.getStyles('1030795249')">
                  1,200 <br (contextmenu)="__elementSelectionService.select('1738060316',$event)" [ngStyle]="__elementSelectionService.getStyles('1738060316')">
                  <small (contextmenu)="__elementSelectionService.select('1197941589',$event)" [ngStyle]="__elementSelectionService.getStyles('1197941589')">No. of Farmers</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1928711598',$event)" [ngStyle]="__elementSelectionService.getStyles('1928711598')">
      <div class="card" (contextmenu)="__elementSelectionService.select('1254288166',$event)" [ngStyle]="__elementSelectionService.getStyles('1254288166')">
        <div class="card-header" (contextmenu)="__elementSelectionService.select('1760081968',$event)" [ngStyle]="__elementSelectionService.getStyles('1760081968')">
          <h5 class="title" (contextmenu)="__elementSelectionService.select('384517107',$event)" [ngStyle]="__elementSelectionService.getStyles('384517107')">Profile</h5>
        </div>
        <div class="card-body" (contextmenu)="__elementSelectionService.select('1253008445',$event)" [ngStyle]="__elementSelectionService.getStyles('1253008445')">
          <form [formGroup]="form" (contextmenu)="__elementSelectionService.select('392773013',$event)" [ngStyle]="__elementSelectionService.getStyles('392773013')">
            <div class="row" (contextmenu)="__elementSelectionService.select('980237936',$event)" [ngStyle]="__elementSelectionService.getStyles('980237936')">
              <div class="col-md-12 " (contextmenu)="__elementSelectionService.select('1993672213',$event)" [ngStyle]="__elementSelectionService.getStyles('1993672213')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1206524542',$event)" [ngStyle]="__elementSelectionService.getStyles('1206524542')">
                  <label (contextmenu)="__elementSelectionService.select('431030915',$event)" [ngStyle]="__elementSelectionService.getStyles('431030915')">Company</label>
                  <input class="form-control" placeholder="Company" type="text" formControlName="Company" (contextmenu)="__elementSelectionService.select('1258041723',$event)" [ngStyle]="__elementSelectionService.getStyles('1258041723')">
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('340226975',$event)" [ngStyle]="__elementSelectionService.getStyles('340226975')">
              <div class="col-md-6 pr-1" (contextmenu)="__elementSelectionService.select('57254531',$event)" [ngStyle]="__elementSelectionService.getStyles('57254531')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('316480887',$event)" [ngStyle]="__elementSelectionService.getStyles('316480887')">
                  <label (contextmenu)="__elementSelectionService.select('956400062',$event)" [ngStyle]="__elementSelectionService.getStyles('956400062')">Username</label>
                  <input formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.username.errors }" (contextmenu)="__elementSelectionService.select('385205898',$event)" [ngStyle]="__elementSelectionService.getStyles('385205898')">
                  <div *ngIf="submitted &#38;&#38; f.username.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1489376109',$event)" [ngStyle]="__elementSelectionService.getStyles('1489376109')">
                    <div *ngIf="f.username.errors.required" (contextmenu)="__elementSelectionService.select('571120551',$event)" [ngStyle]="__elementSelectionService.getStyles('571120551')">Username is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1" (contextmenu)="__elementSelectionService.select('397664809',$event)" [ngStyle]="__elementSelectionService.getStyles('397664809')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('793421763',$event)" [ngStyle]="__elementSelectionService.getStyles('793421763')">
                  <label for="exampleInputEmail1" (contextmenu)="__elementSelectionService.select('1207931964',$event)" [ngStyle]="__elementSelectionService.getStyles('1207931964')">Email address</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.email.errors }" (contextmenu)="__elementSelectionService.select('828303559',$event)" [ngStyle]="__elementSelectionService.getStyles('828303559')">
                  <div *ngIf="submitted &#38;&#38; f.email.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('972351087',$event)" [ngStyle]="__elementSelectionService.getStyles('972351087')">
                    <div *ngIf="f.email.errors.required" (contextmenu)="__elementSelectionService.select('1132079661',$event)" [ngStyle]="__elementSelectionService.getStyles('1132079661')">Email is required</div>
                    <div *ngIf="f.email.errors.email" (contextmenu)="__elementSelectionService.select('2023692298',$event)" [ngStyle]="__elementSelectionService.getStyles('2023692298')">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('1044504334',$event)" [ngStyle]="__elementSelectionService.getStyles('1044504334')">
              <div class="col-md-6 pr-1" (contextmenu)="__elementSelectionService.select('538480951',$event)" [ngStyle]="__elementSelectionService.getStyles('538480951')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('841088091',$event)" [ngStyle]="__elementSelectionService.getStyles('841088091')">
                  <label (contextmenu)="__elementSelectionService.select('855567709',$event)" [ngStyle]="__elementSelectionService.getStyles('855567709')">Full Name</label>
                  <input type="text" formControlName="FullName" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.FullName.errors }" (contextmenu)="__elementSelectionService.select('49802659',$event)" [ngStyle]="__elementSelectionService.getStyles('49802659')">
                  <div *ngIf="submitted &#38;&#38; f.FullName.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1719817699',$event)" [ngStyle]="__elementSelectionService.getStyles('1719817699')">
                    <div *ngIf="f.FullName.errors.required" (contextmenu)="__elementSelectionService.select('1534897740',$event)" [ngStyle]="__elementSelectionService.getStyles('1534897740')">Full Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1" (contextmenu)="__elementSelectionService.select('514663547',$event)" [ngStyle]="__elementSelectionService.getStyles('514663547')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('596269304',$event)" [ngStyle]="__elementSelectionService.getStyles('596269304')">
                  <label (contextmenu)="__elementSelectionService.select('1465072679',$event)" [ngStyle]="__elementSelectionService.getStyles('1465072679')">Phone Number</label>
                  <input class="form-control" placeholder="e.g. +254 000 000 000" formControlName="PhoneNo" type="text" [ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}" mask="(+000) 000-000000" (contextmenu)="__elementSelectionService.select('1768154703',$event)" [ngStyle]="__elementSelectionService.getStyles('1768154703')">
                  <div *ngIf="submitted &#38;&#38; f.PhoneNo.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('505055716',$event)" [ngStyle]="__elementSelectionService.getStyles('505055716')">
                    <div *ngIf="f.PhoneNo.errors.required" (contextmenu)="__elementSelectionService.select('1864785735',$event)" [ngStyle]="__elementSelectionService.getStyles('1864785735')">Phone number is required</div>
                    <div *ngIf="f.PhoneNo.errors.pattern" (contextmenu)="__elementSelectionService.select('567993472',$event)" [ngStyle]="__elementSelectionService.getStyles('567993472')">Incorrect! use format e.g. (+000) 000-000000</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('1467821930',$event)" [ngStyle]="__elementSelectionService.getStyles('1467821930')">
              <div class="col-md-12" (contextmenu)="__elementSelectionService.select('501402056',$event)" [ngStyle]="__elementSelectionService.getStyles('501402056')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1080258900',$event)" [ngStyle]="__elementSelectionService.getStyles('1080258900')">
                  <label (contextmenu)="__elementSelectionService.select('913007420',$event)" [ngStyle]="__elementSelectionService.getStyles('913007420')">Physical Address</label>
                  <input class="form-control" placeholder="Home Address" type="text" value="Nairobi, Kenya" (contextmenu)="__elementSelectionService.select('139660516',$event)" [ngStyle]="__elementSelectionService.getStyles('139660516')">
                </div>
              </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('66336943',$event)" [ngStyle]="__elementSelectionService.getStyles('66336943')">
              <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1480986708',$event)" [ngStyle]="__elementSelectionService.getStyles('1480986708')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('903477987',$event)" [ngStyle]="__elementSelectionService.getStyles('903477987')">
                  <label (contextmenu)="__elementSelectionService.select('637396112',$event)" [ngStyle]="__elementSelectionService.getStyles('637396112')">About Me</label>
                  <textarea class="form-control textarea" cols="80" rows="2" (contextmenu)="__elementSelectionService.select('133075392',$event)" [ngStyle]="__elementSelectionService.getStyles('133075392')">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
