<div class="main-content" (contextmenu)="__elementSelectionService.select('985008043',$event)" [ngStyle]="__elementSelectionService.getStyles('985008043')"(click)='__elementSelectionService.clear()'>
	<div class="row" (contextmenu)="__elementSelectionService.select('1954898120',$event)" [ngStyle]="__elementSelectionService.getStyles('1954898120')">
		<div class="col-md-4" (contextmenu)="__elementSelectionService.select('2122627756',$event)" [ngStyle]="__elementSelectionService.getStyles('2122627756')">
			<div class="card card-user" (contextmenu)="__elementSelectionService.select('1033507044',$event)" [ngStyle]="__elementSelectionService.getStyles('1033507044')">
				<div class="image" (contextmenu)="__elementSelectionService.select('501818352',$event)" [ngStyle]="__elementSelectionService.getStyles('501818352')">
					<img alt="..." src="./assets/img/bg/damir-bosnjak.jpg" (contextmenu)="__elementSelectionService.select('1110807461',$event)" [ngStyle]="__elementSelectionService.getStyles('1110807461')">
				</div>
				<div class="card-body" (contextmenu)="__elementSelectionService.select('431947925',$event)" [ngStyle]="__elementSelectionService.getStyles('431947925')">
					<div class="author" (contextmenu)="__elementSelectionService.select('1959734902',$event)" [ngStyle]="__elementSelectionService.getStyles('1959734902')">
						<a href="javascript:void(0)" (contextmenu)="__elementSelectionService.select('552433084',$event)" [ngStyle]="__elementSelectionService.getStyles('552433084')">
							<img alt="..." class="avatar border-gray" src="./assets/img/mike.jpg" (contextmenu)="__elementSelectionService.select('1311470271',$event)" [ngStyle]="__elementSelectionService.getStyles('1311470271')">
							<h5 class="title" (contextmenu)="__elementSelectionService.select('795965511',$event)" [ngStyle]="__elementSelectionService.getStyles('795965511')">{{form.get('FullName').value}}</h5>
						</a>
						<p class="description" (contextmenu)="__elementSelectionService.select('583032641',$event)" [ngStyle]="__elementSelectionService.getStyles('583032641')">{{form.get('email').value}}</p>
					</div>
					<p class="description text-center" (contextmenu)="__elementSelectionService.select('1766559280',$event)" [ngStyle]="__elementSelectionService.getStyles('1766559280')">
						&#34;I like the way you work it <br (contextmenu)="__elementSelectionService.select('2086709036',$event)" [ngStyle]="__elementSelectionService.getStyles('2086709036')"> No diggity <br (contextmenu)="__elementSelectionService.select('1484217255',$event)" [ngStyle]="__elementSelectionService.getStyles('1484217255')"> I wanna
						bag it up&#34;
					</p>
				</div>
				<div class="card-footer" (contextmenu)="__elementSelectionService.select('2020421055',$event)" [ngStyle]="__elementSelectionService.getStyles('2020421055')">
					<hr (contextmenu)="__elementSelectionService.select('1306658444',$event)" [ngStyle]="__elementSelectionService.getStyles('1306658444')">
					<div class="button-container" (contextmenu)="__elementSelectionService.select('885166555',$event)" [ngStyle]="__elementSelectionService.getStyles('885166555')">
						<div class="row" (contextmenu)="__elementSelectionService.select('1443520135',$event)" [ngStyle]="__elementSelectionService.getStyles('1443520135')">
							<div class="col-lg-12 col-md-12 col-12 ml-auto mr-auto" (contextmenu)="__elementSelectionService.select('1201373484',$event)" [ngStyle]="__elementSelectionService.getStyles('1201373484')">
								<h5 (contextmenu)="__elementSelectionService.select('437266741',$event)" [ngStyle]="__elementSelectionService.getStyles('437266741')">
									1,200 <br (contextmenu)="__elementSelectionService.select('981221349',$event)" [ngStyle]="__elementSelectionService.getStyles('981221349')">
									<small (contextmenu)="__elementSelectionService.select('1049014347',$event)" [ngStyle]="__elementSelectionService.getStyles('1049014347')">No. of Farmers</small>
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" (contextmenu)="__elementSelectionService.select('621794390',$event)" [ngStyle]="__elementSelectionService.getStyles('621794390')">
			<div class="card" (contextmenu)="__elementSelectionService.select('1045239875',$event)" [ngStyle]="__elementSelectionService.getStyles('1045239875')">
				<div class="card-header" (contextmenu)="__elementSelectionService.select('1704303480',$event)" [ngStyle]="__elementSelectionService.getStyles('1704303480')">
					<h5 class="title" (contextmenu)="__elementSelectionService.select('1847225193',$event)" [ngStyle]="__elementSelectionService.getStyles('1847225193')">Profile</h5>
				</div>
				<div class="card-body" (contextmenu)="__elementSelectionService.select('896315288',$event)" [ngStyle]="__elementSelectionService.getStyles('896315288')">
					<form [formGroup]="form" (contextmenu)="__elementSelectionService.select('1664431734',$event)" [ngStyle]="__elementSelectionService.getStyles('1664431734')">
						<div class="row" (contextmenu)="__elementSelectionService.select('707931955',$event)" [ngStyle]="__elementSelectionService.getStyles('707931955')">
							<div class="col-md-12 " (contextmenu)="__elementSelectionService.select('399394879',$event)" [ngStyle]="__elementSelectionService.getStyles('399394879')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('1192109361',$event)" [ngStyle]="__elementSelectionService.getStyles('1192109361')">
									<label (contextmenu)="__elementSelectionService.select('222440736',$event)" [ngStyle]="__elementSelectionService.getStyles('222440736')">Company (disabled)</label>
									<input class="form-control" placeholder="Company" type="text" formControlName="Company" (contextmenu)="__elementSelectionService.select('917684236',$event)" [ngStyle]="__elementSelectionService.getStyles('917684236')">
								</div>
							</div>
						</div>
						<div class="row" (contextmenu)="__elementSelectionService.select('1406728533',$event)" [ngStyle]="__elementSelectionService.getStyles('1406728533')">
							<div class="col-md-6 pr-1" (contextmenu)="__elementSelectionService.select('1707698610',$event)" [ngStyle]="__elementSelectionService.getStyles('1707698610')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('2038330118',$event)" [ngStyle]="__elementSelectionService.getStyles('2038330118')">
									<label (contextmenu)="__elementSelectionService.select('1500278405',$event)" [ngStyle]="__elementSelectionService.getStyles('1500278405')">Username</label>
									<input formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.username.errors }" (contextmenu)="__elementSelectionService.select('1298806444',$event)" [ngStyle]="__elementSelectionService.getStyles('1298806444')">
						            <div *ngIf="submitted &#38;&#38; f.username.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1665159754',$event)" [ngStyle]="__elementSelectionService.getStyles('1665159754')">
						                <div *ngIf="f.username.errors.required" (contextmenu)="__elementSelectionService.select('1764555623',$event)" [ngStyle]="__elementSelectionService.getStyles('1764555623')">Username is required</div>
						            </div>
								</div>
							</div>
							<div class="col-md-6 pl-1" (contextmenu)="__elementSelectionService.select('1401862273',$event)" [ngStyle]="__elementSelectionService.getStyles('1401862273')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('1338850058',$event)" [ngStyle]="__elementSelectionService.getStyles('1338850058')">
									<label for="exampleInputEmail1" (contextmenu)="__elementSelectionService.select('780071611',$event)" [ngStyle]="__elementSelectionService.getStyles('780071611')">Email address</label>
									<input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.email.errors }" (contextmenu)="__elementSelectionService.select('537383888',$event)" [ngStyle]="__elementSelectionService.getStyles('537383888')">
						            <div *ngIf="submitted &#38;&#38; f.email.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('107687393',$event)" [ngStyle]="__elementSelectionService.getStyles('107687393')">
						                <div *ngIf="f.email.errors.required" (contextmenu)="__elementSelectionService.select('551048013',$event)" [ngStyle]="__elementSelectionService.getStyles('551048013')">Email is required</div>
						                <div *ngIf="f.email.errors.email" (contextmenu)="__elementSelectionService.select('2037024455',$event)" [ngStyle]="__elementSelectionService.getStyles('2037024455')">Email must be a valid email address</div>
						            </div>
								</div>
							</div>
						</div>
						<div class="row" (contextmenu)="__elementSelectionService.select('1743606633',$event)" [ngStyle]="__elementSelectionService.getStyles('1743606633')">
							<div class="col-md-6 pr-1" (contextmenu)="__elementSelectionService.select('951479888',$event)" [ngStyle]="__elementSelectionService.getStyles('951479888')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('1519779888',$event)" [ngStyle]="__elementSelectionService.getStyles('1519779888')">
									<label (contextmenu)="__elementSelectionService.select('2003302683',$event)" [ngStyle]="__elementSelectionService.getStyles('2003302683')">Full Name</label>
									<input type="text" formControlName="FullName" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.FullName.errors }" (contextmenu)="__elementSelectionService.select('2057083525',$event)" [ngStyle]="__elementSelectionService.getStyles('2057083525')">
						            <div *ngIf="submitted &#38;&#38; f.FullName.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1901309800',$event)" [ngStyle]="__elementSelectionService.getStyles('1901309800')">
						                <div *ngIf="f.FullName.errors.required" (contextmenu)="__elementSelectionService.select('464430834',$event)" [ngStyle]="__elementSelectionService.getStyles('464430834')">Full Name is required</div>
						            </div>
								</div>
							</div>
							<div class="col-md-6 pl-1" (contextmenu)="__elementSelectionService.select('1397308349',$event)" [ngStyle]="__elementSelectionService.getStyles('1397308349')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('1293933539',$event)" [ngStyle]="__elementSelectionService.getStyles('1293933539')">
									<label (contextmenu)="__elementSelectionService.select('559613383',$event)" [ngStyle]="__elementSelectionService.getStyles('559613383')">Phone Number</label>
									<input class="form-control" placeholder="e.g. +254 000 000 000" formControlName="PhoneNo" type="text" [ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}" mask="(+000) 000-000000" (contextmenu)="__elementSelectionService.select('1328332328',$event)" [ngStyle]="__elementSelectionService.getStyles('1328332328')">
						            <div *ngIf="submitted &#38;&#38; f.PhoneNo.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1428353187',$event)" [ngStyle]="__elementSelectionService.getStyles('1428353187')">
						                <div *ngIf="f.PhoneNo.errors.required" (contextmenu)="__elementSelectionService.select('1725032743',$event)" [ngStyle]="__elementSelectionService.getStyles('1725032743')">Phone number is required</div>
										<div *ngIf="f.PhoneNo.errors.pattern" (contextmenu)="__elementSelectionService.select('534625543',$event)" [ngStyle]="__elementSelectionService.getStyles('534625543')">Incorrect! use format e.g. (+000) 000-000000</div>
						            </div>
								</div>
							</div>
						</div>
						<div class="row" (contextmenu)="__elementSelectionService.select('891981098',$event)" [ngStyle]="__elementSelectionService.getStyles('891981098')">
							<div class="col-md-12" (contextmenu)="__elementSelectionService.select('2001720516',$event)" [ngStyle]="__elementSelectionService.getStyles('2001720516')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('515806171',$event)" [ngStyle]="__elementSelectionService.getStyles('515806171')">
									<label (contextmenu)="__elementSelectionService.select('1828266126',$event)" [ngStyle]="__elementSelectionService.getStyles('1828266126')">Physical Address</label>
									<input class="form-control" placeholder="Home Address" type="text" value="Nairobi, Kenya" (contextmenu)="__elementSelectionService.select('224113638',$event)" [ngStyle]="__elementSelectionService.getStyles('224113638')">
								</div>
							</div>
						</div>
						<div class="row" (contextmenu)="__elementSelectionService.select('79413117',$event)" [ngStyle]="__elementSelectionService.getStyles('79413117')">
							<div class="col-md-12" (contextmenu)="__elementSelectionService.select('1852949626',$event)" [ngStyle]="__elementSelectionService.getStyles('1852949626')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('1261003882',$event)" [ngStyle]="__elementSelectionService.getStyles('1261003882')">
									<label (contextmenu)="__elementSelectionService.select('465386090',$event)" [ngStyle]="__elementSelectionService.getStyles('465386090')">About Me</label>
									<textarea class="form-control textarea" cols="80" rows="2" (contextmenu)="__elementSelectionService.select('1118060087',$event)" [ngStyle]="__elementSelectionService.getStyles('1118060087')">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
