<div class="main-content" (contextmenu)="__elementSelectionService.select('1850157061',$event)" [ngStyle]="__elementSelectionService.getStyles('1850157061')"(click)='__elementSelectionService.clear()'>
  <div class="row" (contextmenu)="__elementSelectionService.select('78611258',$event)" [ngStyle]="__elementSelectionService.getStyles('78611258')">
    <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1409258666',$event)" [ngStyle]="__elementSelectionService.getStyles('1409258666')">
      <div class="card" (contextmenu)="__elementSelectionService.select('1905953815',$event)" [ngStyle]="__elementSelectionService.getStyles('1905953815')">
        <div class="card-header" (contextmenu)="__elementSelectionService.select('1496509016',$event)" [ngStyle]="__elementSelectionService.getStyles('1496509016')">
          <h3 class="pt-3" (contextmenu)="__elementSelectionService.select('561775639',$event)" [ngStyle]="__elementSelectionService.getStyles('561775639')">{{title}}</h3>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" (contextmenu)="__elementSelectionService.select('235507286',$event)" [ngStyle]="__elementSelectionService.getStyles('235507286')">
            <div class="form-row" (contextmenu)="__elementSelectionService.select('727077300',$event)" [ngStyle]="__elementSelectionService.getStyles('727077300')">
              <div class="form-group col-8" (contextmenu)="__elementSelectionService.select('1710759596',$event)" [ngStyle]="__elementSelectionService.getStyles('1710759596')">
                <label (contextmenu)="__elementSelectionService.select('619045560',$event)" [ngStyle]="__elementSelectionService.getStyles('619045560')">Description</label>
                <input type="text" formControlName="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.Description.errors }" uppercase (contextmenu)="__elementSelectionService.select('1717351244',$event)" [ngStyle]="__elementSelectionService.getStyles('1717351244')">
                <div *ngIf="submitted &#38;&#38; f.Description.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('2132710850',$event)" [ngStyle]="__elementSelectionService.getStyles('2132710850')">
                  <div *ngIf="f.Description.errors.required" (contextmenu)="__elementSelectionService.select('1513552371',$event)" [ngStyle]="__elementSelectionService.getStyles('1513552371')">Description is required</div>
                </div>
              </div>
              <div class="form-group col-4" (contextmenu)="__elementSelectionService.select('1364013103',$event)" [ngStyle]="__elementSelectionService.getStyles('1364013103')">
                <label class="invisible" (contextmenu)="__elementSelectionService.select('1376268185',$event)" [ngStyle]="__elementSelectionService.getStyles('1376268185')">Action</label>
                <div class="form-inline pull-right" (contextmenu)="__elementSelectionService.select('1504903327',$event)" [ngStyle]="__elementSelectionService.getStyles('1504903327')">
                  <a routerLink="{{parentUrl}}" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('875004731',$event)" [ngStyle]="__elementSelectionService.getStyles('875004731')">Cancel</a>
                  <button [disabled]="loading" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('215159256',$event)" [ngStyle]="__elementSelectionService.getStyles('215159256')">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" (contextmenu)="__elementSelectionService.select('523539260',$event)" [ngStyle]="__elementSelectionService.getStyles('523539260')"></span>
                    {{isAddMode? 'Add' : 'Save'}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body" (contextmenu)="__elementSelectionService.select('1589829565',$event)" [ngStyle]="__elementSelectionService.getStyles('1589829565')">
          <div class="table-responsive" (contextmenu)="__elementSelectionService.select('1450488069',$event)" [ngStyle]="__elementSelectionService.getStyles('1450488069')">
            <table class="table" (contextmenu)="__elementSelectionService.select('1111304130',$event)" [ngStyle]="__elementSelectionService.getStyles('1111304130')">
              <thead class="text-green" (contextmenu)="__elementSelectionService.select('2032918986',$event)" [ngStyle]="__elementSelectionService.getStyles('2032918986')">
              <tr (contextmenu)="__elementSelectionService.select('828171877',$event)" [ngStyle]="__elementSelectionService.getStyles('828171877')">
                <th class="text-center" (contextmenu)="__elementSelectionService.select('1121158610',$event)" [ngStyle]="__elementSelectionService.getStyles('1121158610')">#</th>
                <th (contextmenu)="__elementSelectionService.select('1778104701',$event)" [ngStyle]="__elementSelectionService.getStyles('1778104701')">Description</th>
                <th class="text-right" (contextmenu)="__elementSelectionService.select('1341661241',$event)" [ngStyle]="__elementSelectionService.getStyles('1341661241')">Actions</th>
              </tr>
              </thead>
              <tbody (contextmenu)="__elementSelectionService.select('423725165',$event)" [ngStyle]="__elementSelectionService.getStyles('423725165')">
              <tr *ngIf="!rows || rows.length==0" (contextmenu)="__elementSelectionService.select('1197634434',$event)" [ngStyle]="__elementSelectionService.getStyles('1197634434')">
                <td class="text-center" colspan="100%" (contextmenu)="__elementSelectionService.select('1944459842',$event)" [ngStyle]="__elementSelectionService.getStyles('1944459842')">
                  {{
                  errorMessage? errorMessage :
                    ('Search could not find any '+ title.toLowerCase() + ' records')
                  }}
                </td>
              </tr>
              <tr template #elseBlock *ngFor="let row of rows; let i=index;" (contextmenu)="__elementSelectionService.select('2106660335',$event)" [ngStyle]="__elementSelectionService.getStyles('2106660335')">
                <td class="text-center" (contextmenu)="__elementSelectionService.select('1745287376',$event)" [ngStyle]="__elementSelectionService.getStyles('1745287376')">{{(i+1) + '.'}}</td>
                <td (contextmenu)="__elementSelectionService.select('1017935921',$event)" [ngStyle]="__elementSelectionService.getStyles('1017935921')">{{row.Description | uppercase}}</td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('2136691180',$event)" [ngStyle]="__elementSelectionService.getStyles('2136691180')">
                  <a class="btn btn-success btn-icon btn-sm btn-neutral" rel="tooltip" data-original-title title routerLink="/{{editUrl + row[pk]}}" (contextmenu)="__elementSelectionService.select('177212805',$event)" [ngStyle]="__elementSelectionService.getStyles('177212805')">
                    <i class="fa fa-edit" (contextmenu)="__elementSelectionService.select('1435477119',$event)" [ngStyle]="__elementSelectionService.getStyles('1435477119')"></i>
                  </a>
                  <button class="btn btn-danger btn-icon btn-sm btn-neutral" rel="tooltip" [disabled]="row.isDeleting" type="button" data-original-title title (click)="deleteRow(row)" (contextmenu)="__elementSelectionService.select('171782927',$event)" [ngStyle]="__elementSelectionService.getStyles('171782927')">
                    <span *ngIf="row.isDeleting" class="spinner-border spinner-border-sm" (contextmenu)="__elementSelectionService.select('793560981',$event)" [ngStyle]="__elementSelectionService.getStyles('793560981')"></span>
                    <span *ngIf="!row.isDeleting" (contextmenu)="__elementSelectionService.select('632953820',$event)" [ngStyle]="__elementSelectionService.getStyles('632953820')"><i class="fa fa-times" (contextmenu)="__elementSelectionService.select('222228296',$event)" [ngStyle]="__elementSelectionService.getStyles('222228296')"></i></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
