<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" (contextmenu)="__elementSelectionService.select('894310671',$event)" [ngStyle]="__elementSelectionService.getStyles('894310671')"(click)='__elementSelectionService.clear()'>
  <div class="container-fluid" (contextmenu)="__elementSelectionService.select('961917515',$event)" [ngStyle]="__elementSelectionService.getStyles('961917515')">
    <div class="navbar-wrapper" (contextmenu)="__elementSelectionService.select('2081837583',$event)" [ngStyle]="__elementSelectionService.getStyles('2081837583')">
      <div class="navbar-toggle" (contextmenu)="__elementSelectionService.select('440298811',$event)" [ngStyle]="__elementSelectionService.getStyles('440298811')">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()" (contextmenu)="__elementSelectionService.select('1919612786',$event)" [ngStyle]="__elementSelectionService.getStyles('1919612786')">
          <span class="navbar-toggler-bar bar1" (contextmenu)="__elementSelectionService.select('1715061918',$event)" [ngStyle]="__elementSelectionService.getStyles('1715061918')"></span>
          <span class="navbar-toggler-bar bar2" (contextmenu)="__elementSelectionService.select('686908540',$event)" [ngStyle]="__elementSelectionService.getStyles('686908540')"></span>
          <span class="navbar-toggler-bar bar3" (contextmenu)="__elementSelectionService.select('1095730156',$event)" [ngStyle]="__elementSelectionService.getStyles('1095730156')"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)" (contextmenu)="__elementSelectionService.select('1681599952',$event)" [ngStyle]="__elementSelectionService.getStyles('1681599952')">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" (contextmenu)="__elementSelectionService.select('1284376829',$event)" [ngStyle]="__elementSelectionService.getStyles('1284376829')">
      <span class="navbar-toggler-bar navbar-kebab" (contextmenu)="__elementSelectionService.select('1879000980',$event)" [ngStyle]="__elementSelectionService.getStyles('1879000980')"></span>
      <span class="navbar-toggler-bar navbar-kebab" (contextmenu)="__elementSelectionService.select('1376975204',$event)" [ngStyle]="__elementSelectionService.getStyles('1376975204')"></span>
      <span class="navbar-toggler-bar navbar-kebab" (contextmenu)="__elementSelectionService.select('1878661979',$event)" [ngStyle]="__elementSelectionService.getStyles('1878661979')"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed" (contextmenu)="__elementSelectionService.select('1401896889',$event)" [ngStyle]="__elementSelectionService.getStyles('1401896889')">
      <form (contextmenu)="__elementSelectionService.select('1188626875',$event)" [ngStyle]="__elementSelectionService.getStyles('1188626875')">
        <div class="input-group no-border" (contextmenu)="__elementSelectionService.select('54856157',$event)" [ngStyle]="__elementSelectionService.getStyles('54856157')">
          <input type="text" value class="form-control" placeholder="Search..." (contextmenu)="__elementSelectionService.select('1020979757',$event)" [ngStyle]="__elementSelectionService.getStyles('1020979757')">
          <div class="input-group-append" (contextmenu)="__elementSelectionService.select('369260792',$event)" [ngStyle]="__elementSelectionService.getStyles('369260792')">
            <div class="input-group-text" (contextmenu)="__elementSelectionService.select('408450906',$event)" [ngStyle]="__elementSelectionService.getStyles('408450906')">
              <i class="nc-icon nc-zoom-split" (contextmenu)="__elementSelectionService.select('863538797',$event)" [ngStyle]="__elementSelectionService.getStyles('863538797')"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav" (contextmenu)="__elementSelectionService.select('1486393773',$event)" [ngStyle]="__elementSelectionService.getStyles('1486393773')">
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('1566111742',$event)" [ngStyle]="__elementSelectionService.getStyles('1566111742')">
          <a class="nav-link btn-magnify" href="javascript:void(0)" (contextmenu)="__elementSelectionService.select('115452328',$event)" [ngStyle]="__elementSelectionService.getStyles('115452328')">
            <i class="nc-icon nc-layout-11" (contextmenu)="__elementSelectionService.select('1906136319',$event)" [ngStyle]="__elementSelectionService.getStyles('1906136319')"></i>
            <p (contextmenu)="__elementSelectionService.select('1838458520',$event)" [ngStyle]="__elementSelectionService.getStyles('1838458520')">
              <span class="d-lg-none d-md-block" (contextmenu)="__elementSelectionService.select('2003393491',$event)" [ngStyle]="__elementSelectionService.getStyles('2003393491')">Stats</span>
            </p>
          </a>
        </li>

        <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left" (contextmenu)="__elementSelectionService.select('2085486719',$event)" [ngStyle]="__elementSelectionService.getStyles('2085486719')">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" (contextmenu)="__elementSelectionService.select('1735367077',$event)" [ngStyle]="__elementSelectionService.getStyles('1735367077')">
            <i class="nc-icon nc-single-02" (contextmenu)="__elementSelectionService.select('797397942',$event)" [ngStyle]="__elementSelectionService.getStyles('797397942')"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right" (contextmenu)="__elementSelectionService.select('311239254',$event)" [ngStyle]="__elementSelectionService.getStyles('311239254')">
            <a ngbDropdownItem href="#/{{authService.profilePath}}" (contextmenu)="__elementSelectionService.select('516720000',$event)" [ngStyle]="__elementSelectionService.getStyles('516720000')">User Profile</a>
            <a ngbDropdownItem href="#/{{authService.changePasswordPath}}" (contextmenu)="__elementSelectionService.select('91587917',$event)" [ngStyle]="__elementSelectionService.getStyles('91587917')">Change Password</a>
            <a ngbDropdownItem href="javascript:void(0)" (click)="authService.lock()" (contextmenu)="__elementSelectionService.select('276458678',$event)" [ngStyle]="__elementSelectionService.getStyles('276458678')">Lock Password</a>
            <a ngbDropdownItem href="javascript:void(0)" (click)="authService.logout()" (contextmenu)="__elementSelectionService.select('1797157757',$event)" [ngStyle]="__elementSelectionService.getStyles('1797157757')">Logout</a>
          </div>
        </li>
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('285481755',$event)" [ngStyle]="__elementSelectionService.getStyles('285481755')">
          <a class="nav-link btn-rotate" href="javascript:void(0)" (contextmenu)="__elementSelectionService.select('947043227',$event)" [ngStyle]="__elementSelectionService.getStyles('947043227')">
            <i class="nc-icon nc-settings-gear-65" (contextmenu)="__elementSelectionService.select('2066640895',$event)" [ngStyle]="__elementSelectionService.getStyles('2066640895')"></i>
            <p (contextmenu)="__elementSelectionService.select('1664315004',$event)" [ngStyle]="__elementSelectionService.getStyles('1664315004')">
              <span class="d-lg-none d-md-block" (contextmenu)="__elementSelectionService.select('1381924290',$event)" [ngStyle]="__elementSelectionService.getStyles('1381924290')">Account</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
