<div class="wrapper" (contextmenu)="__elementSelectionService.select('149514769',$event)" [ngStyle]="__elementSelectionService.getStyles('149514769')"(click)='__elementSelectionService.clear()'>
    <div class="sidebar" data-color="white" data-active-color="danger" (contextmenu)="__elementSelectionService.select('2031920655',$event)" [ngStyle]="__elementSelectionService.getStyles('2031920655')">
        <sidebar-cmp (contextmenu)="__elementSelectionService.select('1624282827',$event)" [ngStyle]="__elementSelectionService.getStyles('1624282827')"></sidebar-cmp>
    </div>
    <div class="main-panel" (contextmenu)="__elementSelectionService.select('257237963',$event)" [ngStyle]="__elementSelectionService.getStyles('257237963')">
        <navbar-cmp (contextmenu)="__elementSelectionService.select('1898913732',$event)" [ngStyle]="__elementSelectionService.getStyles('1898913732')"></navbar-cmp>
        <div class="content" (contextmenu)="__elementSelectionService.select('1830806320',$event)" [ngStyle]="__elementSelectionService.getStyles('1830806320')">
            <router-outlet (contextmenu)="__elementSelectionService.select('161302166',$event)" [ngStyle]="__elementSelectionService.getStyles('161302166')"></router-outlet>
        </div>
        <footer-cmp (contextmenu)="__elementSelectionService.select('804284181',$event)" [ngStyle]="__elementSelectionService.getStyles('804284181')"></footer-cmp>
    </div>
</div>
<fixedplugin-cmp (contextmenu)="__elementSelectionService.select('365007517',$event)" [ngStyle]="__elementSelectionService.getStyles('365007517')"(click)='__elementSelectionService.clear()'></fixedplugin-cmp>
