<app-auth-header (contextmenu)="__elementSelectionService.select('232429638',$event)" [ngStyle]="__elementSelectionService.getStyles('232429638')"(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page " (contextmenu)="__elementSelectionService.select('1486919767',$event)" [ngStyle]="__elementSelectionService.getStyles('1486919767')"(click)='__elementSelectionService.clear()'>
	<div class="full-page lock-page section-image" data-image="./assets/img/bg/bruno-abatti.jpg" filter-color="black" (contextmenu)="__elementSelectionService.select('1561708037',$event)" [ngStyle]="__elementSelectionService.getStyles('1561708037')">
		<div class="content" (contextmenu)="__elementSelectionService.select('280644696',$event)" [ngStyle]="__elementSelectionService.getStyles('280644696')">
			<div class="container" (contextmenu)="__elementSelectionService.select('1283726392',$event)" [ngStyle]="__elementSelectionService.getStyles('1283726392')">
				<div class="col-lg-4 col-md-6 ml-auto mr-auto" (contextmenu)="__elementSelectionService.select('1808010407',$event)" [ngStyle]="__elementSelectionService.getStyles('1808010407')">
					<form (submit)="onSubmit()" class="form" name="form" [formGroup]="form" novalidate (contextmenu)="__elementSelectionService.select('412277300',$event)" [ngStyle]="__elementSelectionService.getStyles('412277300')">
						<div class="card card-lock text-center" (contextmenu)="__elementSelectionService.select('1510514162',$event)" [ngStyle]="__elementSelectionService.getStyles('1510514162')">
							<div class="card-header " (contextmenu)="__elementSelectionService.select('914440023',$event)" [ngStyle]="__elementSelectionService.getStyles('914440023')">
								<img alt="..." src="{{tokenStorage.getUser().Icon || './assets/img/default-avatar.png'}}" (contextmenu)="__elementSelectionService.select('2112597012',$event)" [ngStyle]="__elementSelectionService.getStyles('2112597012')">
							</div>
							<div class="card-body " (contextmenu)="__elementSelectionService.select('1940294375',$event)" [ngStyle]="__elementSelectionService.getStyles('1940294375')">							
								<h4 class="card-title" (contextmenu)="__elementSelectionService.select('1843363436',$event)" [ngStyle]="__elementSelectionService.getStyles('1843363436')">{{tokenStorage.getUser().FullName || 'XXXX XXXX'}}</h4>
								<div class="form-group" (contextmenu)="__elementSelectionService.select('1385926407',$event)" [ngStyle]="__elementSelectionService.getStyles('1385926407')">
									<input class="form-control" placeholder="Enter Password.." formControlName="Password" type="password" [ngClass]="{'is-invalid': submitted &#38;&#38; f.Password.errors}" autocomplete="off" (contextmenu)="__elementSelectionService.select('1924137548',$event)" [ngStyle]="__elementSelectionService.getStyles('1924137548')">
									<div *ngIf="submitted &#38;&#38; f.Password.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('897998671',$event)" [ngStyle]="__elementSelectionService.getStyles('897998671')">
			                            <div *ngIf="f.Password.errors.required" (contextmenu)="__elementSelectionService.select('591162253',$event)" [ngStyle]="__elementSelectionService.getStyles('591162253')">Enter your password here</div>
			                        </div>
								</div>
							</div>
							<div class="card-footer " (contextmenu)="__elementSelectionService.select('760294234',$event)" [ngStyle]="__elementSelectionService.getStyles('760294234')">
								<button type="submit" class="btn btn-outline-default btn-round" (contextmenu)="__elementSelectionService.select('1602350814',$event)" [ngStyle]="__elementSelectionService.getStyles('1602350814')">
									Unlock
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<app-auth-footer (contextmenu)="__elementSelectionService.select('1492827718',$event)" [ngStyle]="__elementSelectionService.getStyles('1492827718')"></app-auth-footer>
		<div class="full-page-background" style="background-image: url(./assets/img/bg/bruno-abatti.jpg)" (contextmenu)="__elementSelectionService.select('416995031',$event)" [ngStyle]="__elementSelectionService.getStyles('416995031')"></div>
	</div>
</div>