<app-auth-header (contextmenu)="__elementSelectionService.select('1619859263',$event)" [ngStyle]="__elementSelectionService.getStyles('1619859263')"(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page " (contextmenu)="__elementSelectionService.select('374298671',$event)" [ngStyle]="__elementSelectionService.getStyles('374298671')"(click)='__elementSelectionService.clear()'>
	<div class="full-page section-image" data-image="./assets/img/bg/fabio-mangione.jpg" filter-color="black" (contextmenu)="__elementSelectionService.select('1956953762',$event)" [ngStyle]="__elementSelectionService.getStyles('1956953762')">
		<div class="content" (contextmenu)="__elementSelectionService.select('703363597',$event)" [ngStyle]="__elementSelectionService.getStyles('703363597')">
			<div class="container" (contextmenu)="__elementSelectionService.select('1166987583',$event)" [ngStyle]="__elementSelectionService.getStyles('1166987583')">
				<div class="col-lg-4 col-md-6 ml-auto mr-auto" (contextmenu)="__elementSelectionService.select('2063528989',$event)" [ngStyle]="__elementSelectionService.getStyles('2063528989')">
					<form (submit)="onSubmit()" class="form" name="form" [formGroup]="form" novalidate (contextmenu)="__elementSelectionService.select('729683022',$event)" [ngStyle]="__elementSelectionService.getStyles('729683022')">
						<div class="card card-login" (contextmenu)="__elementSelectionService.select('1627930430',$event)" [ngStyle]="__elementSelectionService.getStyles('1627930430')">
							<div class="card-header " (contextmenu)="__elementSelectionService.select('1388059913',$event)" [ngStyle]="__elementSelectionService.getStyles('1388059913')">
								<div class="card-header " (contextmenu)="__elementSelectionService.select('1609516383',$event)" [ngStyle]="__elementSelectionService.getStyles('1609516383')">
									<h3 class="header text-center" (contextmenu)="__elementSelectionService.select('82372232',$event)" [ngStyle]="__elementSelectionService.getStyles('82372232')">Login</h3>
								</div>
							</div>
							<div class="card-body " (contextmenu)="__elementSelectionService.select('607770852',$event)" [ngStyle]="__elementSelectionService.getStyles('607770852')">
								<div style="display:none" (contextmenu)="__elementSelectionService.select('375381311',$event)" [ngStyle]="__elementSelectionService.getStyles('375381311')">
								    <input type="password" tabindex="-1" (contextmenu)="__elementSelectionService.select('859809558',$event)" [ngStyle]="__elementSelectionService.getStyles('859809558')">
								</div>
								<div class="input-group" (contextmenu)="__elementSelectionService.select('1889586015',$event)" [ngStyle]="__elementSelectionService.getStyles('1889586015')">
									<div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('448058199',$event)" [ngStyle]="__elementSelectionService.getStyles('448058199')">
										<span class="input-group-text" (contextmenu)="__elementSelectionService.select('1927955227',$event)" [ngStyle]="__elementSelectionService.getStyles('1927955227')"><i class="nc-icon nc-single-02" (contextmenu)="__elementSelectionService.select('1017335111',$event)" [ngStyle]="__elementSelectionService.getStyles('1017335111')"></i></span>
									</div>
									<input class="form-control" placeholder="Phone or Email" formControlName="Username" type="text" [ngClass]="{'is-invalid': submitted &#38;&#38; f.Username.errors}" autocomplete="off" (contextmenu)="__elementSelectionService.select('1253020607',$event)" [ngStyle]="__elementSelectionService.getStyles('1253020607')">
									<div *ngIf="submitted &#38;&#38; f.Username.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1983766486',$event)" [ngStyle]="__elementSelectionService.getStyles('1983766486')">
			                            <div *ngIf="f.Username.errors.required" (contextmenu)="__elementSelectionService.select('1450158225',$event)" [ngStyle]="__elementSelectionService.getStyles('1450158225')">Enter your phone or email</div>
			                        </div>
								</div>
								<div class="input-group" (contextmenu)="__elementSelectionService.select('1879055982',$event)" [ngStyle]="__elementSelectionService.getStyles('1879055982')">
									<div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1174690234',$event)" [ngStyle]="__elementSelectionService.getStyles('1174690234')">
										<span class="input-group-text" (contextmenu)="__elementSelectionService.select('1591733699',$event)" [ngStyle]="__elementSelectionService.getStyles('1591733699')"><i class="nc-icon nc-key-25" (contextmenu)="__elementSelectionService.select('1977613737',$event)" [ngStyle]="__elementSelectionService.getStyles('1977613737')"></i></span>
									</div>
									<input class="form-control" placeholder="Your Password" formControlName="Password" type="password" [ngClass]="{'is-invalid': submitted &#38;&#38; f.Password.errors}" autocomplete="off" (contextmenu)="__elementSelectionService.select('98336274',$event)" [ngStyle]="__elementSelectionService.getStyles('98336274')">
									<div *ngIf="submitted &#38;&#38; f.Password.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('1643200154',$event)" [ngStyle]="__elementSelectionService.getStyles('1643200154')">
			                            <div *ngIf="f.Password.errors.required" (contextmenu)="__elementSelectionService.select('1080125074',$event)" [ngStyle]="__elementSelectionService.getStyles('1080125074')">Enter your password here</div>
			                        </div>
								</div>
								<br (contextmenu)="__elementSelectionService.select('1247410562',$event)" [ngStyle]="__elementSelectionService.getStyles('1247410562')">
								<div class="form-group" (contextmenu)="__elementSelectionService.select('747840053',$event)" [ngStyle]="__elementSelectionService.getStyles('747840053')">
									<div class="form-check" (contextmenu)="__elementSelectionService.select('1157549267',$event)" [ngStyle]="__elementSelectionService.getStyles('1157549267')">
										<label class="form-check-label" (contextmenu)="__elementSelectionService.select('257976104',$event)" [ngStyle]="__elementSelectionService.getStyles('257976104')"><input checked class="form-check-input" type="checkbox" value (contextmenu)="__elementSelectionService.select('183503535',$event)" [ngStyle]="__elementSelectionService.getStyles('183503535')"><span class="form-check-sign" (contextmenu)="__elementSelectionService.select('1070011214',$event)" [ngStyle]="__elementSelectionService.getStyles('1070011214')"></span> Subscribe to newsletter </label>
									</div>
								</div>
							</div>
							<div class="card-footer " (contextmenu)="__elementSelectionService.select('233691185',$event)" [ngStyle]="__elementSelectionService.getStyles('233691185')">
								<button type="submit" class="btn btn-warning btn-round btn-block mb-3" (contextmenu)="__elementSelectionService.select('20494211',$event)" [ngStyle]="__elementSelectionService.getStyles('20494211')">
									Login
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<app-auth-footer (contextmenu)="__elementSelectionService.select('194470009',$event)" [ngStyle]="__elementSelectionService.getStyles('194470009')"></app-auth-footer>
		<div class="full-page-background" style="background-image: url(./assets/img/bg/fabio-mangione.jpg)" (contextmenu)="__elementSelectionService.select('214785830',$event)" [ngStyle]="__elementSelectionService.getStyles('214785830')"></div>
	</div>
</div>