<h3 class="pt-3" (contextmenu)="__elementSelectionService.select('1045009442',$event)" [ngStyle]="__elementSelectionService.getStyles('1045009442')"(click)='__elementSelectionService.clear()'>{{title}}</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (contextmenu)="__elementSelectionService.select('239349954',$event)" [ngStyle]="__elementSelectionService.getStyles('239349954')"(click)='__elementSelectionService.clear()'>	
	<div class="text-center" (contextmenu)="__elementSelectionService.select('559510663',$event)" [ngStyle]="__elementSelectionService.getStyles('559510663')">
        
    </div>
    <div class="form-row" (contextmenu)="__elementSelectionService.select('248789924',$event)" [ngStyle]="__elementSelectionService.getStyles('248789924')">
        <div class="form-group col" (contextmenu)="__elementSelectionService.select('565827740',$event)" [ngStyle]="__elementSelectionService.getStyles('565827740')">
            <label (contextmenu)="__elementSelectionService.select('1780697016',$event)" [ngStyle]="__elementSelectionService.getStyles('1780697016')">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.password.errors }" (contextmenu)="__elementSelectionService.select('11856695',$event)" [ngStyle]="__elementSelectionService.getStyles('11856695')">
            <div *ngIf="submitted &#38;&#38; f.password.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('789768606',$event)" [ngStyle]="__elementSelectionService.getStyles('789768606')">
                <div *ngIf="f.password.errors.required" (contextmenu)="__elementSelectionService.select('1073785304',$event)" [ngStyle]="__elementSelectionService.getStyles('1073785304')">Password is required</div>
                <div *ngIf="f.password.errors.minlength" (contextmenu)="__elementSelectionService.select('820918503',$event)" [ngStyle]="__elementSelectionService.getStyles('820918503')">Password must be at least 8 characters</div>
            </div>
        </div>
        <div class="form-group col" (contextmenu)="__elementSelectionService.select('388272286',$event)" [ngStyle]="__elementSelectionService.getStyles('388272286')">
            <label (contextmenu)="__elementSelectionService.select('801293821',$event)" [ngStyle]="__elementSelectionService.getStyles('801293821')">Confirm Password</label>
            <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted &#38;&#38; f.ConfirmPassword.errors }" (contextmenu)="__elementSelectionService.select('1791616948',$event)" [ngStyle]="__elementSelectionService.getStyles('1791616948')">
            <div *ngIf="submitted &#38;&#38; f.ConfirmPassword.errors" class="invalid-feedback" (contextmenu)="__elementSelectionService.select('723632906',$event)" [ngStyle]="__elementSelectionService.getStyles('723632906')">
                <div *ngIf="f.ConfirmPassword.errors.required" (contextmenu)="__elementSelectionService.select('405935760',$event)" [ngStyle]="__elementSelectionService.getStyles('405935760')">Confirm Password is required</div>
                <div *ngIf="f.ConfirmPassword.errors.mustMatch" (contextmenu)="__elementSelectionService.select('568776006',$event)" [ngStyle]="__elementSelectionService.getStyles('568776006')">Passwords must match</div>
            </div>
        </div>
    </div>
    <div class="form-group" (contextmenu)="__elementSelectionService.select('70738569',$event)" [ngStyle]="__elementSelectionService.getStyles('70738569')">
        <button [disabled]="loading" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('564906134',$event)" [ngStyle]="__elementSelectionService.getStyles('564906134')">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" (contextmenu)="__elementSelectionService.select('698731685',$event)" [ngStyle]="__elementSelectionService.getStyles('698731685')"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link" (contextmenu)="__elementSelectionService.select('1056858162',$event)" [ngStyle]="__elementSelectionService.getStyles('1056858162')">Cancel</a>
    </div>
</form>