<div class="row"
	(contextmenu)="__elementSelectionService.select('1871624041',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1871624041')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-12"
		(contextmenu)="__elementSelectionService.select('299913845',$event)"
		[ngStyle]="__elementSelectionService.getStyles('299913845')">
		<div class="card"
			(contextmenu)="__elementSelectionService.select('189762271',$event)"
			[ngStyle]="__elementSelectionService.getStyles('189762271')">
			<div class="card-header"
				(contextmenu)="__elementSelectionService.select('1328291918',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1328291918')">
				<h4 class="card-title"
					(contextmenu)="__elementSelectionService.select('395788576',$event)"
					[ngStyle]="__elementSelectionService.getStyles('395788576')">
					Simple Table</h4>
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('74963549',$event)"
				[ngStyle]="__elementSelectionService.getStyles('74963549')">
				<div class="table-responsive"
					(contextmenu)="__elementSelectionService.select('1931063678',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1931063678')">
					<table class="table"
						(contextmenu)="__elementSelectionService.select('1570357507',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1570357507')">
						<thead class=" text-primary"
							(contextmenu)="__elementSelectionService.select('1881802193',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1881802193')">
							<th
								(contextmenu)="__elementSelectionService.select('1245023419',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1245023419')">
								Name</th>
							<th
								(contextmenu)="__elementSelectionService.select('1947817666',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1947817666')">
								Country</th>
							<th
								(contextmenu)="__elementSelectionService.select('1738211483',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1738211483')">
								City</th>
							<th class="text-right"
								(contextmenu)="__elementSelectionService.select('1195349300',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1195349300')">
								Salary</th>
						</thead>
						<tbody
							(contextmenu)="__elementSelectionService.select('562665788',$event)"
							[ngStyle]="__elementSelectionService.getStyles('562665788')">
							<tr
								(contextmenu)="__elementSelectionService.select('521692297',$event)"
								[ngStyle]="__elementSelectionService.getStyles('521692297')">
								<td
									(contextmenu)="__elementSelectionService.select('548941865',$event)"
									[ngStyle]="__elementSelectionService.getStyles('548941865')">
									Dakota Rice</td>
								<td
									(contextmenu)="__elementSelectionService.select('462784319',$event)"
									[ngStyle]="__elementSelectionService.getStyles('462784319')">
									Niger</td>
								<td
									(contextmenu)="__elementSelectionService.select('1983429896',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1983429896')">
									Oud-Turnhout</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('710456170',$event)"
									[ngStyle]="__elementSelectionService.getStyles('710456170')">
									$36,738</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1258350448',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1258350448')">
								<td
									(contextmenu)="__elementSelectionService.select('2082155856',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2082155856')">
									Minerva Hooper</td>
								<td
									(contextmenu)="__elementSelectionService.select('1341656870',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1341656870')">
									Cura&#195;&#167;ao</td>
								<td
									(contextmenu)="__elementSelectionService.select('542385744',$event)"
									[ngStyle]="__elementSelectionService.getStyles('542385744')">
									Sinaai-Waas</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1822654029',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1822654029')">
									$23,789</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1232584484',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1232584484')">
								<td
									(contextmenu)="__elementSelectionService.select('1182337043',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1182337043')">
									Sage Rodriguez</td>
								<td
									(contextmenu)="__elementSelectionService.select('1201590314',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1201590314')">
									Netherlands</td>
								<td
									(contextmenu)="__elementSelectionService.select('809017218',$event)"
									[ngStyle]="__elementSelectionService.getStyles('809017218')">
									Baileux</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1145215038',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1145215038')">
									$56,142</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1249196341',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1249196341')">
								<td
									(contextmenu)="__elementSelectionService.select('2077994961',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2077994961')">
									Philip Chaney</td>
								<td
									(contextmenu)="__elementSelectionService.select('258735015',$event)"
									[ngStyle]="__elementSelectionService.getStyles('258735015')">
									Korea, South</td>
								<td
									(contextmenu)="__elementSelectionService.select('1605894428',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1605894428')">
									Overland Park</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1021785935',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1021785935')">
									$38,735</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('442806821',$event)"
								[ngStyle]="__elementSelectionService.getStyles('442806821')">
								<td
									(contextmenu)="__elementSelectionService.select('1241695245',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1241695245')">
									Doris Greene</td>
								<td
									(contextmenu)="__elementSelectionService.select('1437437104',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1437437104')">
									Malawi</td>
								<td
									(contextmenu)="__elementSelectionService.select('1358267397',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1358267397')">
									Feldkirchen in K&#195;&#164;rnten</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1866461604',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1866461604')">
									$63,542</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('868311778',$event)"
								[ngStyle]="__elementSelectionService.getStyles('868311778')">
								<td
									(contextmenu)="__elementSelectionService.select('179347494',$event)"
									[ngStyle]="__elementSelectionService.getStyles('179347494')">
									Mason Porter</td>
								<td
									(contextmenu)="__elementSelectionService.select('1981401305',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1981401305')">
									Chile</td>
								<td
									(contextmenu)="__elementSelectionService.select('1723577711',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1723577711')">
									Gloucester</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1582632232',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1582632232')">
									$78,615</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1374369620',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1374369620')">
								<td
									(contextmenu)="__elementSelectionService.select('1770812080',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1770812080')">
									Jon Porter</td>
								<td
									(contextmenu)="__elementSelectionService.select('1386721827',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1386721827')">
									Portugal</td>
								<td
									(contextmenu)="__elementSelectionService.select('619567378',$event)"
									[ngStyle]="__elementSelectionService.getStyles('619567378')">
									Gloucester</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('741608268',$event)"
									[ngStyle]="__elementSelectionService.getStyles('741608268')">
									$98,615</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12"
		(contextmenu)="__elementSelectionService.select('648537480',$event)"
		[ngStyle]="__elementSelectionService.getStyles('648537480')">
		<div class="card card-plain"
			(contextmenu)="__elementSelectionService.select('1233022421',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1233022421')">
			<div class="card-header"
				(contextmenu)="__elementSelectionService.select('59836577',$event)"
				[ngStyle]="__elementSelectionService.getStyles('59836577')">
				<h4 class="card-title"
					(contextmenu)="__elementSelectionService.select('259202548',$event)"
					[ngStyle]="__elementSelectionService.getStyles('259202548')">
					Table on Plain Background</h4>
				<p class="card-category"
					(contextmenu)="__elementSelectionService.select('375468599',$event)"
					[ngStyle]="__elementSelectionService.getStyles('375468599')">
					Here is a subtitle for this table</p>
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('751564267',$event)"
				[ngStyle]="__elementSelectionService.getStyles('751564267')">
				<div class="table-responsive"
					(contextmenu)="__elementSelectionService.select('655631571',$event)"
					[ngStyle]="__elementSelectionService.getStyles('655631571')">
					<table class="table"
						(contextmenu)="__elementSelectionService.select('807338360',$event)"
						[ngStyle]="__elementSelectionService.getStyles('807338360')">
						<thead class=" text-primary"
							(contextmenu)="__elementSelectionService.select('795897286',$event)"
							[ngStyle]="__elementSelectionService.getStyles('795897286')">
							<th
								(contextmenu)="__elementSelectionService.select('1550295406',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1550295406')">
								Name</th>
							<th
								(contextmenu)="__elementSelectionService.select('1523786893',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1523786893')">
								Country</th>
							<th
								(contextmenu)="__elementSelectionService.select('311421550',$event)"
								[ngStyle]="__elementSelectionService.getStyles('311421550')">
								City</th>
							<th class="text-right"
								(contextmenu)="__elementSelectionService.select('1044233124',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1044233124')">
								Salary</th>
						</thead>
						<tbody
							(contextmenu)="__elementSelectionService.select('1596981724',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1596981724')">
							<tr
								(contextmenu)="__elementSelectionService.select('478458363',$event)"
								[ngStyle]="__elementSelectionService.getStyles('478458363')">
								<td
									(contextmenu)="__elementSelectionService.select('1907750047',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1907750047')">
									Dakota Rice</td>
								<td
									(contextmenu)="__elementSelectionService.select('579244438',$event)"
									[ngStyle]="__elementSelectionService.getStyles('579244438')">
									Niger</td>
								<td
									(contextmenu)="__elementSelectionService.select('2103921403',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2103921403')">
									Oud-Turnhout</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1146435525',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1146435525')">
									$36,738</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('437924572',$event)"
								[ngStyle]="__elementSelectionService.getStyles('437924572')">
								<td
									(contextmenu)="__elementSelectionService.select('201722408',$event)"
									[ngStyle]="__elementSelectionService.getStyles('201722408')">
									Minerva Hooper</td>
								<td
									(contextmenu)="__elementSelectionService.select('1274132929',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1274132929')">
									Cura&#195;&#167;ao</td>
								<td
									(contextmenu)="__elementSelectionService.select('645350501',$event)"
									[ngStyle]="__elementSelectionService.getStyles('645350501')">
									Sinaai-Waas</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1840258725',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1840258725')">
									$23,789</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1364921969',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1364921969')">
								<td
									(contextmenu)="__elementSelectionService.select('396532266',$event)"
									[ngStyle]="__elementSelectionService.getStyles('396532266')">
									Sage Rodriguez</td>
								<td
									(contextmenu)="__elementSelectionService.select('191537367',$event)"
									[ngStyle]="__elementSelectionService.getStyles('191537367')">
									Netherlands</td>
								<td
									(contextmenu)="__elementSelectionService.select('1724039721',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1724039721')">
									Baileux</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1877172230',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1877172230')">
									$56,142</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('1821627418',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1821627418')">
								<td
									(contextmenu)="__elementSelectionService.select('841067847',$event)"
									[ngStyle]="__elementSelectionService.getStyles('841067847')">
									Philip Chaney</td>
								<td
									(contextmenu)="__elementSelectionService.select('1115873952',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1115873952')">
									Korea, South</td>
								<td
									(contextmenu)="__elementSelectionService.select('907364774',$event)"
									[ngStyle]="__elementSelectionService.getStyles('907364774')">
									Overland Park</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1154771066',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1154771066')">
									$38,735</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('2065743410',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2065743410')">
								<td
									(contextmenu)="__elementSelectionService.select('778228756',$event)"
									[ngStyle]="__elementSelectionService.getStyles('778228756')">
									Doris Greene</td>
								<td
									(contextmenu)="__elementSelectionService.select('841412615',$event)"
									[ngStyle]="__elementSelectionService.getStyles('841412615')">
									Malawi</td>
								<td
									(contextmenu)="__elementSelectionService.select('1431755137',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1431755137')">
									Feldkirchen in K&#195;&#164;rnten</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('729365559',$event)"
									[ngStyle]="__elementSelectionService.getStyles('729365559')">
									$63,542</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('327388984',$event)"
								[ngStyle]="__elementSelectionService.getStyles('327388984')">
								<td
									(contextmenu)="__elementSelectionService.select('371254151',$event)"
									[ngStyle]="__elementSelectionService.getStyles('371254151')">
									Mason Porter</td>
								<td
									(contextmenu)="__elementSelectionService.select('1977199123',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1977199123')">
									Chile</td>
								<td
									(contextmenu)="__elementSelectionService.select('396605467',$event)"
									[ngStyle]="__elementSelectionService.getStyles('396605467')">
									Gloucester</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('408297368',$event)"
									[ngStyle]="__elementSelectionService.getStyles('408297368')">
									$78,615</td>
							</tr>
							<tr
								(contextmenu)="__elementSelectionService.select('159116238',$event)"
								[ngStyle]="__elementSelectionService.getStyles('159116238')">
								<td
									(contextmenu)="__elementSelectionService.select('826950080',$event)"
									[ngStyle]="__elementSelectionService.getStyles('826950080')">
									Jon Porter</td>
								<td
									(contextmenu)="__elementSelectionService.select('1000555666',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1000555666')">
									Portugal</td>
								<td
									(contextmenu)="__elementSelectionService.select('320939681',$event)"
									[ngStyle]="__elementSelectionService.getStyles('320939681')">
									Gloucester</td>
								<td class="text-right"
									(contextmenu)="__elementSelectionService.select('1163037328',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1163037328')">
									$98,615</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
