<div class="row"
	(contextmenu)="__elementSelectionService.select('379945405',$event)"
	[ngStyle]="__elementSelectionService.getStyles('379945405')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-12"
		(contextmenu)="__elementSelectionService.select('711782412',$event)"
		[ngStyle]="__elementSelectionService.getStyles('711782412')">
		<div class="card"
			(contextmenu)="__elementSelectionService.select('1470824796',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1470824796')">
			<div class="card-header"
				(contextmenu)="__elementSelectionService.select('1886955821',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1886955821')">
				<h5 class="card-title"
					(contextmenu)="__elementSelectionService.select('2064296953',$event)"
					[ngStyle]="__elementSelectionService.getStyles('2064296953')">Notifications</h5>
				<p class="card-category"
					(contextmenu)="__elementSelectionService.select('917231620',$event)"
					[ngStyle]="__elementSelectionService.getStyles('917231620')">
					Handcrafted by our friend <a target="_blank"
						href="https://github.com/mouse0270"
						(contextmenu)="__elementSelectionService.select('965058156',$event)"
						[ngStyle]="__elementSelectionService.getStyles('965058156')">Robert
						McIntosh</a>. Please checkout the <a
						href="http://bootstrap-notify.remabledesigns.com/" target="_blank"
						(contextmenu)="__elementSelectionService.select('201423280',$event)"
						[ngStyle]="__elementSelectionService.getStyles('201423280')">full
						documentation.</a>
				</p>
			</div>
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('578440874',$event)"
				[ngStyle]="__elementSelectionService.getStyles('578440874')">
				<div class="row"
					(contextmenu)="__elementSelectionService.select('1249499417',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1249499417')">
					<div class="col-md-6"
						(contextmenu)="__elementSelectionService.select('1603950788',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1603950788')">
						<div class="card card-plain"
							(contextmenu)="__elementSelectionService.select('1481733758',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1481733758')">
							<div class="card-header"
								(contextmenu)="__elementSelectionService.select('682523840',$event)"
								[ngStyle]="__elementSelectionService.getStyles('682523840')">
								<h5 class="card-title"
									(contextmenu)="__elementSelectionService.select('748411357',$event)"
									[ngStyle]="__elementSelectionService.getStyles('748411357')">Notifications
									Style</h5>
							</div>
							<div class="card-body"
								(contextmenu)="__elementSelectionService.select('566946034',$event)"
								[ngStyle]="__elementSelectionService.getStyles('566946034')">
								<div class="alert alert-info"
									(contextmenu)="__elementSelectionService.select('1920702515',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1920702515')">
									<span
										(contextmenu)="__elementSelectionService.select('694727360',$event)"
										[ngStyle]="__elementSelectionService.getStyles('694727360')">This
										is a plain notification</span>
								</div>
								<div class="alert alert-info alert-dismissible fade show"
									(contextmenu)="__elementSelectionService.select('1531953921',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1531953921')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('758394338',$event)"
										[ngStyle]="__elementSelectionService.getStyles('758394338')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('60854903',$event)"
											[ngStyle]="__elementSelectionService.getStyles('60854903')"></i>
									</button>
									<span
										(contextmenu)="__elementSelectionService.select('1873993329',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1873993329')">This
										is a notification with close button.</span>
								</div>
								<div
									class="alert alert-info alert-with-icon alert-dismissible fade show"
									data-notify="container"
									(contextmenu)="__elementSelectionService.select('1245732685',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1245732685')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('1184313562',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1184313562')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('1101214037',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1101214037')"></i>
									</button>
									<span data-notify="icon" class="nc-icon nc-bell-55"
										(contextmenu)="__elementSelectionService.select('949698118',$event)"
										[ngStyle]="__elementSelectionService.getStyles('949698118')"></span>
									<span data-notify="message"
										(contextmenu)="__elementSelectionService.select('1885971503',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1885971503')">This
										is a notification with close button and icon.</span>
								</div>
								<div
									class="alert alert-info alert-with-icon alert-dismissible fade show"
									data-notify="container"
									(contextmenu)="__elementSelectionService.select('252136216',$event)"
									[ngStyle]="__elementSelectionService.getStyles('252136216')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('1475799604',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1475799604')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('922650498',$event)"
											[ngStyle]="__elementSelectionService.getStyles('922650498')"></i>
									</button>
									<span data-notify="icon" class="nc-icon nc-chart-pie-36"
										(contextmenu)="__elementSelectionService.select('185275822',$event)"
										[ngStyle]="__elementSelectionService.getStyles('185275822')"></span>
									<span data-notify="message"
										(contextmenu)="__elementSelectionService.select('1054986332',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1054986332')">This
										is a notification with close button and icon and have many
										lines. You can see that the icon and the close button are
										always vertically aligned. This is a beautiful notification.
										So you don't have to worry about the style.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6"
						(contextmenu)="__elementSelectionService.select('1587952382',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1587952382')">
						<div class="card card-plain"
							(contextmenu)="__elementSelectionService.select('480670783',$event)"
							[ngStyle]="__elementSelectionService.getStyles('480670783')">
							<div class="card-header"
								(contextmenu)="__elementSelectionService.select('1339274336',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1339274336')">
								<h5 class="card-title"
									(contextmenu)="__elementSelectionService.select('2139160310',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2139160310')">Notification
									states</h5>
							</div>
							<div class="card-body"
								(contextmenu)="__elementSelectionService.select('270424626',$event)"
								[ngStyle]="__elementSelectionService.getStyles('270424626')">
								<div class="alert alert-primary alert-dismissible fade show"
									(contextmenu)="__elementSelectionService.select('1060557698',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1060557698')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('1830031536',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1830031536')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('362489002',$event)"
											[ngStyle]="__elementSelectionService.getStyles('362489002')"></i>
									</button>
									<span
										(contextmenu)="__elementSelectionService.select('2008429537',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2008429537')">
										<b
										(contextmenu)="__elementSelectionService.select('2123715670',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2123715670')">
											Primary - </b> This is a regular notification made with
										&#34;.alert-primary&#34;
									</span>
								</div>
								<div class="alert alert-info alert-dismissible fade show"
									(contextmenu)="__elementSelectionService.select('868829860',$event)"
									[ngStyle]="__elementSelectionService.getStyles('868829860')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('2134607363',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2134607363')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('970234686',$event)"
											[ngStyle]="__elementSelectionService.getStyles('970234686')"></i>
									</button>
									<span
										(contextmenu)="__elementSelectionService.select('1840734134',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1840734134')">
										<b
										(contextmenu)="__elementSelectionService.select('340964558',$event)"
										[ngStyle]="__elementSelectionService.getStyles('340964558')">
											Info - </b> This is a regular notification made with
										&#34;.alert-info&#34;
									</span>
								</div>
								<div class="alert alert-success alert-dismissible fade show"
									(contextmenu)="__elementSelectionService.select('939144153',$event)"
									[ngStyle]="__elementSelectionService.getStyles('939144153')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('719999859',$event)"
										[ngStyle]="__elementSelectionService.getStyles('719999859')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('2113401719',$event)"
											[ngStyle]="__elementSelectionService.getStyles('2113401719')"></i>
									</button>
									<span
										(contextmenu)="__elementSelectionService.select('2080558275',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2080558275')">
										<b
										(contextmenu)="__elementSelectionService.select('444619873',$event)"
										[ngStyle]="__elementSelectionService.getStyles('444619873')">
											Success - </b> This is a regular notification made with
										&#34;.alert-success&#34;
									</span>
								</div>
								<div class="alert alert-warning alert-dismissible fade show"
									(contextmenu)="__elementSelectionService.select('1653208457',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1653208457')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('539479780',$event)"
										[ngStyle]="__elementSelectionService.getStyles('539479780')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('1244232439',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1244232439')"></i>
									</button>
									<span
										(contextmenu)="__elementSelectionService.select('1389511815',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1389511815')">
										<b
										(contextmenu)="__elementSelectionService.select('2136655593',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2136655593')">
											Warning - </b> This is a regular notification made with
										&#34;.alert-warning&#34;
									</span>
								</div>
								<div class="alert alert-danger alert-dismissible fade show"
									(contextmenu)="__elementSelectionService.select('1628731144',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1628731144')">
									<button type="button" aria-hidden="true" class="close"
										data-dismiss="alert" aria-label="Close"
										(contextmenu)="__elementSelectionService.select('1626031903',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1626031903')">
										<i class="nc-icon nc-simple-remove"
											(contextmenu)="__elementSelectionService.select('543015417',$event)"
											[ngStyle]="__elementSelectionService.getStyles('543015417')"></i>
									</button>
									<span
										(contextmenu)="__elementSelectionService.select('161031829',$event)"
										[ngStyle]="__elementSelectionService.getStyles('161031829')">
										<b
										(contextmenu)="__elementSelectionService.select('1274522777',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1274522777')">
											Danger - </b> This is a regular notification made with
										&#34;.alert-danger&#34;
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row"
	(contextmenu)="__elementSelectionService.select('529290963',$event)"
	[ngStyle]="__elementSelectionService.getStyles('529290963')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-12"
		(contextmenu)="__elementSelectionService.select('1897843015',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1897843015')">
		<div class="card"
			(contextmenu)="__elementSelectionService.select('1065524372',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1065524372')">
			<div class="card-body"
				(contextmenu)="__elementSelectionService.select('2138024063',$event)"
				[ngStyle]="__elementSelectionService.getStyles('2138024063')">
				<div class="places-buttons"
					(contextmenu)="__elementSelectionService.select('151666799',$event)"
					[ngStyle]="__elementSelectionService.getStyles('151666799')">
					<div class="row"
						(contextmenu)="__elementSelectionService.select('249160952',$event)"
						[ngStyle]="__elementSelectionService.getStyles('249160952')">
						<div class="col-md-6 ml-auto mr-auto text-center"
							(contextmenu)="__elementSelectionService.select('622112651',$event)"
							[ngStyle]="__elementSelectionService.getStyles('622112651')">
							<h4 class="card-title"
								(contextmenu)="__elementSelectionService.select('666556166',$event)"
								[ngStyle]="__elementSelectionService.getStyles('666556166')">
								Notifications Places
								<p class="category"
									(contextmenu)="__elementSelectionService.select('2095641254',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2095641254')">Click
									to view notifications</p>
							</h4>
						</div>
					</div>
					<div class="row"
						(contextmenu)="__elementSelectionService.select('1029126119',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1029126119')">
						<div class="col-lg-8 ml-auto mr-auto"
							(contextmenu)="__elementSelectionService.select('1035976497',$event)"
							[ngStyle]="__elementSelectionService.getStyles('1035976497')">
							<div class="row"
								(contextmenu)="__elementSelectionService.select('1288461671',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1288461671')">
								<div class="col-md-4"
									(contextmenu)="__elementSelectionService.select('1997204378',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1997204378')">
									<button class="btn btn-primary btn-block"
										(click)="showNotification('top','left')"
										(contextmenu)="__elementSelectionService.select('1944457875',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1944457875')">Top
										Left</button>
								</div>
								<div class="col-md-4"
									(contextmenu)="__elementSelectionService.select('861961705',$event)"
									[ngStyle]="__elementSelectionService.getStyles('861961705')">
									<button class="btn btn-primary btn-block"
										(click)="showNotification('top','center')"
										(contextmenu)="__elementSelectionService.select('493435271',$event)"
										[ngStyle]="__elementSelectionService.getStyles('493435271')">Top
										Center</button>
								</div>
								<div class="col-md-4"
									(contextmenu)="__elementSelectionService.select('1033852811',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1033852811')">
									<button class="btn btn-primary btn-block"
										(click)="showNotification('top','right')"
										(contextmenu)="__elementSelectionService.select('2116991009',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2116991009')">Top
										Right</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row"
						(contextmenu)="__elementSelectionService.select('1318128952',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1318128952')">
						<div class="col-lg-8 ml-auto mr-auto"
							(contextmenu)="__elementSelectionService.select('442540140',$event)"
							[ngStyle]="__elementSelectionService.getStyles('442540140')">
							<div class="row"
								(contextmenu)="__elementSelectionService.select('1560580004',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1560580004')">
								<div class="col-md-4"
									(contextmenu)="__elementSelectionService.select('1457576853',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1457576853')">
									<button class="btn btn-primary btn-block"
										(click)="showNotification('bottom','left')"
										(contextmenu)="__elementSelectionService.select('283043004',$event)"
										[ngStyle]="__elementSelectionService.getStyles('283043004')">Bottom
										Left</button>
								</div>
								<div class="col-md-4"
									(contextmenu)="__elementSelectionService.select('262296843',$event)"
									[ngStyle]="__elementSelectionService.getStyles('262296843')">
									<button class="btn btn-primary btn-block"
										(click)="showNotification('bottom','center')"
										(contextmenu)="__elementSelectionService.select('1990365940',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1990365940')">Bottom
										Center</button>
								</div>
								<div class="col-md-4"
									(contextmenu)="__elementSelectionService.select('651084742',$event)"
									[ngStyle]="__elementSelectionService.getStyles('651084742')">
									<button class="btn btn-primary btn-block"
										(click)="showNotification('bottom','right')"
										(contextmenu)="__elementSelectionService.select('1095903399',$event)"
										[ngStyle]="__elementSelectionService.getStyles('1095903399')">Bottom
										Right</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
