<div class="main-content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						{{title}}
					</h3>
					<div class="form-row">
						<div class="form-group col-9">
							<input class="form-control" placeholder="Search {{title}} Here.." [(ngModel)]="filter.term"
								(keyup)="($event.keyCode == 13 ? dataService.findByName(filter.term) : null)"/>
						</div>
						<div class="form-group col-3">
							<a class="text-success pull-right" rel="tooltip" routerLink="/{{addUrl}}"
								[attr.disabled]="false" type="button" data-original-title=""
								title="Add new {{object}} to system" >
								<span><i class="fa fa-plus"></i> &nbsp;Add {{object}}</span>
							</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div>
						<table class="table">
							<thead class="text-green">
								<tr>
									<th class="text-center">#</th>
									<th>Full Name</th>
									<th>Agent Number</th>
									<th>Area of Interest</th>
									<th>Ward</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="!rows || rows.length==0">
									<td class="text-center" colspan="100%">
										{{
											errorMessage? errorMessage :
											('Search could not find any '+ title.toLowerCase() + ' records')
										}}
									</td>
								</tr>
								<tr template #elseBlock *ngFor="let row of rows | RandomSearch:filter.term;let i=index;">
									<td class="text-center">{{(i+1) + '.'}}</td>
									<td>
										<a routerLink="/{{profileUrl + '/' +row[pk]}}">{{row.FullName | uppercase}}</a>
									</td>
									<td>{{row.username}}</td>
									<td>{{row.ServiceCategoryID}}</td>
									<td>{{row.Ward | uppercase}}</td>
									<td class="text-right">
										<a class="btn btn-success btn-icon btn-sm btn-neutral" rel="tooltip"
											data-original-title="" title=""
											 routerLink="/{{editUrl + row[pk]}}">
											<i class="fa fa-edit"></i>
										</a>
										<button class="btn btn-danger btn-icon btn-sm btn-neutral" rel="tooltip"
											[disabled]="row.isDeleting" type="button" data-original-title=""
											title="" (click)="deleteRow(row)">
											<span *ngIf="row.isDeleting" class="spinner-border spinner-border-sm"></span>
                    						<span *ngIf="!row.isDeleting"><i class="fa fa-times"></i></span>
										</button>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
