<app-auth-header
	(contextmenu)="__elementSelectionService.select('57553591',$event)"
	[ngStyle]="__elementSelectionService.getStyles('57553591')"
	(click)='__elementSelectionService.clear()'></app-auth-header>
<div class="wrapper wrapper-full-page "
	(contextmenu)="__elementSelectionService.select('1559985541',$event)"
	[ngStyle]="__elementSelectionService.getStyles('1559985541')"
	(click)='__elementSelectionService.clear()'>
	<div class="full-page register-page section-image"
		data-image="../assets/img/bg/jan-sendereks.jpg" filter-color="black"
		(contextmenu)="__elementSelectionService.select('1226891733',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1226891733')">
		<div class="content"
			(contextmenu)="__elementSelectionService.select('1992363600',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1992363600')">
			<div class="container mt-0"
				(contextmenu)="__elementSelectionService.select('1901154904',$event)"
				[ngStyle]="__elementSelectionService.getStyles('1901154904')">
				<div class="row"
					(contextmenu)="__elementSelectionService.select('104019600',$event)"
					[ngStyle]="__elementSelectionService.getStyles('104019600')">
					<div class="col-lg-5 col-md-5 ml-auto"
						(contextmenu)="__elementSelectionService.select('1213419978',$event)"
						[ngStyle]="__elementSelectionService.getStyles('1213419978')">
						<div class="info-area info-horizontal mt-0"
							(contextmenu)="__elementSelectionService.select('907961630',$event)"
							[ngStyle]="__elementSelectionService.getStyles('907961630')">
							<div class="icon icon-primary"
								(contextmenu)="__elementSelectionService.select('1294344727',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1294344727')">
								<i class="nc-icon nc-circle-10"
									(contextmenu)="__elementSelectionService.select('1379801749',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1379801749')"></i>
							</div>
							<div class="description"
								(contextmenu)="__elementSelectionService.select('3267609',$event)"
								[ngStyle]="__elementSelectionService.getStyles('3267609')">
								<h5 class="info-title"
									(contextmenu)="__elementSelectionService.select('1161985940',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1161985940')">Farmer
									Representation</h5>
								<p class="description"
									(contextmenu)="__elementSelectionService.select('956881841',$event)"
									[ngStyle]="__elementSelectionService.getStyles('956881841')">We
									engage the Government on behalf of its farmer members in a bid
									to ensure that we have favorable and sustainable agricultural
									policies.</p>
							</div>
						</div>
						<div class="info-area info-horizontal"
							(contextmenu)="__elementSelectionService.select('465601719',$event)"
							[ngStyle]="__elementSelectionService.getStyles('465601719')">
							<div class="icon icon-primary"
								(contextmenu)="__elementSelectionService.select('362758850',$event)"
								[ngStyle]="__elementSelectionService.getStyles('362758850')">
								<i class="nc-icon nc-html5"
									(contextmenu)="__elementSelectionService.select('1131884858',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1131884858')"></i>
							</div>
							<div class="description"
								(contextmenu)="__elementSelectionService.select('1021161398',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1021161398')">
								<h5 class="info-title"
									(contextmenu)="__elementSelectionService.select('589783462',$event)"
									[ngStyle]="__elementSelectionService.getStyles('589783462')">Training,
									Research &#38; Advisory</h5>
								<p class="description"
									(contextmenu)="__elementSelectionService.select('1287761490',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1287761490')">We
									offer extension and advisory services to farmers through the
									establishment of learning centers and demo farms.</p>
							</div>
						</div>
						<div class="info-area info-horizontal"
							(contextmenu)="__elementSelectionService.select('910534673',$event)"
							[ngStyle]="__elementSelectionService.getStyles('910534673')">
							<div class="icon icon-info"
								(contextmenu)="__elementSelectionService.select('1739850096',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1739850096')">
								<i class="nc-icon nc-atom"
									(contextmenu)="__elementSelectionService.select('2131125873',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2131125873')"></i>
							</div>
							<div class="description"
								(contextmenu)="__elementSelectionService.select('1047848189',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1047848189')">
								<h5 class="info-title"
									(contextmenu)="__elementSelectionService.select('636147202',$event)"
									[ngStyle]="__elementSelectionService.getStyles('636147202')">Farmer
									Linkage Services</h5>
								<p class="description"
									(contextmenu)="__elementSelectionService.select('1645407310',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1645407310')">
									We play the critical role of linking farmers with the following
									services.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mr-auto"
						(contextmenu)="__elementSelectionService.select('778779539',$event)"
						[ngStyle]="__elementSelectionService.getStyles('778779539')">
						<div class="card card-signup text-center"
							(contextmenu)="__elementSelectionService.select('924934575',$event)"
							[ngStyle]="__elementSelectionService.getStyles('924934575')">
							<div class="card-header "
								(contextmenu)="__elementSelectionService.select('1141439375',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1141439375')">
								<h4 class="card-title"
									(contextmenu)="__elementSelectionService.select('831332316',$event)"
									[ngStyle]="__elementSelectionService.getStyles('831332316')">Account
									Signup</h4>
								<div class="social"
									(contextmenu)="__elementSelectionService.select('1179459037',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1179459037')">
									<p class="card-description"
										(contextmenu)="__elementSelectionService.select('2052927650',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2052927650')">Enter
										details below to register as a member</p>
								</div>
							</div>
							<div class="card-body "
								(contextmenu)="__elementSelectionService.select('2039118053',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2039118053')">
								<form class="form" name="form" [formGroup]="form" novalidate
									(contextmenu)="__elementSelectionService.select('539028471',$event)"
									[ngStyle]="__elementSelectionService.getStyles('539028471')">
									<div class="input-group"
										(contextmenu)="__elementSelectionService.select('237877723',$event)"
										[ngStyle]="__elementSelectionService.getStyles('237877723')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('501633180',$event)"
											[ngStyle]="__elementSelectionService.getStyles('501633180')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('922836629',$event)"
												[ngStyle]="__elementSelectionService.getStyles('922836629')"><i
												class="nc-icon nc-single-02"
												(contextmenu)="__elementSelectionService.select('274298065',$event)"
												[ngStyle]="__elementSelectionService.getStyles('274298065')"></i></span>
										</div>
										<input class="form-control" placeholder="Name..."
											formControlName="FullName" type="text"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.FullName.errors}"
											(contextmenu)="__elementSelectionService.select('1935275104',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1935275104')">
										<div *ngIf="submitted &#38;&#38; f.FullName.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('1553217575',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1553217575')">
											<div *ngIf="f.FullName.errors.required"
												(contextmenu)="__elementSelectionService.select('1633431766',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1633431766')">Enter
												your full name is required</div>
										</div>
									</div>
									<div class="input-group"
										(contextmenu)="__elementSelectionService.select('980959184',$event)"
										[ngStyle]="__elementSelectionService.getStyles('980959184')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('113124875',$event)"
											[ngStyle]="__elementSelectionService.getStyles('113124875')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('2065064955',$event)"
												[ngStyle]="__elementSelectionService.getStyles('2065064955')"><i
												class="nc-icon nc-circle-10"
												(contextmenu)="__elementSelectionService.select('2068592335',$event)"
												[ngStyle]="__elementSelectionService.getStyles('2068592335')"></i></span>
										</div>
										<input class="form-control" placeholder="Phone..."
											formControlName="PhoneNo" type="text"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.PhoneNo.errors}"
											mask="(+000) 000-000000"
											(contextmenu)="__elementSelectionService.select('11604169',$event)"
											[ngStyle]="__elementSelectionService.getStyles('11604169')">
										<div *ngIf="submitted &#38;&#38; f.PhoneNo.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('2001268906',$event)"
											[ngStyle]="__elementSelectionService.getStyles('2001268906')">
											<div *ngIf="f.PhoneNo.errors.required"
												(contextmenu)="__elementSelectionService.select('1065966595',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1065966595')">Phone
												number is required {{f.PhoneNo.errors | json}}</div>
											<div *ngIf="f.PhoneNo.errors.pattern"
												(contextmenu)="__elementSelectionService.select('636088179',$event)"
												[ngStyle]="__elementSelectionService.getStyles('636088179')">Incorrect!
												use format e.g. (+000) 000-000000</div>
										</div>
									</div>
									<div class="input-group"
										(contextmenu)="__elementSelectionService.select('769037407',$event)"
										[ngStyle]="__elementSelectionService.getStyles('769037407')">
										<div class="input-group-prepend"
											(contextmenu)="__elementSelectionService.select('497806575',$event)"
											[ngStyle]="__elementSelectionService.getStyles('497806575')">
											<span class="input-group-text"
												(contextmenu)="__elementSelectionService.select('1756873245',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1756873245')"><i
												class="nc-icon nc-email-85"
												(contextmenu)="__elementSelectionService.select('47131151',$event)"
												[ngStyle]="__elementSelectionService.getStyles('47131151')"></i></span>
										</div>
										<input class="form-control" placeholder="Email..."
											formControlName="email" type="email"
											[ngClass]="{'is-invalid': submitted &#38;&#38; f.email.errors}"
											(contextmenu)="__elementSelectionService.select('463610469',$event)"
											[ngStyle]="__elementSelectionService.getStyles('463610469')">
										<div *ngIf="submitted &#38;&#38; f.email.errors"
											class="invalid-feedback"
											(contextmenu)="__elementSelectionService.select('1496082794',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1496082794')">
											<div *ngIf="f.email.errors.required"
												(contextmenu)="__elementSelectionService.select('257818488',$event)"
												[ngStyle]="__elementSelectionService.getStyles('257818488')">Email
												address is required</div>
											<div *ngIf="f.email.errors.pattern"
												(contextmenu)="__elementSelectionService.select('1949905870',$event)"
												[ngStyle]="__elementSelectionService.getStyles('1949905870')">Incorrect!
												use format e.g. aa@abc.com</div>
										</div>
									</div>
									<div class="form-check text-left"
										(contextmenu)="__elementSelectionService.select('2114098726',$event)"
										[ngStyle]="__elementSelectionService.getStyles('2114098726')">
										<label class="form-check-label"
											(contextmenu)="__elementSelectionService.select('1155516341',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1155516341')">
											<input checked class="form-check-input" type="checkbox"
											(contextmenu)="__elementSelectionService.select('614024809',$event)"
											[ngStyle]="__elementSelectionService.getStyles('614024809')">
											<span class="form-check-sign"
											(contextmenu)="__elementSelectionService.select('419669623',$event)"
											[ngStyle]="__elementSelectionService.getStyles('419669623')"></span>
											I agree to the <a href="#/"
											(contextmenu)="__elementSelectionService.select('1943711959',$event)"
											[ngStyle]="__elementSelectionService.getStyles('1943711959')">terms
												and conditions</a>.
										</label>
									</div>
								</form>
							</div>
							<div class="card-footer"
								(contextmenu)="__elementSelectionService.select('1224881014',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1224881014')">
								<button class="btn btn-info btn-round" (click)="onSubmit()"
									(contextmenu)="__elementSelectionService.select('658939441',$event)"
									[ngStyle]="__elementSelectionService.getStyles('658939441')">
									Register</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-auth-footer
			(contextmenu)="__elementSelectionService.select('594715824',$event)"
			[ngStyle]="__elementSelectionService.getStyles('594715824')"></app-auth-footer>
		<div class="full-page-background"
			style="background-image: url(./assets/img/bg/jan-sendereks.jpg)"
			(contextmenu)="__elementSelectionService.select('92857345',$event)"
			[ngStyle]="__elementSelectionService.getStyles('92857345')"></div>
	</div>
</div>