<div class="row"
	(contextmenu)="__elementSelectionService.select('37887236',$event)"
	[ngStyle]="__elementSelectionService.getStyles('37887236')"
	(click)='__elementSelectionService.clear()'>
	<div class="col-md-12"
		(contextmenu)="__elementSelectionService.select('1741842361',$event)"
		[ngStyle]="__elementSelectionService.getStyles('1741842361')">
		<div class="card demo-icons"
			(contextmenu)="__elementSelectionService.select('1978334330',$event)"
			[ngStyle]="__elementSelectionService.getStyles('1978334330')">
			<div class="card-header"
				(contextmenu)="__elementSelectionService.select('963654812',$event)"
				[ngStyle]="__elementSelectionService.getStyles('963654812')">
				<h5 class="card-title"
					(contextmenu)="__elementSelectionService.select('1264980618',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1264980618')">100
					Awesome Nucleo Icons</h5>
				<p class="card-category"
					(contextmenu)="__elementSelectionService.select('1065180144',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1065180144')">
					Handcrafted by our friends from <a
						href="https://nucleoapp.com/?ref=1712"
						(contextmenu)="__elementSelectionService.select('500590921',$event)"
						[ngStyle]="__elementSelectionService.getStyles('500590921')">NucleoApp</a>
				</p>
			</div>
			<div class="card-body all-icons"
				(contextmenu)="__elementSelectionService.select('632974011',$event)"
				[ngStyle]="__elementSelectionService.getStyles('632974011')">
				<div id="icons-wrapper"
					(contextmenu)="__elementSelectionService.select('1580453572',$event)"
					[ngStyle]="__elementSelectionService.getStyles('1580453572')">
					<section
						(contextmenu)="__elementSelectionService.select('197438505',$event)"
						[ngStyle]="__elementSelectionService.getStyles('197438505')">
						<ul
							(contextmenu)="__elementSelectionService.select('636878905',$event)"
							[ngStyle]="__elementSelectionService.getStyles('636878905')">
							<li
								(contextmenu)="__elementSelectionService.select('1399806350',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1399806350')">
								<i class="nc-icon nc-air-baloon"
								(contextmenu)="__elementSelectionService.select('325777609',$event)"
								[ngStyle]="__elementSelectionService.getStyles('325777609')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1029815145',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1029815145')">nc-air-baloon</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('671322932',$event)"
								[ngStyle]="__elementSelectionService.getStyles('671322932')">
								<i class="nc-icon nc-album-2"
								(contextmenu)="__elementSelectionService.select('25762963',$event)"
								[ngStyle]="__elementSelectionService.getStyles('25762963')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1163985115',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1163985115')">nc-album-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1969963501',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1969963501')">
								<i class="nc-icon nc-alert-circle-i"
								(contextmenu)="__elementSelectionService.select('1103492679',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1103492679')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('148965224',$event)"
									[ngStyle]="__elementSelectionService.getStyles('148965224')">nc-alert-circle-i</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1170975095',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1170975095')">
								<i class="nc-icon nc-align-center"
								(contextmenu)="__elementSelectionService.select('1778449418',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1778449418')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('77154499',$event)"
									[ngStyle]="__elementSelectionService.getStyles('77154499')">nc-align-center</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('79938943',$event)"
								[ngStyle]="__elementSelectionService.getStyles('79938943')">
								<i class="nc-icon nc-align-left-2"
								(contextmenu)="__elementSelectionService.select('484136065',$event)"
								[ngStyle]="__elementSelectionService.getStyles('484136065')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1901464508',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1901464508')">nc-align-left-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1070045701',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1070045701')">
								<i class="nc-icon nc-ambulance"
								(contextmenu)="__elementSelectionService.select('624253119',$event)"
								[ngStyle]="__elementSelectionService.getStyles('624253119')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1661759428',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1661759428')">nc-ambulance</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('575050738',$event)"
								[ngStyle]="__elementSelectionService.getStyles('575050738')">
								<i class="nc-icon nc-app"
								(contextmenu)="__elementSelectionService.select('567419405',$event)"
								[ngStyle]="__elementSelectionService.getStyles('567419405')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('774731304',$event)"
									[ngStyle]="__elementSelectionService.getStyles('774731304')">nc-app</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('786386534',$event)"
								[ngStyle]="__elementSelectionService.getStyles('786386534')">
								<i class="nc-icon nc-atom"
								(contextmenu)="__elementSelectionService.select('948994380',$event)"
								[ngStyle]="__elementSelectionService.getStyles('948994380')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('149032473',$event)"
									[ngStyle]="__elementSelectionService.getStyles('149032473')">nc-atom</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1295758619',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1295758619')">
								<i class="nc-icon nc-badge"
								(contextmenu)="__elementSelectionService.select('432242340',$event)"
								[ngStyle]="__elementSelectionService.getStyles('432242340')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('635770417',$event)"
									[ngStyle]="__elementSelectionService.getStyles('635770417')">nc-badge</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1039091282',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1039091282')">
								<i class="nc-icon nc-bag-16"
								(contextmenu)="__elementSelectionService.select('762097561',$event)"
								[ngStyle]="__elementSelectionService.getStyles('762097561')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('802738894',$event)"
									[ngStyle]="__elementSelectionService.getStyles('802738894')">nc-bag-16</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('578887066',$event)"
								[ngStyle]="__elementSelectionService.getStyles('578887066')">
								<i class="nc-icon nc-bank"
								(contextmenu)="__elementSelectionService.select('1704661582',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1704661582')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('759396611',$event)"
									[ngStyle]="__elementSelectionService.getStyles('759396611')">nc-bank</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1155829959',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1155829959')">
								<i class="nc-icon nc-basket"
								(contextmenu)="__elementSelectionService.select('1856186380',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1856186380')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1402429172',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1402429172')">nc-basket</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1697296100',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1697296100')">
								<i class="nc-icon nc-bell-55"
								(contextmenu)="__elementSelectionService.select('94926894',$event)"
								[ngStyle]="__elementSelectionService.getStyles('94926894')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1924977631',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1924977631')">nc-bell-55</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('464868226',$event)"
								[ngStyle]="__elementSelectionService.getStyles('464868226')">
								<i class="nc-icon nc-bold"
								(contextmenu)="__elementSelectionService.select('727225246',$event)"
								[ngStyle]="__elementSelectionService.getStyles('727225246')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1836578771',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1836578771')">nc-bold</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2034365321',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2034365321')">
								<i class="nc-icon nc-book-bookmark"
								(contextmenu)="__elementSelectionService.select('1213830752',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1213830752')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('661797014',$event)"
									[ngStyle]="__elementSelectionService.getStyles('661797014')">nc-book-bookmark</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1969851076',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1969851076')">
								<i class="nc-icon nc-bookmark-2"
								(contextmenu)="__elementSelectionService.select('63103579',$event)"
								[ngStyle]="__elementSelectionService.getStyles('63103579')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('128753365',$event)"
									[ngStyle]="__elementSelectionService.getStyles('128753365')">nc-bookmark-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('825012286',$event)"
								[ngStyle]="__elementSelectionService.getStyles('825012286')">
								<i class="nc-icon nc-box-2"
								(contextmenu)="__elementSelectionService.select('136983413',$event)"
								[ngStyle]="__elementSelectionService.getStyles('136983413')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('485410833',$event)"
									[ngStyle]="__elementSelectionService.getStyles('485410833')">nc-box-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2136455023',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2136455023')">
								<i class="nc-icon nc-box"
								(contextmenu)="__elementSelectionService.select('724456955',$event)"
								[ngStyle]="__elementSelectionService.getStyles('724456955')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1917217392',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1917217392')">nc-box</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('402819689',$event)"
								[ngStyle]="__elementSelectionService.getStyles('402819689')">
								<i class="nc-icon nc-briefcase-24"
								(contextmenu)="__elementSelectionService.select('1512880841',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1512880841')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('57982458',$event)"
									[ngStyle]="__elementSelectionService.getStyles('57982458')">nc-briefcase-24</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1109414414',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1109414414')">
								<i class="nc-icon nc-bulb-63"
								(contextmenu)="__elementSelectionService.select('1325259233',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1325259233')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1899550725',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1899550725')">nc-bulb-63</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1468342453',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1468342453')">
								<i class="nc-icon nc-bullet-list-67"
								(contextmenu)="__elementSelectionService.select('401979497',$event)"
								[ngStyle]="__elementSelectionService.getStyles('401979497')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('929515943',$event)"
									[ngStyle]="__elementSelectionService.getStyles('929515943')">nc-bullet-list-67</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2639806',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2639806')">
								<i class="nc-icon nc-bus-front-12"
								(contextmenu)="__elementSelectionService.select('2127978374',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2127978374')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1155172037',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1155172037')">nc-bus-front-12</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1241367944',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1241367944')">
								<i class="nc-icon nc-button-pause"
								(contextmenu)="__elementSelectionService.select('187334334',$event)"
								[ngStyle]="__elementSelectionService.getStyles('187334334')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1196177970',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1196177970')">nc-button-pause</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1471180976',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1471180976')">
								<i class="nc-icon nc-button-play"
								(contextmenu)="__elementSelectionService.select('1883647563',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1883647563')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('683766131',$event)"
									[ngStyle]="__elementSelectionService.getStyles('683766131')">nc-button-play</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('242893811',$event)"
								[ngStyle]="__elementSelectionService.getStyles('242893811')">
								<i class="nc-icon nc-button-power"
								(contextmenu)="__elementSelectionService.select('1520142204',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1520142204')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('468639250',$event)"
									[ngStyle]="__elementSelectionService.getStyles('468639250')">nc-button-power</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('948399861',$event)"
								[ngStyle]="__elementSelectionService.getStyles('948399861')">
								<i class="nc-icon nc-calendar-60"
								(contextmenu)="__elementSelectionService.select('1681835981',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1681835981')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1654131793',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1654131793')">nc-calendar-60</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('258691166',$event)"
								[ngStyle]="__elementSelectionService.getStyles('258691166')">
								<i class="nc-icon nc-camera-compact"
								(contextmenu)="__elementSelectionService.select('202930048',$event)"
								[ngStyle]="__elementSelectionService.getStyles('202930048')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('512416097',$event)"
									[ngStyle]="__elementSelectionService.getStyles('512416097')">nc-camera-compact</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1020441701',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1020441701')">
								<i class="nc-icon nc-caps-small"
								(contextmenu)="__elementSelectionService.select('1777269249',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1777269249')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('646264011',$event)"
									[ngStyle]="__elementSelectionService.getStyles('646264011')">nc-caps-small</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1846321323',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1846321323')">
								<i class="nc-icon nc-cart-simple"
								(contextmenu)="__elementSelectionService.select('1205096595',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1205096595')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1500812442',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1500812442')">nc-cart-simple</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1448656915',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1448656915')">
								<i class="nc-icon nc-chart-bar-32"
								(contextmenu)="__elementSelectionService.select('1574579083',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1574579083')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('946845803',$event)"
									[ngStyle]="__elementSelectionService.getStyles('946845803')">nc-chart-bar-32</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1170357176',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1170357176')">
								<i class="nc-icon nc-chart-pie-36"
								(contextmenu)="__elementSelectionService.select('1435116363',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1435116363')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1501613058',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1501613058')">nc-chart-pie-36</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('485067705',$event)"
								[ngStyle]="__elementSelectionService.getStyles('485067705')">
								<i class="nc-icon nc-chat-33"
								(contextmenu)="__elementSelectionService.select('1210219623',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1210219623')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1278647891',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1278647891')">nc-chat-33</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('327793419',$event)"
								[ngStyle]="__elementSelectionService.getStyles('327793419')">
								<i class="nc-icon nc-check-2"
								(contextmenu)="__elementSelectionService.select('1139629696',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1139629696')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('410506206',$event)"
									[ngStyle]="__elementSelectionService.getStyles('410506206')">nc-check-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1623921285',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1623921285')">
								<i class="nc-icon nc-circle-10"
								(contextmenu)="__elementSelectionService.select('1044687988',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1044687988')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('393542754',$event)"
									[ngStyle]="__elementSelectionService.getStyles('393542754')">nc-circle-10</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('825959537',$event)"
								[ngStyle]="__elementSelectionService.getStyles('825959537')">
								<i class="nc-icon nc-cloud-download-93"
								(contextmenu)="__elementSelectionService.select('157042665',$event)"
								[ngStyle]="__elementSelectionService.getStyles('157042665')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('316698042',$event)"
									[ngStyle]="__elementSelectionService.getStyles('316698042')">nc-cloud-download-93</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('575079528',$event)"
								[ngStyle]="__elementSelectionService.getStyles('575079528')">
								<i class="nc-icon nc-cloud-upload-94"
								(contextmenu)="__elementSelectionService.select('1253549309',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1253549309')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('557826381',$event)"
									[ngStyle]="__elementSelectionService.getStyles('557826381')">nc-cloud-upload-94</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('807658861',$event)"
								[ngStyle]="__elementSelectionService.getStyles('807658861')">
								<i class="nc-icon nc-compass-05"
								(contextmenu)="__elementSelectionService.select('719176517',$event)"
								[ngStyle]="__elementSelectionService.getStyles('719176517')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1572473519',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1572473519')">nc-compass-05</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('47226364',$event)"
								[ngStyle]="__elementSelectionService.getStyles('47226364')">
								<i class="nc-icon nc-controller-modern"
								(contextmenu)="__elementSelectionService.select('771168326',$event)"
								[ngStyle]="__elementSelectionService.getStyles('771168326')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1769222486',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1769222486')">nc-controller-modern</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1679204773',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1679204773')">
								<i class="nc-icon nc-credit-card"
								(contextmenu)="__elementSelectionService.select('1655701414',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1655701414')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1997532829',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1997532829')">nc-credit-card</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1060736939',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1060736939')">
								<i class="nc-icon nc-delivery-fast"
								(contextmenu)="__elementSelectionService.select('1853037152',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1853037152')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1933347527',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1933347527')">nc-delivery-fast</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2077227323',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2077227323')">
								<i class="nc-icon nc-diamond"
								(contextmenu)="__elementSelectionService.select('142112062',$event)"
								[ngStyle]="__elementSelectionService.getStyles('142112062')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('2116996683',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2116996683')">nc-diamond</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1775438331',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1775438331')">
								<i class="nc-icon nc-email-85"
								(contextmenu)="__elementSelectionService.select('1834034139',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1834034139')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('642476746',$event)"
									[ngStyle]="__elementSelectionService.getStyles('642476746')">nc-email-85</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('782214366',$event)"
								[ngStyle]="__elementSelectionService.getStyles('782214366')">
								<i class="nc-icon nc-favourite-28"
								(contextmenu)="__elementSelectionService.select('1609759783',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1609759783')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1004094457',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1004094457')">nc-favourite-28</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1186554738',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1186554738')">
								<i class="nc-icon nc-glasses-2"
								(contextmenu)="__elementSelectionService.select('357795375',$event)"
								[ngStyle]="__elementSelectionService.getStyles('357795375')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1569215334',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1569215334')">nc-glasses-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('750716325',$event)"
								[ngStyle]="__elementSelectionService.getStyles('750716325')">
								<i class="nc-icon nc-globe-2"
								(contextmenu)="__elementSelectionService.select('563106227',$event)"
								[ngStyle]="__elementSelectionService.getStyles('563106227')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('679205200',$event)"
									[ngStyle]="__elementSelectionService.getStyles('679205200')">nc-globe-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('938978394',$event)"
								[ngStyle]="__elementSelectionService.getStyles('938978394')">
								<i class="nc-icon nc-globe"
								(contextmenu)="__elementSelectionService.select('1672545580',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1672545580')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1083170080',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1083170080')">nc-globe</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('919092536',$event)"
								[ngStyle]="__elementSelectionService.getStyles('919092536')">
								<i class="nc-icon nc-hat-3"
								(contextmenu)="__elementSelectionService.select('1012384455',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1012384455')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1461987332',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1461987332')">nc-hat-3</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1769773341',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1769773341')">
								<i class="nc-icon nc-headphones"
								(contextmenu)="__elementSelectionService.select('514476279',$event)"
								[ngStyle]="__elementSelectionService.getStyles('514476279')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('485089311',$event)"
									[ngStyle]="__elementSelectionService.getStyles('485089311')">nc-headphones</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1794875278',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1794875278')">
								<i class="nc-icon nc-html5"
								(contextmenu)="__elementSelectionService.select('1740785597',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1740785597')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('736319042',$event)"
									[ngStyle]="__elementSelectionService.getStyles('736319042')">nc-html5</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2027532857',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2027532857')">
								<i class="nc-icon nc-image"
								(contextmenu)="__elementSelectionService.select('1323849027',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1323849027')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('996281484',$event)"
									[ngStyle]="__elementSelectionService.getStyles('996281484')">nc-image</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('176299236',$event)"
								[ngStyle]="__elementSelectionService.getStyles('176299236')">
								<i class="nc-icon nc-istanbul"
								(contextmenu)="__elementSelectionService.select('1065304055',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1065304055')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('858863382',$event)"
									[ngStyle]="__elementSelectionService.getStyles('858863382')">nc-istanbul</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('404511632',$event)"
								[ngStyle]="__elementSelectionService.getStyles('404511632')">
								<i class="nc-icon nc-key-25"
								(contextmenu)="__elementSelectionService.select('48431435',$event)"
								[ngStyle]="__elementSelectionService.getStyles('48431435')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1151669863',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1151669863')">nc-key-25</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2123763810',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2123763810')">
								<i class="nc-icon nc-laptop"
								(contextmenu)="__elementSelectionService.select('78386427',$event)"
								[ngStyle]="__elementSelectionService.getStyles('78386427')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('517973116',$event)"
									[ngStyle]="__elementSelectionService.getStyles('517973116')">nc-laptop</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1923452910',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1923452910')">
								<i class="nc-icon nc-layout-11"
								(contextmenu)="__elementSelectionService.select('1023313112',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1023313112')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1485919344',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1485919344')">nc-layout-11</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('990836570',$event)"
								[ngStyle]="__elementSelectionService.getStyles('990836570')">
								<i class="nc-icon nc-lock-circle-open"
								(contextmenu)="__elementSelectionService.select('1695204650',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1695204650')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('765089047',$event)"
									[ngStyle]="__elementSelectionService.getStyles('765089047')">nc-lock-circle-open</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2147137024',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2147137024')">
								<i class="nc-icon nc-map-big"
								(contextmenu)="__elementSelectionService.select('864168578',$event)"
								[ngStyle]="__elementSelectionService.getStyles('864168578')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('9603661',$event)"
									[ngStyle]="__elementSelectionService.getStyles('9603661')">nc-map-big</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2136950181',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2136950181')">
								<i class="nc-icon nc-minimal-down"
								(contextmenu)="__elementSelectionService.select('1438627576',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1438627576')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('2009809143',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2009809143')">nc-minimal-down</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1663003809',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1663003809')">
								<i class="nc-icon nc-minimal-left"
								(contextmenu)="__elementSelectionService.select('1726512906',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1726512906')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1321737561',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1321737561')">nc-minimal-left</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1663643791',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1663643791')">
								<i class="nc-icon nc-minimal-right"
								(contextmenu)="__elementSelectionService.select('2076914223',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2076914223')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1585316467',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1585316467')">nc-minimal-right</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1356000816',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1356000816')">
								<i class="nc-icon nc-minimal-up"
								(contextmenu)="__elementSelectionService.select('2060780013',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2060780013')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1487736530',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1487736530')">nc-minimal-up</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1995366958',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1995366958')">
								<i class="nc-icon nc-mobile"
								(contextmenu)="__elementSelectionService.select('831140269',$event)"
								[ngStyle]="__elementSelectionService.getStyles('831140269')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1661109272',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1661109272')">nc-mobile</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1399442740',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1399442740')">
								<i class="nc-icon nc-money-coins"
								(contextmenu)="__elementSelectionService.select('1377286885',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1377286885')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('846261843',$event)"
									[ngStyle]="__elementSelectionService.getStyles('846261843')">nc-money-coins</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1160089153',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1160089153')">
								<i class="nc-icon nc-note-03"
								(contextmenu)="__elementSelectionService.select('1488513980',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1488513980')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('932684508',$event)"
									[ngStyle]="__elementSelectionService.getStyles('932684508')">nc-note-03</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('35704843',$event)"
								[ngStyle]="__elementSelectionService.getStyles('35704843')">
								<i class="nc-icon nc-palette"
								(contextmenu)="__elementSelectionService.select('1797132680',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1797132680')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1961157212',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1961157212')">nc-palette</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('2129608542',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2129608542')">
								<i class="nc-icon nc-paper"
								(contextmenu)="__elementSelectionService.select('2060130304',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2060130304')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1631765632',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1631765632')">nc-paper</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('845622518',$event)"
								[ngStyle]="__elementSelectionService.getStyles('845622518')">
								<i class="nc-icon nc-pin-3"
								(contextmenu)="__elementSelectionService.select('896921643',$event)"
								[ngStyle]="__elementSelectionService.getStyles('896921643')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('400352669',$event)"
									[ngStyle]="__elementSelectionService.getStyles('400352669')">nc-pin-3</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1615680802',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1615680802')">
								<i class="nc-icon nc-planet"
								(contextmenu)="__elementSelectionService.select('1799800129',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1799800129')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1898484906',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1898484906')">nc-planet</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('27817759',$event)"
								[ngStyle]="__elementSelectionService.getStyles('27817759')">
								<i class="nc-icon nc-refresh-69"
								(contextmenu)="__elementSelectionService.select('189187661',$event)"
								[ngStyle]="__elementSelectionService.getStyles('189187661')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1450669737',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1450669737')">nc-refresh-69</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1666131209',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1666131209')">
								<i class="nc-icon nc-ruler-pencil"
								(contextmenu)="__elementSelectionService.select('563984112',$event)"
								[ngStyle]="__elementSelectionService.getStyles('563984112')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('475297824',$event)"
									[ngStyle]="__elementSelectionService.getStyles('475297824')">nc-ruler-pencil</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1912309565',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1912309565')">
								<i class="nc-icon nc-satisfied"
								(contextmenu)="__elementSelectionService.select('1803977574',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1803977574')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('669029072',$event)"
									[ngStyle]="__elementSelectionService.getStyles('669029072')">nc-satisfied</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('415923060',$event)"
								[ngStyle]="__elementSelectionService.getStyles('415923060')">
								<i class="nc-icon nc-scissors"
								(contextmenu)="__elementSelectionService.select('900056383',$event)"
								[ngStyle]="__elementSelectionService.getStyles('900056383')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1785195870',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1785195870')">nc-scissors</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1228047568',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1228047568')">
								<i class="nc-icon nc-send"
								(contextmenu)="__elementSelectionService.select('48777049',$event)"
								[ngStyle]="__elementSelectionService.getStyles('48777049')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('427812358',$event)"
									[ngStyle]="__elementSelectionService.getStyles('427812358')">nc-send</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1277683050',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1277683050')">
								<i class="nc-icon nc-settings-gear-65"
								(contextmenu)="__elementSelectionService.select('300870714',$event)"
								[ngStyle]="__elementSelectionService.getStyles('300870714')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1375515601',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1375515601')">nc-settings-gear-65</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('936718398',$event)"
								[ngStyle]="__elementSelectionService.getStyles('936718398')">
								<i class="nc-icon nc-settings"
								(contextmenu)="__elementSelectionService.select('1143643931',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1143643931')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('583214232',$event)"
									[ngStyle]="__elementSelectionService.getStyles('583214232')">nc-settings</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('378894634',$event)"
								[ngStyle]="__elementSelectionService.getStyles('378894634')">
								<i class="nc-icon nc-share-66"
								(contextmenu)="__elementSelectionService.select('148893446',$event)"
								[ngStyle]="__elementSelectionService.getStyles('148893446')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('404585281',$event)"
									[ngStyle]="__elementSelectionService.getStyles('404585281')">nc-share-66</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('599882558',$event)"
								[ngStyle]="__elementSelectionService.getStyles('599882558')">
								<i class="nc-icon nc-shop"
								(contextmenu)="__elementSelectionService.select('505416261',$event)"
								[ngStyle]="__elementSelectionService.getStyles('505416261')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1768972632',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1768972632')">nc-shop</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('440719428',$event)"
								[ngStyle]="__elementSelectionService.getStyles('440719428')">
								<i class="nc-icon nc-simple-add"
								(contextmenu)="__elementSelectionService.select('846485689',$event)"
								[ngStyle]="__elementSelectionService.getStyles('846485689')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('748166800',$event)"
									[ngStyle]="__elementSelectionService.getStyles('748166800')">nc-simple-add</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1174978810',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1174978810')">
								<i class="nc-icon nc-simple-delete"
								(contextmenu)="__elementSelectionService.select('2050139783',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2050139783')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1788053736',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1788053736')">nc-simple-delete</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('101939124',$event)"
								[ngStyle]="__elementSelectionService.getStyles('101939124')">
								<i class="nc-icon nc-simple-remove"
								(contextmenu)="__elementSelectionService.select('110917788',$event)"
								[ngStyle]="__elementSelectionService.getStyles('110917788')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1769332822',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1769332822')">nc-simple-remove</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('525853016',$event)"
								[ngStyle]="__elementSelectionService.getStyles('525853016')">
								<i class="nc-icon nc-single-02"
								(contextmenu)="__elementSelectionService.select('48536529',$event)"
								[ngStyle]="__elementSelectionService.getStyles('48536529')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1733909385',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1733909385')">nc-single-02</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('560488548',$event)"
								[ngStyle]="__elementSelectionService.getStyles('560488548')">
								<i class="nc-icon nc-single-copy-04"
								(contextmenu)="__elementSelectionService.select('26544176',$event)"
								[ngStyle]="__elementSelectionService.getStyles('26544176')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('663298496',$event)"
									[ngStyle]="__elementSelectionService.getStyles('663298496')">nc-single-copy-04</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('169980843',$event)"
								[ngStyle]="__elementSelectionService.getStyles('169980843')">
								<i class="nc-icon nc-sound-wave"
								(contextmenu)="__elementSelectionService.select('1755879883',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1755879883')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1104533606',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1104533606')">nc-sound-wave</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('792491709',$event)"
								[ngStyle]="__elementSelectionService.getStyles('792491709')">
								<i class="nc-icon nc-spaceship"
								(contextmenu)="__elementSelectionService.select('679945242',$event)"
								[ngStyle]="__elementSelectionService.getStyles('679945242')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('72189440',$event)"
									[ngStyle]="__elementSelectionService.getStyles('72189440')">nc-spaceship</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1806985223',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1806985223')">
								<i class="nc-icon nc-sun-fog-29"
								(contextmenu)="__elementSelectionService.select('670134866',$event)"
								[ngStyle]="__elementSelectionService.getStyles('670134866')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('910636354',$event)"
									[ngStyle]="__elementSelectionService.getStyles('910636354')">nc-sun-fog-29</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1590876172',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1590876172')">
								<i class="nc-icon nc-support-17"
								(contextmenu)="__elementSelectionService.select('384726913',$event)"
								[ngStyle]="__elementSelectionService.getStyles('384726913')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('983688428',$event)"
									[ngStyle]="__elementSelectionService.getStyles('983688428')">nc-support-17</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('901987295',$event)"
								[ngStyle]="__elementSelectionService.getStyles('901987295')">
								<i class="nc-icon nc-tablet-2"
								(contextmenu)="__elementSelectionService.select('2098829267',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2098829267')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('414098830',$event)"
									[ngStyle]="__elementSelectionService.getStyles('414098830')">nc-tablet-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('765306099',$event)"
								[ngStyle]="__elementSelectionService.getStyles('765306099')">
								<i class="nc-icon nc-tag-content"
								(contextmenu)="__elementSelectionService.select('28077916',$event)"
								[ngStyle]="__elementSelectionService.getStyles('28077916')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('809162677',$event)"
									[ngStyle]="__elementSelectionService.getStyles('809162677')">nc-tag-content</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1574278889',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1574278889')">
								<i class="nc-icon nc-tap-01"
								(contextmenu)="__elementSelectionService.select('489622428',$event)"
								[ngStyle]="__elementSelectionService.getStyles('489622428')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('2132492778',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2132492778')">nc-tap-01</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('435861187',$event)"
								[ngStyle]="__elementSelectionService.getStyles('435861187')">
								<i class="nc-icon nc-tie-bow"
								(contextmenu)="__elementSelectionService.select('1760102859',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1760102859')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('226466977',$event)"
									[ngStyle]="__elementSelectionService.getStyles('226466977')">nc-tie-bow</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('684624117',$event)"
								[ngStyle]="__elementSelectionService.getStyles('684624117')">
								<i class="nc-icon nc-tile-56"
								(contextmenu)="__elementSelectionService.select('1682861953',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1682861953')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1154057618',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1154057618')">nc-tile-56</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('891458366',$event)"
								[ngStyle]="__elementSelectionService.getStyles('891458366')">
								<i class="nc-icon nc-time-alarm"
								(contextmenu)="__elementSelectionService.select('1777806415',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1777806415')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('2119328919',$event)"
									[ngStyle]="__elementSelectionService.getStyles('2119328919')">nc-time-alarm</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1983880154',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1983880154')">
								<i class="nc-icon nc-touch-id"
								(contextmenu)="__elementSelectionService.select('1462066496',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1462066496')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('132159167',$event)"
									[ngStyle]="__elementSelectionService.getStyles('132159167')">nc-touch-id</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1786461192',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1786461192')">
								<i class="nc-icon nc-trophy"
								(contextmenu)="__elementSelectionService.select('1620085718',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1620085718')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('488768985',$event)"
									[ngStyle]="__elementSelectionService.getStyles('488768985')">nc-trophy</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('510930348',$event)"
								[ngStyle]="__elementSelectionService.getStyles('510930348')">
								<i class="nc-icon nc-tv-2"
								(contextmenu)="__elementSelectionService.select('769448214',$event)"
								[ngStyle]="__elementSelectionService.getStyles('769448214')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1232484672',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1232484672')">nc-tv-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1157095802',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1157095802')">
								<i class="nc-icon nc-umbrella-13"
								(contextmenu)="__elementSelectionService.select('2077342981',$event)"
								[ngStyle]="__elementSelectionService.getStyles('2077342981')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('814665472',$event)"
									[ngStyle]="__elementSelectionService.getStyles('814665472')">nc-umbrella-13</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1212828776',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1212828776')">
								<i class="nc-icon nc-user-run"
								(contextmenu)="__elementSelectionService.select('860719146',$event)"
								[ngStyle]="__elementSelectionService.getStyles('860719146')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1166160595',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1166160595')">nc-user-run</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('53609388',$event)"
								[ngStyle]="__elementSelectionService.getStyles('53609388')">
								<i class="nc-icon nc-vector"
								(contextmenu)="__elementSelectionService.select('419505838',$event)"
								[ngStyle]="__elementSelectionService.getStyles('419505838')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('1188229500',$event)"
									[ngStyle]="__elementSelectionService.getStyles('1188229500')">nc-vector</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('311580639',$event)"
								[ngStyle]="__elementSelectionService.getStyles('311580639')">
								<i class="nc-icon nc-watch-time"
								(contextmenu)="__elementSelectionService.select('19794242',$event)"
								[ngStyle]="__elementSelectionService.getStyles('19794242')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('285895583',$event)"
									[ngStyle]="__elementSelectionService.getStyles('285895583')">nc-watch-time</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1073881555',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1073881555')">
								<i class="nc-icon nc-world-2"
								(contextmenu)="__elementSelectionService.select('1076800163',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1076800163')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('826007549',$event)"
									[ngStyle]="__elementSelectionService.getStyles('826007549')">nc-world-2</p>
							</li>
							<li
								(contextmenu)="__elementSelectionService.select('1932467414',$event)"
								[ngStyle]="__elementSelectionService.getStyles('1932467414')">
								<i class="nc-icon nc-zoom-split"
								(contextmenu)="__elementSelectionService.select('577939417',$event)"
								[ngStyle]="__elementSelectionService.getStyles('577939417')"></i>
								<p
									(contextmenu)="__elementSelectionService.select('389835398',$event)"
									[ngStyle]="__elementSelectionService.getStyles('389835398')">nc-zoom-split</p>
							</li>

						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
